<div class="container white-bck dark-gray padb20">
  <%= render :partial => 'messages/menu' %>

  <div class="block100 table-holder">
    <div id="header_messages">
      <h3> <%= t '.recipient' %> <a href="<%= messages_path %>">>> <%= t '.back' %></a></h3>
    </div>
    <p class="who_message_big"><%= t '.subject' %> :
      <% if @message.title %>
          <%= h @message.title %>
      <% else %>
          <%= (t("message.show.category_#{@message.category_ticket_id}")) if @message.category_ticket %>
      <% end %>
    </p>
    <ul class="list-group">
      <li class="list-group-item"><%= t '.subject' %></li>

      <% if @message.title %>
          <li class="list-group-item">
            <%= h @message.title %>
          </li>
      <% else %>
          <li class="list-group-item">
            <%= (t("message.show.category_#{@message.category_ticket_id}")) if @message.category_ticket %>
          </li>
      <% end %>
    </ul>
    <% message = params[:all] ? @message.message_tickets.ordered : @message.message_tickets.ordered.limit(3) %>
    <% total = @message.message_tickets.count %>
    <% if !params[:all] && total > 3 %>
        <%= link_to t('.all'), message_path(:id => params[:id], :all => 1), :class => :btn_all_message %>
    <% end %>
    <%= render :partial => 'messages/show/dialog', :collection => message.reverse %>
    <%= form_for :message_ticket, :url => ticket_message_tickets_path(:ticket_id => @message.to_param), :html => { :id => 'new_reply' } do |f| %>
        <div class="who_message_big">
        <%= text_area_tag 'message',nil,:cols => 101, :rows => 8 %><br />
        <p>
          <button type="submit" id='reply' class="btn btn-primary btn-block"><%= t '.send' %></button>
        </p>
    <% end %>
  </div>

</div>

<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "messages/messages" %>
<% end %>