<div id='title' class="urgent"><%= t '.title' %></div>
<div id="titles-wrap" class="urgent">
  <div class="top"></div>
  <%= t('.description', :full_name => "#{current_customer.first_name.capitalize} #{current_customer.last_name.capitalize}", :url_condiction => info_path(:page_name => t('.routes.infos.params.conditions'))) %>

  <div id="contact-wrap" class="urgent">
    <div id="tabs-content">
      <div id="messages">
        <table cellspacing="0" cellpadding="0" border="0">
          <colgroup>
            <col id="date2">
            <col id="amount">
            <col id="reason">
            <col id="comm">
            <col id="account">
          </colgroup>
          <tbody>
          <tr>
            <th><%= t '.date' %></th>
            <th>
              <%= t '.amount' %>
            </th>
            <th>
              <%= t '.reason' %>
            </th>
            <th>
              <%= t '.communication' %>
            </th>
            <th>
              <%= t '.account' %>
            </th>
          </tr>
          <%= render :partial => 'messages/urgent/message', :collection => @offline_request %>
          <tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="end"></div>
</div>