<div class="switch_dom" id="switch_dom">
  <div id="title"><%= t '.title' %></div>
  <div style="margin-left: 20px; width: 800px;">
    <%= form_for(:customer, :url => customer_payment_methods_path(:customer_id => current_customer.to_param), :html => { :method => :put, :id => :payment_methods }) do |f| %>
    <%= hidden_field_tag(:type, 'credit_card_modification')  %>
    <div style="width: 800px;" > 
      <%= image_tag 'card.png', :class => :img_card %>
      <p><%= t('.credit_card_redirect').html_safe %></p>
    </div>
    <div align="right" style="padding-right: 8px;">
      <div class="choice">
        <table>
          <tr>
            <td>	
              <input type="radio" value="visa" name="brand" id="visa">
            </td>
            <td align="center" valign="middle">
              <%= image_tag "visa_icon.png" %><p>Visa</p>
            </td>
            <td><input type="radio" value="mastercard" name="brand" id="master"></td>
            <td align="center" valign="middle">
              <%= image_tag "master_card_icon.png" %>
              <p>Master Card </p>
            </td>
            <td>
              <input type="radio" value="american Express" name="brand" id="amex">
            </td>
            <td align="center" valign="middle">
              <%= image_tag "american-express_icon.png" %>
              <p>American Express</p>
            </td>
          </tr>
        </table>
        <table cellspacing="0" cellpadding="0">
          <tr>
            <td align="left"><img width="130" height="66" align="left" style="padding-right: 25px;" src="http://www.dvdpost.be/images/www3/languages/french/images/buttons/canvas/logo_ogone_big.gif"></td>
            <td style="padding-top: 15px; padding-left: 10px;">
              <button type="submit" class="button_confirm_switch"><%= t'.follow' %></button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
  </div>
</div>