<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "tvod_only_payment_step" %>
<% end %>
<div class="step">
  <div class="logo-page"></div>
  <%= link_to destroy_customer_session_path, :method => :delete do %>
    <label class="log-out"><%= t('promotion.newstep3.signout') %></label>
  <% end %>

  <div class="main-block">
    <label class="main-caption"><%= t('promotion.newstep3.line1').html_safe %></label>
    <label class="main-text"><%= t('promotion.newstep3.line2').html_safe %></label>
    <ul class="main-list">
      <li><%= t('promotion.newstep3.line3').html_safe %> (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)</li>
      <li><%= t('promotion.newstep3.line4').html_safe %></li>
      <li><%= t('promotion.newstep3.line5').html_safe %></li>
    </ul>
    <div class="lock-block">
      <div class="lock-img"></div>
      <div class="secure">
        <label class="server"><%= t('promotion.newstep3.serversecure1').html_safe %></label>
        <label class="plus"><a href="https://payment-services.ingenico.com/be/en/online-payment-services-solutions/e-commerce" target="blank" id="secure_payment_link"><%= t('promotion.newstep3.serversecure2').html_safe %></a></label>
      </div>
    </div>

    <div id="accordion">
      <section id="item1">
        <p class="pointer">&#9654;</p>
        <h1><a href=""><%= t('promotion.newstep3.paymentoption1').html_safe %></a></h1>
        <%= form_for(:customer, :url => customer_payment_methods_path(:customer_id => current_customer.to_param), :html => {:method => :put, :id => "form_step3"}) do |f| %>
          <div class="grid grid-pad">
              <div class="col-1-3">
                 <div class="content">
                   <table>
                    <tr>
                      <td>
                      <%= link_to(image_tag('visa_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'visa', :source => params[:source]
                      ), :method => :put) %>                      </td>
                    </tr>
                  </table>
                 </div>
              </div>
              <div class="col-1-3">
                 <div class="content">
                    <table>
                      <tr>
                      <%= link_to(image_tag('mastercard_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'mastercard', :source => params[:source]
                      ), :method => :put) %>                      </tr>
                    </table>
                 </div>
              </div>
              <div class="col-1-3">
                 <div class="content">
                    <table>
                      <tr>
                        <td>
                        <%= link_to(image_tag('amex_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'american Express', :source => params[:source]
                        ), :method => :put) %>                        </td>
                      </tr>
                    </table>
                 </div>
              </div>
          </div>
        <% end %>
      </section>
      <!--
      <section id="item2" class="ac_hidden">
        <p class="pointer">&#9654;</p>
        <h1><a href="#"><%= t('promotion.newstep3.paymentoption2').html_safe %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag "step3/paypal.png" %></a>
        </h1>
        <p>Pellentesque habitant... </p>
      </section>
      <section id="item3" class="ac_hidden">
        <p class="pointer">&#9654;</p>
        <h1>
          <a href="#"><%= t('promotion.newstep3.paymentoption3').html_safe %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag "step3/virement.png" %></a>
        </h1>
        <p>Pellentesque habitant... </p>
        <p>Pellentesque habitant... </p>
      </section>
    -->
    </div>

    <label class="phone-number"><%= t('promotion.newstep3.supportinfo').html_safe %></label>
    <%= link_to t('promotion.newstep3.conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')), class: "conditions-d-utilisation" %>
  </div>
</div>
<div id='alert_cc' style="display:none">
  <%= t('.alert_cc') %>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $("#accordion section h1").click(function (e) {
      $(this).parents().siblings("section").addClass("ac_hidden");
      $(this).parents("section").removeClass("ac_hidden");
      e.preventDefault();
    });
  });
</script>



<!--



<% data = @product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>

<div id="step_wrap">
  <div class="paiement_form">
    <h3><%= t('.select') %></h3>
    <div class="film_infos" >
      <div id="left_part">
        <%= link_to(image_tag(product_image, :size => '100x150') ,product_path(:id => @product.to_param)) %>
      </div>
      <div id="right_part">
        <p><%= t('.location') %> <strong><%= !@product.series? ? product_title : @product.episode_title %></strong> </p>
        <p><%= t('.price') %> <strong> <%= current_customer && current_customer.tvod_only? ? @product.get_vod_online(session[:country_id]).first.tvod_price : @product.get_vod_online(session[:country_id]).first.ppv_price %>€</strong></p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="paiement_choices">
      <h2><strong><%= t('.credit_card').html_safe %></strong></h2>
      <p>
        <%= link_to(image_tag('visa_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'visa', :source => params[:source]
), :method => :put) %>
        <%= link_to(image_tag('mastercard_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'mastercard', :source => params[:source]
), :method => :put) %>
        <%= link_to(image_tag('amex_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'american Express', :source => params[:source]
), :method => :put) %>
      </p>
      <h2><strong>Mister cash</strong></h2>
      <p><%= link_to(image_tag('bancontact_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'Bancontact/Mister Cash', :source => params[:source]
), :method => :put) %></p>
      <h2><strong>Paypal</strong></h2>
      <p><%= link_to(image_tag('paypal_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'PAYPAL', :source => params[:source]
), :method => :put) %></p>
      <h2><strong>Web-Banking</strong></h2>
      <p>
        <%= link_to(image_tag('ideal_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'iDEAL', :source => params[:source]
), :method => :put) %>
        <%= link_to(image_tag('belfius_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'Belfius Direct Net', :source => params[:source]
), :method => :put) %>
        <%= link_to(image_tag('ing_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'ING HomePay', :source => params[:source]
), :method => :put) %>
      </p>
      <h2><strong>Web-Banking via Sofort</strong></h2>
      <p>
        <%= t('.other').html_safe %>
      </p>
      <br />
      <p>
        <%= link_to(image_tag('sofortbelgium_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'DirectEbankingBE', :source => params[:source]
), :method => :put) %>
        <%= link_to(image_tag('sofortlux_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'DirectEbankingNL', :source => params[:source]
), :method => :put) %>
      </p>
    </div>
    <div class="secure_icons">
      <div class="securitypaiment"><%= t('.securised') %></div>
      <p style="margin-bottom:10px;"><%= image_tag "#{I18n.locale}/secure-payment.gif"%></p>
      <p><%= image_tag 'verisign.gif' %></p>
    </div>
  <div class="clearfix"></div>
</div>
