<% data = @product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>

<div id="step_wrap">
  <div class="paiement_form">
    <h3><%= t('.select') %></h3>
    <div class="film_infos" >
      <div id="left_part">
        <%= link_to(image_tag(product_image, :size => '100x150') ,product_path(:id => @product.to_param)) %>
      </div>
      <div id="right_part">
        <p><%= t('.location') %> <strong><%= product_title %></strong> </p>
        <p><%= t('.price') %> <strong> <%= current_customer && current_customer.tvod_only? ? @product.get_vod_online(session[:country_id]).first.tvod_price : @product.get_vod_online(session[:country_id]).first.ppv_price %>€</strong></p>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="paiement_choices">
      <h2><strong><%= t('.credit_card').html_safe %></strong></h2>
      <p>
        <%= link_to(image_tag('visa_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'visa'), :method => :put) %>
        <a href="#" target="_blank"><%= image_tag 'mastercard_iconpaiement.gif', :size => '100x38' %></a>
        <a href="#" target="_blank"><%= image_tag 'amex_iconpaiement.gif', :size => '100x38' %></a> 
      </p>
      <h2><strong>Mister cash</strong></h2>
      <p><%= link_to(image_tag('bancontact_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'Bancontact/Mister Cash'), :method => :put) %></p>
      <h2><strong>Paypal</strong></h2>
      <p><%= link_to(image_tag('paypal_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'PAYPAL'), :method => :put) %></p>
      <h2><strong>Web-Banking</strong></h2>
      <p>
        <%= link_to(image_tag('ideal_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'iDEAL'), :method => :put) %>
        <%= link_to(image_tag('belfius_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'Belfius Direct Net'), :method => :put) %>
        <%= link_to(image_tag('ing_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'ING HomePay'), :method => :put) %>
      </p>
      <h2><strong>Web-Banking via Sofort</strong></h2>
      <p>
        <%= t('.other').html_safe %>
      </p>
      <br />
      <p>
        <%= link_to(image_tag('sofortbelgium_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'DirectEbankingBE'), :method => :put) %>
        <%= link_to(image_tag('sofortlux_iconpaiement.gif', :size => '100x38'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'DirectEbankingNL'), :method => :put) %>
      </p>
    </div>
    <div class="secure_icons">
      <div class="securitypaiment"><%= t('.securised') %></div>
      <p style="margin-bottom:10px;"><img  src="https://secure.ogone.com/images/PP_ogone2.gif" alt="" /></p>
      <p><img  src="https://secure.ogone.com/images/verisign_EN.gif" alt="" /></p>
    </div>
  <div class="clearfix"></div>
</div>