<div class="switch_dom" id="switch_dom">
  <div id="title"><%= t '.title' %></div>
  <div style="margin-left: 20px; width: 800px;">
    <p><%= t '.choose' %></p>
    <% form_for(:payment_method, :url => edit_customer_payment_methods_path(:customer_id => current_customer.to_param), :html => { :method => :get }) do |f| %>
    <%= hidden_field_tag(:type, 'credit_card') %>
      <div style="width: 800px;" id="payment_ogone" class="payment rose">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin-left: 10px;">
          <tbody>
            <tr>
              <td width="6%"><div class="checkalive" id="credit_card">
                  <!--<input type="radio" id="payment_ogone_radio" checked="checked" name="payment" value="ogone">-->
                </div></td>
              <td width="89%"><h3><%= t '.credit_card' %> </h3></td>
            </tr>
            <tr>
            
              <td colspan="3"><img src="/images/card.png" style="float: left; padding-right: 10px;"><p><%= t '.credit_card_description' %></p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% unless current_user.address.nederlands? %>
      <br>
      <div style="width: 800px;" id="payment_domiciliation" class="payment ">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin-left: 10px;">
          <tbody>
            <tr>
              <td  width="6%"><div class="check" id='domiciliation'>
                  <!--<input type="radio" id="payment_domiciliation_radio" name="payment" value="domiciliation">-->
                </div></td>
              <td width="89%"><h3><%= t '.dom' %></h3></td>
            
            </tr>
            <tr>
            
              <td colspan="3"><img src="/images/dom.png" style="float: left; padding-right: 10px;"><p><%= t '.dom_description' %></p></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% end %>
      <div align="right" style="padding-right: 8px;"><br>
        <button type="submit" class="button_confirm_switch"><%= t '.follow' %></button>
      </div>
    <% end %>
  </div>
</div>
</div>