<div class="container white-bck dark-gray padb20">
    <!--MOVIE DETALIS BLOCK-->
    <div class="movie-block block100">

        <!--MOVIE TITLE-->
        <h1 class="block100 padb10 dark-blue">
          <%= t('promotion.newstep3.paymentoption1').html_safe %>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">Frantz (2016)
                <span class="block100 Arial f16 mart5 normal">Emotion/drame, En noir & blanc</span>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <span class="Arial f20 red-google-bck white radius4 mart5 normal text-right bold padtb5 padlr10">Prix : 3.99 &euro;</span>
            </div>
        </h1>
        <!--/MOVIE TITLE-->

        <!--COVER IMAGE -->
        <div class="cover-list-view">
            <img src="images/template/_movie_cover_9.jpg" class="img-responsive radius4">
            <span class="hd position-absolute black white-bck radius2 bold italic">HD</span>
        </div>
        <!--/COVER IMAGE-->

        <!--TEXT-->
        <div class="text-list-view dark-gray">
            <div class="block100">
                <h5 class="block100 f16 mart0 bold marb5">Acteurs</h5>
                <a href="index.php%3Fpage=payment-methods.html" class="f13"> Ryan Gosling</a>
                ,
                <a href="index.php%3Fpage=payment-methods.html" class="f13">, Emma Stone</a>
                ,
                <a href="index.php%3Fpage=payment-methods.html" class="f13">Rosemarie DeWitt</a>
            </div>

            <div class="block100 mart5">
                <h5 class="display-inline f16 mart0 bold marb5">Réalisateur</h5>
                <a href="index.php%3Fpage=payment-methods.html#" class="f13">Damien Chazelle</a>
            </div>

            <div class="block100 mart5">
                <h5 class="display-inline f16 mart0 bold marb5">Pays</h5>
                <span class="marl5 light-gray f13">France</span>
            </div>

            <div class="block100 mart5">
                <h5 class="display-inline f16 mart0 bold marb5">Public</h5>
                <span class="marl5 light-gray f13">12</span>
            </div>

            <div class="block100 mart5">
                <h5 class="display-inline f16 mart0 bold marb5">Durée</h5>
                <span class="marl5 light-gray f13">113 Min</span>
            </div>

            <div class="block100 mart5">
                <h5 class="display-inline f16 mart0 bold marb5">Image</h5>
                <span class="marl5 light-gray f13">16/9 compatible 4/3</span>
            </div>

            <div class="block100 mart5">
                <h5 class="display-inline f16 mart0 bold marb5">Son</h5>
                <span class="marl5 light-gray f13">-</span>
            </div>
        </div>
        <!--/TEXT-->

    </div>
    <!--/MOVIE DETALIS BLOCK-->


    <!--ACCORDION-->
    <section class="page">
        <div id="accordion" class="mart30">

            <!--Carte bancaire-->
            <h3>Carte bancaire</h3>
            <div>
                    <ul class="card-list">
                        <li>
                            <a href="index.php%3Fpage=payment-methods.html">
                                <div class="card-image"><img src="images/template/card-visa.png" class="img-responsive"></div>
                            </a>
                        </li>
                        <li>
                            <a href="index.php%3Fpage=payment-methods.html">
                                <div class="card-image"><img src="images/template/card-master.png" class="img-responsive"></div>
                            </a>
                        </li>
                        <li>
                            <a href="index.php%3Fpage=payment-methods.html">
                                <div class="card-image"><img src="images/template/card-american-express.png" class="img-responsive"></div>
                            </a>
                        </li>
                    </ul>
            </div>

            <!--payPal-->
            <h3>PayPal</h3>
            <div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 mart10"><img src="images/template/paypal.png" class="img-responsive"></div>
                <div class="block100 mart20">
                    <a href="http://plush-rwd.tritacke.org/api/v1/express_checkout?locale=fr">
                        <img alt="Btn_xpresscheckout" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif">
                    </a>
                </div>
            </div>

            <!--mrcash-->
            <h3>Mister Cash</h3>
            <div>
                <a href="index.php%3Fpage=payment-methods.html">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 mart10"><img src="images/template/mistercash.png" class="img-responsive"></div>
                </a>
            </div>

            <!--Web Banking-->
            <h3>Web Banking</h3>
            <div>
                <ul class="card-list">
                    <li>
                        <a href="index.php%3Fpage=payment-methods.html">
                            <div class="card-image"><img src="images/template/iDeal.png" class="img-responsive"></div>
                        </a>
                    </li>
                    <li>
                        <a href="index.php%3Fpage=payment-methods.html">
                            <div class="card-image"><img src="images/template/belfius.png" class="img-responsive"></div>
                        </a>
                    </li>
                    <li>
                        <a href="index.php%3Fpage=payment-methods.html">
                            <div class="card-image"><img src="images/template/ingHomePay.png" class="img-responsive"></div>
                        </a>
                    </li>
                </ul>
            </div>

            <!--Web Banking via Sofort-->
            <h3>Web Banking via Sofort</h3>
            <div>
                <ul class="card-list">
                    <li>
                        <a href="index.php%3Fpage=payment-methods.html">
                            <div class="card-image"><img src="images/template/sofortLogoBel.png" class="img-responsive"></div>
                        </a>
                    </li>
                    <li>
                        <a href="index.php%3Fpage=payment-methods.html">
                            <div class="card-image"><img src="images/template/sofortLogoNed.png" class="img-responsive"></div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <!--/ACCORDION-->

    <p class="mart30 block100">Des questions? Appelez le 0800/26371</p>
    <p>
        <a href="index.php%3Fpage=payment-methods.html#">Conditions d’utilisation</a>
    </p>

</div>


























<div class="container white-bck dark-gray padb20">
  <div class="movie-block block100">

  </div>
  <section class="page">
    <div id="accordion" class="mart30">
      <h3><%= t('promotion.newstep3.paymentoption1').html_safe %></h3>
      <div>
        <ul class="card-list">
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/card-visa.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'ppv', :brand => 'visa', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/card-master.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'ppv', :brand => 'mastercard', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/card-american-express.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'ppv', :brand => 'american Express', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <h3><%= t('promotion.newstep3.paymentoption2').html_safe %></h3>
      <div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mart10">
          <%= image_tag "template/paypal.png", class: "img-responsive radius4" %>
        </div>
        <div class="block100 mart20">
          <%= link_to(image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'ppv', :brand => 'PAYPAL', :source => params[:source]
          ), :method => :put) %>

        </div>
      </div>
      <h3>Mister Cash</h3>
      <div>
        <a href="index.php%3Fpage=payment-methods.html">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mart10">
            <%= link_to(image_tag("template/mistercash.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'ppv', :brand => 'Bancontact/Mister Cash', :source => params[:source]
            ), :method => :put) %>
          </div>
        </a>
      </div>

      <!--Web Banking-->
      <h3>Web Banking</h3>
      <div>
        <ul class="card-list">
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/iDeal.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'ppv', :brand => 'iDEAL', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/belfius.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'Belfius Direct Net', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/ingHomePay.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'ING HomePay', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <!--Web Banking via Sofort-->
      <h3>Web Banking via Sofort</h3>
      <div>
        <ul class="card-list">
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/sofortLogoBel.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'DirectEbankingBE', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/sofortLogoNed.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'tvod', :brand => 'DirectEbankingNL', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <h3>Paiement sur votre prochaine facture Orange</h3>
      <div>
        <ul class="card-list">
          <li>
            <a href="index.php%3Fpage=payment-methods.html">
              <div class="card-image">
                <%= link_to(image_tag("template/orange-logo.png", class: "img-responsive radius4"), customer_payment_methods_path(:customer_id => current_customer.to_param, :product_id => params[:product_id], :type => 'ppv', :brand => 'Orange', :source => params[:source]
                ), :method => :put) %>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </section>
  <!--/ACCORDION-->

  <p class="mart30 block100"><%= t('promotion.newstep3.supportinfo').html_safe %></p>
  <p>
    <%= link_to t('promotion.newstep3.conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')), class: "conditions-d-utilisation", target: "blank" %>
  </p>

</div>

<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "payment_methods/credit_card_tvod" %>
<% end %>
