<% path = @display_vod == 0 ? 'watchlists/index/item' : 'watchlists/index/item_gallery' %>
<% class_name = @display_vod == 0 ? '' : ' gallery clearfix' %>
<div id="maincontent" >
  <ul id="on-way-nav">
    <li class="first">
      <% if params[:transit_or_history] == 'history' %>
        <%= link_to t('.see_out'), vod_wishlists_path(:transit_or_history => 'transit'), :class => 'transit_or_history2' %>
      <% else %>
        <%= link_to t('.see_history'), vod_wishlists_path(:transit_or_history => 'history'), :class => 'transit_or_history2' %>
      <% end %>
    </li>

  </ul>
<% if params[:transit_or_history] == 'history' %>
  <h2><%= t '.history_list' %></h2>    	
  <div class="box<%= class_name %>" id="in-progress">
    <% render :partial => 'watchlists/index/display', :locals => {:display_vod => @display_vod} %>
    <%= render :partial => path, :collection => @history_list, :locals => {:display_vod => @display_vod, :type => :history, :series => []} %>
  </div>
  <%= will_paginate @history_list, :class => 'products-pagination2', :previous_label => '&nbsp;', :next_label => '&nbsp;' %>
<% else %>
  <% if @token_list.count == 0 && @list.count == 0 && @soon_list.count == 0 %>
      <div id="faq-content-wrap">
        <div id="faq-intro-wrap" class="<%= I18n.locale %>">
          <%= t '.intro' %>
        </div>
      </div>
  <% end %>
  <h2><%= t '.token_list' %> (<%= @token_list.size %>)</h2>    	
  <div class="box<%= class_name %>" id="in-progress">
    <% render :partial => 'watchlists/index/display', :locals => {:display_vod => @display_vod} %>
    <%= render :partial => path, :collection => @token_list, :locals => {:display_vod => @display_vod, :type => :token, :series => []} %>
  </div>
<% end %>
<h2><%= t '.list' %>dd (<%= @list.count('distinct vod_wishlists.id').size %>)</h2>    	
<div class="box<%= class_name %>" id="ready">
  <% render :partial => 'watchlists/index/display', :locals => {:display_vod => @display_vod} %>
  <%= render :partial => path, :collection => @list, :locals => {:display_vod => @display_vod, :type => :list, :series => []} %>
</div>
<% if !@soon_list.empty? %>
<h2><%= t '.soon_list' %> (<%= @soon_list.count('distinct vod_wishlists.id').size %>)</h2>    	
<div class="box<%= class_name %>" id="coming">
  <% render :partial => 'watchlists/index/display', :locals => {:display_vod => @display_vod} %>
  <%= render :partial => path, :collection => @soon_list, :locals => {:display_vod => @display_vod, :type => :soon, :series => []} %>
</div>
<% end %>
<span id ='confirm' style="display:none"><%= t '.confirm' %></span>
<div id='locale' style='display:none'><%= I18n.locale %></div>
<div id='error_delete' style='display:none'><%= t('.product_not_delete') %></div>
</div>