<%= stylesheet 'streaming_products_normal', :media => :all %>
<% link = link_to t('.catalogue'), products_path(:view_mode => :streaming) %>
<% link_adult = link_to t('.catalogue_adult'), products_path(:kind => :adult, :view_mode => :streaming) %>
<% link2 = link_to t('.vod_wishlist'), vod_wishlists_path %>
<% sample = link_to t('.sample'), streaming_products_sample_path %>
<% img_app1 = link_to image_tag("ipad_3_little.jpg"), image_path("ipad_3_big.jpg"), :class => :face_img %>
<% img_app2 = link_to image_tag("ipad_4_little.jpg"), image_path("ipad_4_big.jpg"), :class => :face_img %>
<% link_connected = link_to t('.get_connected'), info_path(:page_name => :get_connected) %>
<div id="faq-content-wrap">
  <div id="faq-intro-wrap" class="<%= I18n.locale %>">
    <%= t '.intro', :link => link %>
  </div>
  <!-- #vod-faq -->
  <div id="faq_intro" class="clearfix">
    <div id="vod-intro">
      <div class="cols" id="col1">
        <%= t '.intro_col1' %>
        <span>
          <p>
            <a href="<%= products_path(:view_mode => :streaming) %>"><%= t('.catalogue') %></a>
          </p>
        </span> 
        <span>
          <p>
            <a class="more" id="vod-plus-title-more" href="#"><%= t '.more'%></a>
          </p>
        </span>
      </div>
      <!-- #col1 -->
      <div class="cols">
        <%= t '.intro_col2', :img1 => image_tag("#{I18n.locale}/button_streaming.jpg"), :img2 => image_tag("#{I18n.locale}/button_list.jpg") %>
        <p><a href="<%= products_path(:view_mode => :streaming) %>"><%= t('.catalogue') %></a></p>
        <p><a class="more" id="vod-button-title-more" href="#"><%= t '.more'%></a></p>
      </div>
      <div class="cols">
        <h4><%= t '.available_tv' %></h4>
        <ul>
          <li id="mac">
            <p><strong><%= t '.pc' %><br />
              <a class="more tab1" id="vod-ecran-title-more" href="#"><%= t '.more'%></a></strong></p>
            </li>
            <li id="ipad">
              <p>
                <%= t '.ipad_link' %>
                <a class="more tab2" id="vod-ecran-title-more" href="#"><%= t '.more'%></a>
              </p>
            </li>
            <li id="tv">
              <p>
                <%= t '.tv' %>
                <a class="more tab3" id="vod-ecran-title-more" href="#"><%= t '.more'%></a>
              </p>
            </li>
          </ul>
        </div>
        <!-- #col3 -->
      </div>
    </div>
    <%= render :partial => 'layouts/call_to_action2' if ENV['HOST_OK'] == "1" %>
    <!-- #vod-plus -->
    <div id="vod-info-wrap">
      <%= t '.vod_detail', :link => link_adult %>
      <!-- #vod-plus -->
      <!-- #vod-button -->
      <div id="vod-info-wrap">
        <%= t '.vod_image', :img1 => image_tag("#{I18n.locale}/button_streaming.jpg"), :img2 => image_tag("#{I18n.locale}/button_list.jpg"), :link => link2 %>
      </div>
      <!-- #vod-button -->
      <!-- #vod-button -->
      <div id="vod-info-wrap">
        <h3 class="close" id="vod-ecran-title"><%= t '.ecran' %></h3>
        <div id="vod-ecran" class="clearfix" style="display:none">
          <div id="selection-week-wrap">
            <div id="selection-tabcontent-wrap">
              <ul class="content-tabs">
                <li><a class="available vod active" id="tab1-title" href="#"><%= t '.pc' %></a></li>
                <li><a class="available " id="tab2-title" href="#"><%= t '.tipad_iphone' %></a></li>
                <li><a class="available br " id="tab3-title" href="#"><%= t '.ttv' %></a></li>
              </ul>
            </div>
            <div id="selection-tab1" class="tab-content-selection clearfix">
              <div class="carousel-wrap" id="tab1" >
                <div class="left mac" >
                  <h3>
                    <%= t '.any' %>
                    <p align="right"><%= link %></p>
                  </h3>
                </div>
                <div class="right">
                  <%= t '.speed', :link => sample %>
                </div>
                <div class="clear"></div>
              </div>
              
              <div class="carousel-wrap"  id="tab2" style='display:none'>
                <h3>
                  <%= t '.wifi' %>
                </h3>
                <h4><%= t '.ipad' %></h4>
                <div class="left ipad" > </div>
                <div class="right">
                  <%= t '.tab2_right_ipad', :itunes_link => DVDPost.itunes_url(I18n.locale) %>
                </div>
                <div class="clear"></div>
                <h4><%= t '.android' %></h4>
                <div class="left android" > </div>
                <div class="right">
                  <%= t '.tab2_right_android' %>
                </div>
                <div class="clear"></div>
              </div>
              <div class="carousel-wrap"  id="tab3" style='display:none'>
                <div class="left tv" >
                  <h3>
                    <%= t '.look', :link => link %>
                  </h3>
                </div>
                <div class="right">
                  <%= t '.connected', :link_connected => link_connected, :link_appletv => link_appletv, :link_ipad => link_ipad, :link_iphone => link_iphone, :link_airplay => link_airplay %>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- #vod-button -->
      <!-- #vod-faq -->
      <div id="faq" class="clearfix">
        <h3 class="close" id="vod-faq-title"><%= t '.faq' %></h3>
        <div id="vod-faq" style="display:none">
          <%= render :partial => "faq" %>          
        </div>
      </div>
      <!-- #faq -->
    </div>
    <!-- #vod-info-wrap -->
  </div>