<div class="cols" id="col1">
  <h4><%= t 'streaming_products.faq.q_1' %></h4>
  <p><%= t 'streaming_products.faq.r_1' %></p>
  <h4><%= t 'streaming_products.faq.q_2' %></h4>
  <p><%= t 'streaming_products.faq.r_2' %></p>
  <h4><%= t 'streaming_products.faq.q_3' %></h4>
  <p><%= t 'streaming_products.faq.r_3' %></p>
</div><!-- #col1 -->
<div class="cols" id="col2">
  <h4><%= t 'streaming_products.faq.q_4' %></h4>
  <p><%= t 'streaming_products.faq.r_4' %></p>
  <h4><%= t 'streaming_products.faq.q_5' %></h4>
  <p><%= t 'streaming_products.faq.r_5' %></p>

</div><!-- #col2 -->
<div class="cols" id="col3">
  <h4><%= t 'streaming_products.faq.q_6' %></h4>
  <p><%= t 'streaming_products.faq.r_6' %></p>
  <h4><%= t 'streaming_products.faq.q_7' %></h4>
  <p><%= t 'streaming_products.faq.r_7' %></p>
  <h4><%= t 'streaming_products.faq.q_8' %></h4>
  <p><%= t 'streaming_products.faq.r_8' %></p>
</div><!-- #col3 -->
<div class="cols" id="col4">
  <h4><%= t 'streaming_products.faq.q_9' %></h4>
  <p><%= t 'streaming_products.faq.r_9' %></p>
  <p><%= t 'streaming_products.faq.question' %></p>
</div><!-- #col4 -->