<div class="container white-bck">

  <% if @code || !current_customer.suspended? %>

      <% if @code || (@token && @token_valid) || (current_customer && current_customer.subscription_type.packages_ids.split(',').include?(@product.package_id.to_s)) || (current_customer.tvod_only? && @streaming.prepaid_all?) %>

          <% if !@streaming_prefered.empty? || (@streaming_not_prefered && !@streaming_not_prefered.empty?) %>

              <h1 class=" pad0 mart10 f30 green OpenSansCondensed block100 marb15"><%= h !@product.series? ? @product.description.title : @product.episode_title %>
                (<%= @product.year %>)</h1>

              <div class="block100">
                <%= render :partial => "streaming_products/player" %>
              </div>


              <%= render :partial => 'streaming_products/show/audios', :locals => {:streaming => @streaming_prefered, :sample => nil, :source => params[:source], :response_id => params[:response_id]} %>



              <h2 class="f19 black mart20 text-center block100"><%= t('.version_title') %></h2>
              <table class="dark-blue OpenSansCondensed movie-versions-table">
                <%= render :partial => 'streaming_products/show/audios', :locals => {:streaming => @streaming_prefered, :sample => nil, :source => params[:source], :response_id => params[:response_id]} %>

                <tr>
                  <td class="movie-versions-label"><%= t'.audio' %></td>
                  <td class="movie-versions-data"><%= @streaming.languages %></td>
                </tr>
                <tr>
                  <td class="movie-versions-label"><%= t '.subtitles' %></td>
                  <td class="movie-versions-data"><%= @streaming.subtitles %></td>
                </tr>
              </table>



          <% end %>

      <% else %>

          wrong package

      <% end %>

  <% else %>

      suspension

  <% end %>

</div>


<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "streaming_product/streaming" %>
<% end %>
