  <div  <%= @code && @code.white_label ? 'id="maincontent_no_border"' : 'id="maincontent"' %> >
    <div id="vod-wrap">
        <h2>
          <span id="vod_title"><%= h !@product.series? ? @product.description.title : @product.episode_title %> (<%= @product.year %>)<span>
        </h2>
        <%=  "<h3>Powered by</h3>".html_safe if @streaming.videoland? %>
        <% if @token && @token_valid && @product.tvod? && @code.nil? %>
          <div id='time'><div id="vodtime"><%= t '.time_left' %> : <strong><%= time_left(@token, params[:kind]) %></strong></div></div>
        <% end %>
        <div class="clear"></div>
        <div id="presentation">
          <div id = 'image_vod'><%= product_image_tag @product.image, :alt => "#{@product.title} (#{@product.year})" %></div>
        </div>
        <div id='flow'>
        </div>
        <div id='player' class='normal'></div>
        <% if @code || !current_customer.suspended? %>
          <% if @code || (@token && @token_valid) || (current_customer && current_customer.subscription_type.packages_ids.split(',').include?(@product.package_id.to_s)) || (current_customer.tvod_only? && @streaming.prepaid_all?) %>
            <% if !@streaming_prefered.empty? || (@streaming_not_prefered && !@streaming_not_prefered.empty?) %>
              <div class="choice_language">
                
                <h3><%= t('.version_title') %></h3>
                <div id="choice_new">
                  <div id="step1" class="step" style="width:696px;height:120px">
                    <%= render :partial => 'streaming_products/show/audios', :locals => {:streaming => @streaming_prefered, :sample => nil, :source => params[:source], :response_id => params[:response_id]} %>
                  </div>
                  <div id="step2" class="step">
                  </div>
                  <div id="step3" class="step">
                  </div>
                </div>
                <p  class="info_vod" >
                  <%= link_to t('.all_versions'), streaming_product_versions_path(:streaming_product_id => params[:id], :season_id => params[:season_id], :episode_id => params[:episode_id], :streaming_code => params[:streaming_code], :email => params[:email], :source => params[:source], :response_id => params[:response_id]), :id => :all_versions %>
                  <br /><br />

                </p>
            </div>
            <p class="intro_vod">
              <% unless @product.svod? %>
                <%= t 'streaming_products.show.kinds_alpha.reminder', :hours => 48 %>
              <% end %>
            </p>
            <% end %>
          <% else %>
            wrong package
          <% end %>
        <% else %>
          suspension
        <% end %>
        <%= render partial: 'streaming_products/show/error', :locals => {:error => @error} if @error %>
        <div id="all_versions_data">
        
        </div>
        <div class="linkpc">
          <div class="icon_left">
            <%= image_tag 'icon_tv.gif', :align => :absmiddle, :alt => 'icon tv' %>
            <%= link_to t('.connected'), info_path(:page_name => t('routes.infos.params.get_connected')), :class => 'connect_linkpc' %><br />
            <%= image_tag 'icon_infos.gif', :align => :absmiddle, :alt => 'icon info' %>
            <%= link_to t('.info'), info_path(:page_name => t('routes.infos.params.vod')), :class => 'connect_linkpc' %>
          </div>
          <div class="icon_right">
              <%= image_tag 'icon_problem.gif', :align => :absmiddle, :alt => 'icon problem' %>
              <%= link_to t('.alert'), new_phone_request_path(:reason => 5), :class => :connect_linkpc %>   
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="end"></div>
  </div>
  <div style="display:none" id="returnStatus"></div>
  <div style="display:none" id ="product_id"><%= @product.id %></div>
  <div style="display:none" id ="drm">0</div>
    <% if params[:warning].to_i == 1 && (@token.nil? || !@token_valid )  %>
      <div id='warning' style='display:none'><%= product_action_path(:product_id => @product.to_param, :origin => 'streaming', :hide_btn => 1) %></div>
    <% end %>
<% if @code %>
  <% if @code.name.match(/^TEXP/) %>
    <iframe src="http://www.plush.be/trade/conversion.html?campaignID=12814&productID=24087&conversionType=lead&https={https}&transactionID=<%= @code.id %>&transactionAmount={transactionAmount}&email=<%= params[:email] %>&descrMerchant={descrMerchant}&descrAffiliate={descrAffiliate}&currency={currency}" frameborder="0" scrolling="0" marginwidth="0" marginheight="0" width="1" height="1"></iframe>
  <% elsif @code.name.match(/^PEXP/) %>
    <img style="display: none" border="0" height="0" width="0" src="http://fr.ptg.be/aimg/plush.gif" alt="" />
  <% end %>

  <img style="display: none" border="0" height="0" width="0" src="//fbm.mysocialpixel.com/tracking/<%= @code.id %>/10/1385045453" alt="" /> 
<% end %>