  <div  <%= @code && @code.white_label ? 'id="maincontent_no_border"' : 'id="maincontent"' %> >
    <div id="vod-wrap">
        <h2>
          <span id="vod_title"><%= h @product.description.title %> (<%= @product.year %>)<span>
        </h2>
        <% if @token && @token_valid && !@product.svod? %>
          <div id='time'><div id="vodtime"><%= t '.time_left' %> : <strong><%= time_left(@token, params[:kind]) %></strong></div></div>
        <% end %>
        <div class="clear"></div>
        <div id="presentation">
          <% unless @streaming && @streaming.drm %><div id = 'image_vod'><%= product_image_tag @product.image, :alt => "#{@product.title} (#{@product.year})" %></div> <% end %>
        </div>
        <div id='flow'>
        </div>
        <a id='player' class='<%= @streaming && @streaming.drm ? 'drm' : 'normal' %>'>
        </a>
        <% if @streaming && @streaming.drm %>
        <p align='center' id='player-verimatrix'>
          <button id="resume-btn"><%= t('.resume') %></button>
  			  <button id="pause-btn"><%= t('.pause') %></button>
  			  <button id="enable-fullscreen-btn"><%= t('.fullscreen') %></button>
  			</p>
  			<% end %>

        <% if @code || !current_customer.suspended? %>
          <% if @code || (@token && @token_valid) || (current_customer && current_customer.subscription_type.packages_ids.split(',').include?(@product.package_id.to_s)) %>
            <% if @streaming_prefered.count > 0 || (@streaming_not_prefered && @streaming_not_prefered.count > 0) %>
              <div class="choice_language">
                <% if @streaming.drm == true %>
                  <div id="verimatrix_area">
                    <div class="verimatrix"><%= t('.drm_warning', :link => info_path(:page_name => :viewright)).html_safe %></div>
                  </div>
                <% end %>
                <h3><%= t('.version_title') %></h3>
                <div id="choice_new">
                  <div id="step1" class="step" style="width:696px;height:120px">
                    <%= render :partial => 'streaming_products/show/audios', :locals => {:streaming => @streaming_prefered, :sample => nil, :source => params[:source], :response_id => params[:response_id]} %>
                  </div>
                  <div id="step2" class="step">
                  </div>
                  <div id="step3" class="step">
                  </div>
                </div>
                <p  class="info_vod" >
                  <%= link_to t('.all_versions'), streaming_product_versions_path(:streaming_product_id => params[:id], :code => params[:code], :email => params[:email], :source => params[:source], :response_id => params[:response_id]), :id => :all_versions %>
                  <br /><br />

                </p>
            </div>
            <p class="intro_vod">
              <% unless @product.svod? %>
                <%= t 'streaming_products.show.kinds_alpha.reminder', :hours => 48 %>
              <% end %>
            </p>
            <% end %>
          <% else %>
          ce n'est pas dans ton package
          <% end %>
        <% else %>
        tu ne peux pas regarder de films durant la suspension de ton compte  
        <% end %>
        <%= render partial: 'streaming_products/show/error', :locals => {:error => @error} if @error %>
        <div id="all_versions_data">
        
        </div>
        <div class="linkpc">
          <div class="icon_left">
            <%= image_tag 'icon_tv.gif', :align => :absmiddle, :alt => 'icon tv' %>
            <%= link_to t('.connected'), info_path(:page_name => t('routes.infos.params.get_connected')), :class => 'connect_linkpc' %><br />
            <%= image_tag 'icon_infos.gif', :align => :absmiddle, :alt => 'icon info' %>
            <%= link_to t('.info'), info_path(:page_name => t('routes.infos.params.vod')), :class => 'connect_linkpc' %>
          </div>
          <div class="icon_right">
              <%= image_tag 'icon_problem.gif', :align => :absmiddle, :alt => 'icon problem' %>
              <%= link_to t('.alert'), new_phone_request_path(:reason => 5), :class => :connect_linkpc %>   
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="end"></div>
  </div>
  <div style="display:none" id="returnStatus"></div>
  <div style="display:none" id ="product_id"><%= @product.id %></di>
  <div style="display:none" id ="drm"><%= @streaming && @streaming.drm ? 1 : 0 %></div>
  <% if @streaming && @streaming.drm %>
    <div id='log' style='display:<%= Rails.env == 'production' ? 'none': 'block' %>'></div>
    <div id='debug-info' style='display:<%= Rails.env == 'production' ? 'none': 'block' %>'>></div>
  <% end %>
    <% if params[:warning].to_i == 1 && (@token.nil? || !@token_valid )  %>
      <div id='warning' style='display:none'><%= product_action_path(:product_id => @product.to_param, :origin => 'streaming', :hide_btn => 1) %></div>
    <% end %>