<div class="cover">
  <span id="<%= product.vod? ? 'vod' : product_media_id(product.media) %>">
    <%= product_image_tag @product_image, :width => 143, :height => 218, :alt => "#{@product_title} (#{product.year})" %>
    <%= content_tag(:span, '', :class => 'new') if product.is_new? %>
  </span>
  <% if product.in_streaming_or_soon? and streaming_access? %>
      <%= render :partial => 'products/streaming', :locals => {:product => product, :token => @token, :popup => false} %>
  <% end %>
  <%= render :partial => 'products/vod_list', :locals => {:product => product} %>
  <%= render :partial => 'products/credit_vod', :locals => {:product => product, :credits => credits} if credits && credits > 1 %>
  <% end %>
  <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :long, :source => @source} %>
  <% if product.available_to_sale? && current_customer %>
      <% media = DVDPost.product_types.invert[product.media] %>
      <% test = current_customer.shopping_products.include?(product) %>
      <% method = test ? :delete : :post %>
      <% cart = test ? current_customer.shopping_carts.find_by_products_id(product.to_param) : nil %>
      <% media = t "products.index.filters.#{media}" %>
      <% text = test ? t('.remove', :media => media) : t('.add', :media => media) %>
      <% class_name = test ? "shop_action btn_remove_form" : "shop_action btn" %>
      <%= render :partial => 'shops/update_form', :locals => {:cart => cart, :product => product, :method => method, :text => text, :class_name => class_name, :ref => :product} %>
  <% end %>
</div>
<div id="movie-info" class="height-stream">

  <ul>
    <% if product.director %>
        <li>
          <strong>
            <%= "#{t('.directed_by')} #{link_to product.director.name, director_products_path(:director_id => product.director.to_param)}" %>
          </strong>
        </li>
    <% end %>

    <% if product.studio && product.adult? %>
        <li>
          <strong>
            <%= "#{t('.studio')} : #{link_to product.studio.name, studio_products_path(:studio_id => product.studio.to_param)}" %>
          </strong>
        </li>
    <% end %>

    <% actors = product.actors.collect { |actor| link_to actor.name, actor_products_path(:actor_id => actor.to_param) }.join(', ') %>
    <% if actors %>
        <li>
          <strong>
            <%= t '.actors' %>
          </strong>
          <%= actors %>
        </li>
    <% end %>
    <% if product.original_title != '' && @product_title != product.original_title %>
        <li>
          <strong>
            <%= t '.original_title' %>
          </strong>
          <%= product.original_title %>
        </li>
    <% end %>
    <li>
      <strong>
        <%= t '.duration' %>
      </strong>
      <%= "#{product.runtime} minutes" %>
    </li>
    <li>
      <strong>
        <%= t '.genre' %>
      </strong>
      <% if params[:kind] == :adult %>
          <%= product.categories.collect { |category| link_to category.name, category_products_path(:category_id => category) }.join(', ') %>
      <% else %>
          <%= product.categories.active.collect { |category| link_to category.name, category_products_path(:category_id => category) }.join(', ') %>
      <% end %>
    </li>
    <li>
      <strong>
        <%= t '.country' %>
      </strong>
      <%= product.country.name %>
    </li>
    <li>
      <strong>
        <%= t '.audience' %>
      </strong>
      <%= image_tag product.public.image, :alt => product.public.description %>
    </li>
  </ul>
  <p class="links">
    <% if trailer = product.trailer %>
        <%= link_to(t('.trailer'), product_trailer_path(:product_id => product.to_param), {:class => 'trailer', :target => :_blank}) %>
        <%= content_tag(:span, image_tag('delimiter.gif')) if @product_description.url_present? %>
    <% end %>
    <%= link_to(t('.official'), @product_description.full_url, {:class => 'link', :target => :_blank}) if @product_description && @product_description.url_present? %>
  </p>
  <p>
    <% audio_bubble = audio_bubbles(product, 2) %>
    <% unless audio_bubble[:audio].blank? %>
      <div class='language_title'>
        <strong>
          <%= t '.audio' %>
        </strong>
      </div>
      <%= audio_bubble[:audio] %>
  <% end %>
  <% subtitles = subtitle_bubbles(product, 2) %>
  <% unless subtitles[:sub].blank? %>
      <br style="clear:both"/>
      <div class='language_title'>
        <strong>
          <%= t '.subtitles' %>
        </strong>
      </div>
      <%= subtitles[:sub] %>
  <% end %>
  </p>
  <%= render :partial => 'products/show/awards', :locals => {:product => product, :size => 'small'} %>

  <p>
    <strong>
      <%= t '.image' %>
    </strong>
    <%= product.picture_format.name if product.picture_format %><br/>
    <strong>
      <%= t '.sound' %>
    </strong>
    <%= product.soundtracks.collect { |soundtrack| soundtrack.name }.join(', ') %>
  </p>
  <% if product.next == 1 and product.available_at %>
      <p>
        <strong>
          <%= t '.available' %>
        </strong>
        <%= product.available_at.strftime("%d/%m/%Y") if product.available_at %>
      </p>
  <% end %>

</div>