<div class="numbers" data-prop="reviewCount" itemprop="reviewCount">
  <%= link_to t('.new_review'), new_product_review_path(:product_id => product.to_param, :source => source, :response_id => response_id), :id => 'add_new_review', :class => :facebox if current_customer %>
  <%= "#{reviews_count} #{reviews_count == 1 ? t('.review') : t('.reviews')}" %>
</div>
<div class="bysort">
  <div class="bysort_title"><%= t '.sorting' %> : </div>
  <div class="bysort_choice">
    <%= form_tag(url_for(params), :method => :get, :id => :sort_form) do |f| %>
      <%= select_tag(:sort, options_for_select(sort_review2_for_select, review_sort)) %>
    <% end %>
    
  </div>
  <div style="clear:both"></div>
</div>
<div style="clear:both"></div>
<ul class="clearfix content_item">
<%= render :partial => 'products/show/review', :collection => reviews %>
</ul>
<%= will_paginate reviews, :param_name => 'reviews_page',
                           :previous_label => "&laquo; #{t('.previous')}",
                           :next_label => "#{t('.next')} &raquo;",
                           :page_links => false,
                           :class => 'movie-ttl',
                           :id => 'pagination' %>
