<% if current_customer.seen_products.include?(product) %>
  <%= t '.already_seen' %>
<% else %>
  <%= link_to t('.already_link'), product_seen_path(:product_id => product), :class => 'seen' %>
<% end %>
<% if current_customer.uninterested_products.include?(product) %>
  <span><%= image_tag 'delimiter.gif' %></span>
  <%= t '.not_interested' %>
<% else %>
  <% unless current_customer.seen_products.include?(product) || current_customer.rated_products.include?(product) %>
    <span><%= image_tag 'delimiter.gif' %></span>
    <%= link_to t('.not_interested_link'), product_uninterested_path(:product_id => product), :class => 'interest' %>
  <% end %>
<% end %>
