<% if @promo.nil? || !@promo.tvod_only %>
<div class="faq-container">
  <h3><%= t('.garantie', :default => 'VOS GARANTIES:') %></h3>
  <div id="faq-info-wrap" class="infinity">
    <div id="faq-info-wrap" class="cinema">
      <h4> <%= t('.catalogue', :default => 'Catalogue illimité') %>
      </h4>
      <div class="clearfix">
        <p><%= t('.catalogue_description', :default => 'Accédez à une sélection de xxxx films par mois en illimité et ce pour le prix d\'un seul ticket de cinéma.').html_safe %></p>

      </div>

      <div id="faq-info-wrap" class="engagement ">
        <h4><%= t('.sans_engagement', :default => 'Sans engagement') %></h4>
        <div class="clearfix">
          <p><%= t('.sans_engagement_description', :default => 'Vous pouvez arrêter votre abonnement quand vous voulez. Il suffit de contacter notre service client par téléphone, au <strong>numéro gratuit 0800/95 990</strong> ou au  <strong>numéro payant 0032 2 5036811</strong> pour les appels effectués hors de la Belgique, au plus tard un jour avant la prolongation mensuelle de votre abonnement.').html_safe %>
          </p>

        </div>
      </div>
      <div id="faq-info-wrap" class="security">
        <h4><%= t('.securised', :default => '100% sécurisé') %></h4>
        <div class="clearfix">
          <p><%= t('.securised_description', :default => 'Toutes les informations que vous nous communiquez, comme par exemple les informations de paiement, sont encryptées et protégées').html_safe %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<% else %>
<div class="faq-container tvod">
  <h3><%= t('.tvod_only') %></h3>
  <div id="faq-info-wrap" class="infinity">
    <div id="faq-info-wrap" class="cinema">
      <h4> <%= t('.catalogue_tvod') %>
      </h4>
      <div class="clearfix">
        <p><%= t('.catalogue_tvod_description').html_safe %></p>

      </div>

      <div id="faq-info-wrap" class="engagement ">
        <h4><%= t('.sans_engagement_tvod') %></h4>
        <div class="clearfix">
          <p><%= t('.sans_engagement_tvod_description').html_safe %>
          </p>

        </div>
      </div>
      <div id="faq-info-wrap" class="security">
        <h4><%= t('.securised_tvod') %></h4>
        <div class="clearfix">
          <p><%= t('.securised_tvod_description').html_safe %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<% end %>