<div class="container white-bck padb30">
  <div class="center-block thin-holder ">
    <div class="block100 ">
      <br>
      <a href="/auth/facebook?code=<%= params[:code] %>;moovie_id=<%= params[:moovie_id] %>;ACTION_TYPE=NORMAL;ORG_URL=<%= request.fullpath %>" class="btn btn-block blue-facebook-bck uppercase radius4 padtb15"><i class="fa fa-facebook marr5 f16"></i>
        <%= t('devise.registrations.new.social.network.facebook') %></a>
      <a href="/auth/google_oauth2?code=<%= params[:code] %>;moovie_id=<%= params[:moovie_id] %>;ACTION_TYPE=NORMAL;ORG_URL=<%= request.fullpath %>" class="btn btn-block red-google-bck uppercase radius4 padtb15 mart15"><i class="fa fa-google-plus marr5 f16"></i>
        <%= t('devise.registrations.new.google.register') %></a>
      <% if request.host == "www.plush.lu" || request.host == "staging.plush.lu" %>
        <a href="<%= orange_lu_auth_sms_registration_path(:moovie_id => params[:moovie_id], :code => params[:code], :activation => params[:activation]) %>" class="btn btn-block orange-bck uppercase radius4 padtb15 mart15"><%= t('orange_register') %></a>
      <% end %>
    </div>

    <div class="hr-with-words mart30 block100">
      <span class="Arial f20 dark-blue"><%= t('promotions.show.or') %></span>
    </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <% if @samsung %>
            <%= f.hidden_field(:samsung, :value => @samsung) %>
        <% else %>
            <%= cookies[:code] ? f.hidden_field(:code, :value => cookies[:code]) : f.hidden_field(:code, :value => @default_code) %>
        <% end %>
        <%= f.hidden_field :abo, :value => params[:abo] %>
        <%= f.hidden_field :language, :value => Moovies.customer_languages[I18n.locale] %>
        <div class="col-xs-12" style="height:20px;"></div>
        <div class="form-group input-group-lg">
          <%= f.email_field :email, :class => 'form-control f20', :placeholder => t('.email') %>
        </div>
        <div class="col-xs-12" style="height:20px;"></div>
        <div class="form-group input-group-lg">
          <%= f.password_field :password, :class => 'form-control f20', :placeholder => t('.password') %>
        </div>
        <div class="col-xs-12" style="height:20px;"></div>
        <div class="form-group input-group-lg">
          <%= f.password_field :password_confirmation, :class => 'form-control f20', :placeholder => t('.confirmation_pass') %>
        </div>

        <div class="block100 mart30">

          <div class="col-md-1 col-sm-1 col-xs-1 padt5">
            <%= f.check_box :newsletter, :checked => true, class: "icheckbox" %></div>
          <div class="col-md-11 col-sm-11 col-xs-11">
            <label class="Arial f18 normal marl10"><%= t('.newsletter') %></label>
          </div>
        </div>

        <div class="block100 mart10">
          <div class="col-md-1 col-sm-1 col-xs-1 padt5">
            <%= f.check_box :newsletter_parnter, :checked => true, class: "icheckbox" %></div>
          <div class="col-md-11 col-sm-11 col-xs-11">
            <label class="Arial f18 normal marl10"><%= t('.newsletter_parnter') %></label>
          </div>
        </div>

        <div class="block100 text-center mart30">
          <%= f.submit t('.sign_up', :default => "Sign up"), :class => "btn block100 btn-green-gradient padlr40 padtb15 white f16 normal" %>
        </div>

        <div class="block100 mart5 text-center">
          <%= link_to t('signup.signin'), new_session_path(resource_name, :code => params[:code], :activation => params[:activation]), class: "f20" %>
        </div>
    <% end %>
  </div>
</div>

<script>

$(document).ready(function () {
    if ((window.location.pathname == "/" + gon.locale + "/mon-compte/sign_up")) {
        register();
    } else if ((window.location.pathname == "/" + gon.locale + "/mijn-account/sign_up")) {
        register();
    } else if ((window.location.pathname == "/" + gon.locale + "/my-account/sign_up")) {
        register();
    }
});

function register() {

    if ($("#customer_newsletter").is(':checked')) {
        customers_newsletter = 1
        $("#customer_newsletter").click(function () {
            if ($(this).is(':checked')) {
                customers_newsletter = 1
            } else {
                customers_newsletter = 0
            }
        });
    }

    if ($("#customer_newsletter_parnter").is(':checked')) {
        customers_newsletterpartner = 1
        $("#customer_newsletter_parnter").click(function () {
            if ($(this).is(':checked')) {
                customers_newsletterpartner = 1
            } else {
                customers_newsletterpartner = 0
            }
        });
    }

    $("#new_customer").validate({
        rules: {
            'customer[email]': {
                required: true,
                email: true,
                remote: "/api/v1/check_presence_of_customer_email_registration"
            },
            'customer[password]': {
                required: true,
                minlength: 8
            },
            'customer[password_confirmation]': {
                required: true,
                minlength: 8,
                equalTo: "#customer_password"
            }
        },
        messages: {
            'customer[email]': {
                required: required_message(),
                email: email_message(),
                remote: remote_message_register()
            },
            'customer[password]': {
                required: required_message_password(),
                minlength: min_characters()
            },
            'customer[password_confirmation]': {
                required: required_message_password_confirmation(),
                minlength: min_characters(),
                equalTo: equalToMessage()
            }
        },
        highlight: function(element) {
            $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
            $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        submitHandler: function (form) {
            $.ajax({
                method: 'POST',
                url: '/api/v1/register',
                data: {
                    'email': $("#customer_email").val(),
                    'password': $("#customer_password").val(),
                    'password_confirmation': $("#customer_password_confirmation").val(),
                    'code': gon.code,
                    'moovie_id': gon.moovie_id,
                    'activation': gon.activation,
                    'customers_newsletter': customers_newsletter,
                    'customers_newsletterpartner': customers_newsletterpartner
                },
                dataType: 'json',
                success: function (response) {
                    if (9 === response.status) {
                        window.location.href = response.message
                    }
                },
                error: function (response) {
                    console.log('CHECKED AJAX ERROR!!!');
                }
            });
        }
    });

}

function min_characters() {
    if (gon.locale == "fr") {
        return "S'il vous plaît entrer au moins 8 caractères."
    } else if (gon.locale == "nl") {
        return "Voer ten minste 8 tekens."
    } else if (gon.locale == "en") {
        return "Please enter at least 8 characters."
    }
}
function equalToMessage() {
    if (gon.locale == "fr") {
        return "Entrez à nouveau la même valeur s'il vous plait."
    } else if (gon.locale == "nl") {
        return "Vul dezelfde waarde opnieuw."
    } else if (gon.locale == "en") {
        return "Please enter the same value again."
    }
}
function required_message() {
    if (gon.locale == "fr") {
        return "Adresse e-mail est nécessaire."
    } else if (gon.locale == "nl") {
        return "E-mailadres is verplicht."
    } else if (gon.locale == "en") {
        return "Email address is required."
    }
}
function required_message_password() {
    if (gon.locale == "fr") {
        return "Mot de passe requis."
    } else if (gon.locale == "nl") {
        return "Een wachtwoord is verplicht."
    } else if (gon.locale == "en") {
        return "Password is required."
    }
}
function required_message_password_confirmation() {
    if (gon.locale == "fr") {
        return "Confirmation mot de passe est nécessaire."
    } else if (gon.locale == "nl") {
        return "Wachtwoord bevestiging nodig is."
    } else if (gon.locale == "en") {
        return "Password confirmation is required."
    }
}
function email_message() {
    if (gon.locale == "fr") {
        return "Format votre adresse email doit être correcte."
    } else if (gon.locale == "nl") {
        return "Formatteren uw e-mail adres moet correct zijn."
    } else if (gon.locale == "en") {
        return "Format your email address must be correct."
    }
}
function remote_message() {
    if (gon.locale == "fr") {
        return "Adresse e-mail ne se trouve pas dans le système."
    } else if (gon.locale == "nl") {
        return "E-mail adres is niet gevonden in het systeem."
    } else if (gon.locale == "en") {
        return "Email address is not found in the system."
    }
}
function remote_message_register() {
    if (gon.locale == "fr") {
        return "Adresse e-mail existe dans le système."
    } else if (gon.locale == "nl") {
        return "E-mailadres bestaat in het systeem."
    } else if (gon.locale == "en") {
        return "Email address exists in the system."
    }
}
function login_password() {
    if (gon.locale == "fr") {
        return "Champ Mot de passe est nécessaire."
    } else if (gon.locale == "nl") {
        return "Password veld is verplicht."
    } else if (gon.locale == "en") {
        return "Password field is required."
    }
}

</script>
