<div class="container clearfix">
  <div id="step_wrap">
    <div id="step_container">
      <div class="step_form">
        <div class="step_1 step fr" align="center"></div>
        <h3><%= t('.title', :default => 'Créez votre compte:') %></h3>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="labelstep">
          <%= f.label :email, t('.email') %>
          <%= f.email_field :email, :autofocus => true %>
        </div>

        <div class="labelstep">
          <%= f.label :password, t('.password').html_safe %>
          <%= f.password_field :password %>
        </div>

        <div class="labelstep">
          <%= f.label :password_confirmation, t('.confirmation_pass') %>
          <%= f.password_field :password_confirmation %>
        </div>
        <p>
          <%= f.check_box :newsletter, :checked => true, :align => :top %>
          <%= t('.newsletter', :default => 'Je souhaite être informé des nouveautés et promotions DVDPost.') %>
        </p>
        <p>
          <%= f.check_box :newsletter_parnter, :checked => true, :align => :top %>
          <%= t('.newsletter_parnter', :default => 'Je souhaite être informé des promotions de la part des partenaires de DVDPost.') %>
        </p>
        <p><br/><%= f.submit t('.sign_up', :default => "Sign up"), :class => 'promo_button' %></p>
        <% end %>
      </div>
      <p align="center" style="padding-top:15px;"><img src="/assets/fr/info_tel.jpg" border="0" /></p>
    </div>

  <%= render :partial => 'devise/registrations/faq1' %>
  </div>
</div>
