
  <div id="faq">
    <ul id="faq-nav">
      <% @faqs.each do |faq| %>
        <li>
          <a href="#" class='menu_faq'>
           <%= t(".cat_#{faq.to_param}") %>
          </a>
          <ul style='display:none'>
              <% faq.nb_questions.times do |i| %>
                <li>
                  <a href="#" class="q" id="<%= "q#{faq.to_param}_#{(i+1)}" %>"><%= t(".q#{faq.to_param}_#{(i+1)}") %></a>
                </li>
              <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
    <% @faqs.each do |faq| %>
      <% faq.nb_questions.times do |i| %>
        <div class="faq-answer" id ="<%= "r#{faq.to_param}_#{(i+1)}" %>" style="display:none">
          <h3><%= t(".q#{faq.to_param}_#{(i+1)}") %></h3>
          <div class="box">
            <%= t(".r#{faq.to_param}_#{(i+1)}").html_safe %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="clear"></div>
  </div>
