<div class="block100 table-holder">
  <div id="header_messages">
    <h3> <%= params[:filter] == Ticket.filter[:archive] ? t('.archive') : t('.recipient') %> </h3>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Mail</th>
      <th>
        <form action='<%= messages_path() %>' id='sort_form'>
          <input type='hidden' name='filter' value='<%= params[:filter] %>'>
          <select name="sort" id="sort_combo">
            <option  value="normal" value=''><%= t '.by_answer' %></option>
            <option <%= params[:sort] && params[:sort].to_sym == :ticket ? 'selected="selected"' : '' %> value="ticket"><%= t '.by_ticket' %></option>
          </select>
        </form>
        <div class="drop-holder"></div>
      </th>
      <% unless params[:filter] == Ticket.filter[:archive] %>
      <th><i class="fa fa-trash f20"></i></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <%= render :partial => 'messages/index/message', :collection => messages %>
    </tbody>
  </table>
  <div class="block100 mart30 pagin-bar">
    <%= will_paginate messages, renderer: BootstrapPagination::Rails, :class => 'products-pagination', :previous_label => '&nbsp;', :next_label => '&nbsp;' %>
  </div>
</div>
