<div class="container white-bck">
  <div class="block100 thinrgray-bck radius2 padlr10 switch-view-panel">
    <!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <a href="index.php%3Fpage=search-results.html#" id="activate" class="btn marl10 f11 dark-blue-bck white">Activer la pagination automatique</a>
    </div>-->

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
      <% var = params[:sort] ? params[:sort].to_sym : :normal %>
      <%= form_for(:product, :url => request.fullpath, :html => {:method => :get, :id => :sort_form}) do |f| %>
          <%= hash_to_hidden_fields(params.merge(:page => nil, :sort => nil)) %>
          <%= select_tag :sort, options_for_select(sort_collection_for_select, :selected => var), {:class => "ui-selectmenu-button ui-widget ui-state-default ui-corner-all", :onchange => '$("#sort_form").submit();'} %>
      <% end %>
    </div>
  </div>
  <div class="movie-block block100 mart15">
    <%= render :partial => 'products/index/movie_details', :collection => @products, :locals => {:target => @target} if @active == 'products' %>
  </div>
  <%= render :partial => 'products/index/pagination', :locals => {:item => @item} if @active == 'products' %>
</div>