<% path =  carousel_path(carousel) %>
<% image = image_tag(carousel.image, :alt => carousel.title(I18n.locale), :size => '932x328') %>
<div id="slider-wrap">
  <div id="image_promo">
    <h1><%= t('.title').html_safe %></h1>
    <h2><%= t('.slogan').html_safe %></h2>
    <ul id="output">
      <li>
        <div class="caption osc">
          <h2><%= carousel.title(I18n.locale) %></h2>
          <h4>
            <%= carousel.description(I18n.locale) %>
          </h4>
        </div>
        <a href="<%= path %>"><%= image %></a>
      </li>
    </ul>
  </div>
</div>
