<div class="container white-bck dark-gray padb20">
  <%= render :partial => 'messages/menu', :locals => {:active_menu => 'contact'} if current_customer %>
  <h1 class="OpenSansCondensed mart40"><%= t '.title' %></h1>
  <%= render :partial => 'phone_requests/new/info' %>
  <%= render :partial => 'phone_requests/new/form', :locals => {:phone_request => @phone_request} %>
</div>
<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "contact/question" %>
<% end %>