<div class="step2">
<%= link_to root_path do %>
  <%= image_tag "step2/logo.png" %>
  <% end %>
</br>
<div class="separator-part">
  <div class="separator-line"></div>
    <label class="separator-label"><%= t('.promotions.show.or') %></label>
  <div class="separator-line"></div>
</div>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.email_field :email, :class => 'text-field', :placeholder => t('.email') %>

  <%= f.submit t('.sent'), :id => :submit_button, :class => "button-connenct-large" %>
<% end %>
</div>
<div class="links">
  <%= render "devise/shared/links" %>
</div>
