<div class="container" id="content-left-right">
  <div class="content-left">
    <%= render :partial => 'products/index/filters_online', :locals => {:countries => @countries} %>
  </div>
  <div class="content-right">
    <div id="main-content" class="block100 movies">
      <div id="slider-view">
        <div class="home-carousel-holder center-block">
          <div class="hr-with-words">
            <span class="Arial f30 <%= params[:kind] == :adult ? "light-violet" : "light-blue" %>"><%= t('.belgium') %></span>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @country, :title => :country, :type => nil, :view_mode => nil, :source => 72, :belgium => 1} %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @actor, :title => :actor, :type => nil, :view_mode => nil, :source => 73, :belgium => 2} %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @director, :title => :director, :type => nil, :view_mode => nil, :source => 74, :belgium => 3} %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @land, :title => :land, :type => nil, :view_mode => nil, :source => 75, :belgium => 4} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


