<div class="container white-bck dark-gray padb20">
  <h1 class="OpenSansCondensed f30 green pad0 mar0 mart10"><%= t('.offer') %></h1>
  <%= image_tag "template/carrefour-logo.png", class: "mart20" %>
  <p class="block100 martb20"><%= t('.customer').html_safe %></p>
  <p class="block100 carrefour-bullet"><%= t('.4loc').html_safe %></p>
  <p class="block100 carrefour-bullet"><%= t('.first').html_safe %></p>
  <%= form_tag carrefour_path(), :id => 'form_carrefour' do %>
      <h2 class="mart30 f20 bold block100"><%= t('.choose_formula') %></h2>
      <ul class="carrefour-list">
        <li class="text-center radius4">
          <h3 class="Arial">2 <%= t('.films') %></h3>
          <div class="carrefour-card-section block100">
            <span class="orange bold block100">0€</span>
            <%= t('.first_month') %>
          </div>
          <div class="carrefour-card-section block100">
            <span class="block100">3,99€</span>
            <span class="block100 f15"><%= t('.next_month') %></span>
          </div>
          <div class="carrefour-card-section block100">
            <input type="radio" class="iradio" id="carrefour-select-offer-2" name="abo" value='7' <%= "checked='checked'" if params[:abo]== "7" %>/>
          </div>
        </li>
        <li class="text-center radius4">
          <h3 class="Arial">4 <%= t('.films') %></h3>
          <div class="carrefour-card-section block100">
            <span class="orange bold block100">3,99€</span>
            <%= t('.first_month') %>
          </div>
          <div class="carrefour-card-section block100">
            <span class="block100">7,99€</span>
            <span class="block100 f15"><%= t('.next_month') %></span>
          </div>
          <div class="carrefour-card-section block100">
            <input type="radio" class="iradio" id="carrefour-select-offer-4" name="abo" value='8' <%= "checked='checked'" if params[:abo]== "8" %>/>
          </div>
        </li>
        <li class="text-center radius4">
          <h3 class="Arial">6 <%= t('.films') %></h3>
          <div class="carrefour-card-section block100">
            <span class="orange bold block100">7,99€</span>
            <%= t('.first_month') %>
          </div>
          <div class="carrefour-card-section block100">
            <span class="block100">11,99€</span>
            <span class="block100 f15"><%= t('.next_month') %></span>
          </div>
          <div class="carrefour-card-section block100">
            <input type="radio" class="iradio" id="carrefour-select-offer-6" name="abo" value='9' <%= "checked='checked'" if params[:abo] == "9" %>/>
          </div>
        </li>
        <li class="text-center radius4 most-popular">
          <h3 class="Arial">8 <%= t('.films') %></h3>
          <div class="carrefour-card-section block100">
            <span class="orange bold block100">10,99€</span>
            <%= t('.first_month') %>
          </div>
          <div class="carrefour-card-section block100">
            <span class="block100">14,99€</span>
            <span class="block100 f15"><%= t('.next_month') %></span>
          </div>
          <div class="carrefour-card-section block100">
            <input type="radio" class="iradio" id="carrefour-select-offer-8" name="abo" value='10' <%= "checked='checked'" if params[:abo] == "10" %>/>
          </div>
        </li>
        <li class="text-center radius4">
          <h3 class="Arial">10 <%= t('.films') %></h3>
          <div class="carrefour-card-section block100">
            <span class="orange bold block100">13,99€</span>
            <%= t('.first_month') %>
          </div>
          <div class="carrefour-card-section block100">
            <span class="block100">17,99€</span>
            <span class="block100 f15"><%= t('.next_month') %></span>
          </div>
          <div class="carrefour-card-section block100">
            <input type="radio" class="iradio" id="carrefour-select-offer-10" name="abo" value='11' <%= "checked='checked'" if params[:abo] == "11" %>/>
          </div>
        </li>
      </ul>
      <ul class="cl-list block100 mart30">
        <li><%= t('.catalog').html_safe %></li>
        <li><%= t('.free').html_safe %></li>
        <li><%= t('.increase').html_safe %></li>
        <li><%= t('.2_credits').html_safe %></li>
      </ul>
      <h2 class="mart30 f20 bold block100"><%= t('.fill_in_code') %></h2>
      <div class="block100">
        <% if @error_abo %>
            <div class="alert alert-danger">
              <strong><%= t('.abo_error') %></strong>
            </div>
        <% end %>
        <% if @error_discount_reused %>
            <div class="alert alert-danger">
              <strong><%= t('session.error_discount_reused') %></strong>
            </div>
        <% end %>
        <% if @error_code %>
            <div class="alert alert-danger">
              <strong><%= t('.code_error') %></strong>
            </div>
        <% end %>
        <input type="text" placeholder="Enter code" name="carrefour_code" value=""<%= params[:carrefour_code] %>">
        <input type="submit" class="btn green-bck white pad10 padlr25" value="<%= t('.valid') %>">
        <ul class="payment-cards">
          <li><%= image_tag "template/card-american-express-small.png" %></li>
          <li><%= image_tag "template/card-visa-small.png" %></li>
          <li><%= image_tag "template/card-master-small.png" %></li>
          <li><%= image_tag "template/card-atos-small.png" %></li>
          <li><%= image_tag "template/card-paypal-small.png" %></li>
          <li><%= image_tag "template/card-version-secured-small.png" %></li>
          <li><%= image_tag "template/card-norton-small.png" %></li>
        </ul>
        <p class="block100 text-left f13 mart15">Secured online transactions managed by Ingenico</p>
      </div>
  <% end %>
</div>