<% if current_customer %>
  <!-- Tabs rotattor -->
  <%= render :partial => 'home/index/carousel', :locals => {:carousel => @carousel} %>
<% else %>
  <%= render :partial => 'home/index/carousel_public' %>
<% end %>
<!-- Services -->
<div id="services-wrap">
  <div class="wrap" id="vod-ppv">
    <h3><%= t '.unlinmited' %></h3>
    <center>
        <%= link_to image_tag("infinity.gif", :size => '200x95'), products_path(:package => Moovies.packages.invert[1], :kind => nil) %>
    </center>
    • <%= t '.unlinmited1' %><br />
    • <%= t '.unlinmited2' %><br />
    • <%= raw t '.unlinmited3' %>
    <ul class="osc">
      <li><%= link_to t('.discover'), products_path(:package => Moovies.packages.invert[1], :kind => nil) %></li>
    </ul>
  </div>
  <div class="wrap" id="alacarte">
    <h3><%= t '.tvod' %></h3>
    <center>
      <%= link_to image_tag("alacarte.gif", :size => '200x95'), products_path(:package => Moovies.packages.invert[2], :kind => nil) %>
    </center>
    • <%= t '.tvod1' %><br />
    • <%= t '.tvod2' %><br />
    • <%= raw t '.tvod3' %>
    <ul class="osc">
      <li><%= link_to t('.discover'), products_path(:package => Moovies.packages.invert[2], :kind => nil) %></li>
    </ul>
  </div>
  <div class="wrap" id="apps">
    <h3><%= t '.multi' %></h3>
    <center>
      <%= link_to image_tag("icon_plateforme.gif", :size => '200x95'), info_path(:page_name => :vod) %>
    </center>
    • <%= t '.multi1' %><br />
    • <%= t '.multi2' %><br />
    • <%= raw t '.multi3' %>
    <ul class="osc">
      <li><%= link_to t('.discover'), info_path(:page_name => :vod) %></li>
    </ul>
  </div>
  <div class="wrap" id="news">
    <h3><%= t '.newsletter' %></h3>

    <%= form_for @newsletter do |f| %>
    <center>
        <%= f.error_messages :header_message => "", :message => "", :header_tag => :h3 %>
        <%= f.hidden_field :language_id, :value => Moovies.customer_languages[I18n.locale] %>
        <%= hidden_field_tag :promo, params[:code] %>
        <%= f.text_field :email, :size => 30, :value => 'Philippe@gmail.com' %>
    </center>
    • <%= t '.newsletter1' %><br />
    • <%= t '.newsletter2' %><br />
    • <%= raw t '.newsletter3' %><br />
    <ul class="osc">
      <li>
        <%= submit_tag t('.valid', :default => 'JE valide'), :id => 'newsletter_input' %>
      </li>
    </ul>
    <% end %>
    
  </div>
</div>
<!-- #services-wrap -->
<div class="container clearfix" >
  <!--   ==============   MAIN CONTENT   ==============   -->
  <div id="maincontent" >
    <div id="new-infinity-wrap">
      <h2><%= t('.unlimited_new').html_safe %></h2>
      <div class="tab-container">
        <ul>
          <%= render :partial => 'products/detail', :collection => @new_svod, :locals => {:content => :svod} %>
        </ul>


      </div>
    </div>

    <div id="new-alacarte-wrap">
      <h2><%= t('.tvod_new').html_safe %></h2>
      <div class="tab-container">
        <ul>
          <%= render :partial => 'products/detail', :collection => @new_tvod, :locals => {:content => :tvod} %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
    <% unless current_customer %>
    <div id="subscribe-wrap">
      <%= link_to image_tag("#{I18n.locale}/banner_promo_hp.jpg", :size => '942x188'), new_customer_registration_path(:code => @discount_bottom.name) %>
    </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->

