<div id="slider-wrap">
  <div id="image_promo">
    <h1><%= t('.title').html_safe %></h1>
    <h2><%= t '.slogan' %></h2>

    <ul id="output">
      <li>
        <div id="try_it"> <a class="essaigratuit osc btn" href="#"><%= t '.try' %></a> <div id="engagement"><%= t '.try_text' %></div></div>
        <a href="#">
          <%= image_tag "#{I18n.locale}/bg_infinity.jpg", :size => '932x328' %>
        </a> 
      </li>
    </ul>
  </div>
</div>
<!-- #slider-wrap -->
<!-- Services -->
<div id="services-wrap">
  <div class="wrap" id="vod-ppv">
    <h3><%= t '.unlinmited' %></h3>
    <center>
      <a href="#"> <img width="200" height="95" src="/assets/infinity.gif" alt="info abo"> </a>
    </center>
    • <%= t '.unlinmited1' %><br />
    • <%= t '.unlinmited2' %><br />
    • <%= raw t '.unlinmited3' %>
    <ul class="osc">
      <li> <a href="#"><%= t '.discover' %></a></li>
    </ul>
  </div>
  <div class="wrap" id="alacarte">
    <h3><%= t '.tvod' %></h3>
    <center>
      <a href="#"><img width="200" height="95" src="/assets/alacarte.gif" alt="info vod"> </a>
    </center>
    • <%= t '.tvod1' %><br />
    • <%= t '.tvod2' %><br />
    • <%= raw t '.tvod3' %>
    <ul class="osc">
      <li> <a href="#"><%= t '.discover' %></a> </li>
    </ul>
  </div>
  <div class="wrap" id="apps">
    <h3><%= t '.multi' %></h3>
    <center>
      <a href="#"> <img width="200" height="95" src="/assets/icon_plateforme.gif" alt="info vod"> </a>
    </center>
    • <%= t '.multi1' %><br />
    • <%= t '.multi2' %><br />
    • <%= raw t '.multi3' %>
    <ul class="osc">
      <li> <a href="#"><%= t '.discover' %></a> </li>
    </ul>
  </div>
  <div class="wrap" id="news">
    <h3><%= t '.newsletter' %></h3>

    <form method="post" id="new_public_newsletter" class="new_public_newsletter" action="/fr/public_newsletters">
      <div style="margin:0;padding:0;display:inline">
        <input type="hidden" value="JKK9rVJaYd+pTqqX++XT9UfSKBom0eSB5KXdQbdYobs=" name="authenticity_token">
      </div>
      <center>
        <input type="hidden" value="1" name="public_newsletter[language_id]" id="public_newsletter_language_id">
        <input type="hidden" name="promo" id="promo">
        <input type="text" value="Philippe@gmail.com" size="30" name="public_newsletter[email]" id="public_newsletter_email">
      </center>
      • <%= t '.newsletter1' %><br />
      • <%= t '.newsletter2' %><br />
      • <%= raw t '.newsletter3' %><br />

      <ul class="osc">
        <li>
          <input type="submit" value="<%= t '.valid' %>" name="commit" id="newsletter_input">
        </li>
      </ul>
    </form>
  </div>
</div>
<!-- #services-wrap -->
<div class="container clearfix" >
  <!--   ==============   MAIN CONTENT   ==============   -->
  <div id="maincontent" >
    <div id="new-infinity-wrap">
      <h2><%= t('.unlimited_new').html_safe %></h2>
      <div class="tab-container">
        <ul>
          <%= render :partial => 'products/detail', :collection => @new_svod, :locals => {:content => :svod} %>
        </ul>


      </div>
    </div>

    <div id="new-alacarte-wrap">
      <h2><%= t('.tvod_new').html_safe %></h2>
      <div class="tab-container">
        <ul>
          <%= render :partial => 'products/detail', :collection => @new_tvod, :locals => {:content => :tvod} %>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
    <div id="subscribe-wrap">
      <div class="wrap" style="">
        <h3><%= t('.watch_now') %></h3>
        <%= image_tag "#{I18n.locale}/prices.png", :size => '450x118' %>
      </div>
      <div id="try_it"> <a class="essaigratuit osc btn" href="#"><%= t('.try2') %></a> <div id="engagement"><%= t('.try2_text') %></div></div>

    </div>
    <div class="clear"></div>
  </div>
</div>
</div>
<!--   ==============   END MAIN CONTENT   ==============   -->

