<div class="form-group block100 mart5">
<%= form_for message, :url => messages_path do |f| %>
  <!-- <h3 class="dark-gray pad0 mar0 marb10">Nouveau message</h3> -->
  <h3 class="dark-gray pad0 mar0 marb10"><%= t('.new_message') %></h3>
  <strong class="clearfix"><%= t('.subject') %>:</strong>
  <div class="block100 mart10">
    <% PhoneRequest.reason_codes.each do |key, code| %>
      <label class="radio-inline">
        <%= f.label "category_ticket_id_#{code}", t("phone_requests.new.form.reason_label_#{code}") %>
        <%= f.radio_button :category_ticket_id, code, :checked => (code == 5 || code == category_ticket_id), class: "iradio" %>
      </label>
    <% end %>
  </div>
  <div class="block100 mart10">
    <strong class="clearfix"><%= t('.message') %></strong> 
    <%= text_area_tag 'message',(text.nil? ? nil : text), :cols => 72, :rows => 9,  :id => :message_textarea %>
  </div>
  <div class="block100 mart20">
    <%= button_tag(class: "btn light-blue-bck OpenSansCondensed f18") do %>
      <%= t '.send' %>
    <% end %>
  </div>
<% end %>
</div>