<div class="container white-bck dark-gray padb20">
  <h1 class="OpenSansCondensed f30 green pad0 mar0 mart10"><%= t('home.photobox.offer').html_safe %></h1>
  <%= image_tag("template/photobox-logo.png", alt: "Photobox", class: "mart20") %>

  <p class="block100 martb20"><%= t('home.photobox.discount.title') %></p>


    <h2 class="mart30 f20 bold block100"><%= t('home.photobox.choose_formula').html_safe %></h2>
    <ul class="carrefour-list">
      <li class="text-center radius4">
        <h3 class="Arial">2 <%= t('home.photobox.films').html_safe %></h3>
        <div class="carrefour-card-section block100">
          <span class="orange bold block100">0.99€</span>
          <%= t('home.photobox.first_month').html_safe %>
        </div>

        <div class="carrefour-card-section block100">
          <p class="block100">(<%= t('home.photobox.original_price').html_safe %> <span class="overlined">3,99€</span>)</p>
        </div>

        <div class="carrefour-card-section block100">
          <input type="radio" class="iradio" name="offer[]" value="2" id="select-offer-2"/>
        </div>
      </li>
      <li class="text-center radius4 most-popular">
        <h3 class="Arial">4 <%= t('home.photobox.films').html_safe %></h3>
        <div class="carrefour-card-section block100">
          <span class="orange bold block100">1.99€</span>
          <%= t('home.photobox.first_month').html_safe %>
        </div>

        <div class="carrefour-card-section block100">
          <p class="block100">(<%= t('home.photobox.original_price').html_safe %> <span class="overlined">3,99€</span>)</p>
        </div>

        <div class="carrefour-card-section block100">
          <input type="radio" class="iradio" name="offer[]" value="4" id="select-offer-4"/>
        </div>
      </li>
      <li class="text-center radius4">
        <h3 class="Arial">6 <%= t('home.photobox.films').html_safe %></h3>
        <div class="carrefour-card-section block100">
          <span class="orange bold block100">2.99€</span>
          <%= t('home.photobox.first_month').html_safe %>
        </div>

        <div class="carrefour-card-section block100">
          <p class="block100">(<%= t('home.photobox.original_price').html_safe %> <span class="overlined">3,99€</span>)</p>
        </div>

        <div class="carrefour-card-section block100">
          <input type="radio" class="iradio" name="offer[]" value="6" id="select-offer-6"/>
        </div>
      </li>

    </ul>

    <ul class="cl-list block100 mart30">
      <li><%= t('home.photobox.catalog').html_safe %></li>
      <li><%= t('home.photobox.free').html_safe %></u></li>
      <li><%= t('home.photobox.increase').html_safe %></li>
      <li><%= t('home.photobox.2_credits').html_safe %></li>
    </ul>


    <div class="block100 mart30">
      <input id="photobox-btn" type="submit" class="btn green-bck white pad10 padlr25" value="<%= t('home.photobox.valid').html_safe %>">

      <ul class="payment-cards">

        <li><%= image_tag("template/card-american-express-small.png") %></li>
        <li><%= image_tag("template/card-visa-small.png") %></li>
        <li><%= image_tag("template/card-master-small.png") %></li>
        <li><%= image_tag("template/card-atos-small.png") %></li>
        <li><%= image_tag("template/card-paypal-small.png") %></li>
        <li><%= image_tag("template/card-version-secured-small.png") %></li>
        <li><%= image_tag("template/card-norton-small.png") %></li>

      </ul>
      <p class="block100 text-left f13 mart15">Secured online transactions managed by Ingenico</p>
    </div>




</div>

<script>

$( document ).ready(function() {
    if (window.location.pathname == "/en/photobox" || window.location.pathname == "/fr/photobox" || window.location.pathname == "/nl/photobox") {
        $("#photobox-btn").click(function() {
            if ($('#select-offer-2').is(':checked')) {
                window.location.href = gon.case2FILMS75
            } else if ($('#select-offer-4').is(':checked')) {
                window.location.href = gon.case4FILMS75
            } else if ($('#select-offer-6').is(':checked')) {
                window.location.href = gon.case6FILMS75
            } else {
                jQuery.facebox("<div class=\"alert alert-danger\">" +
                    "<strong>" + gon.home_photobox_error  + "</strong>" +
                    "</div>");
            }
        });
    }
});

</script>
