<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 contact-left">
  <h3 class="f25 pad0 mart0"><%= t '.email.title' %></h3>
  <% if !current_customer %>
      <%= t '.email.text' %>
      <%= mail_to "info@plush.be" %>
  <% else %>
      <%= link_to t('.private_message'), new_message_path(), :id => 'new_message', :class => 'btn green-bck OpenSansCondensed f15', rel: "facebox" %>
  <% end %>
  <h3 class="f25 pad0 mart20"><%= t '.phone.title' %></h3>
  <p><%= t('.phone.text').html_safe %></p>
  <br>
  <% if I18n.locale == :fr %>
      <p id="reed_txt_phone_request">
        Le service téléphonique est exceptionnellement fermé. Merci de nous contacter par e-mail.
      </p>
  <% elsif I18n.locale == :nl %>
      <p id="reed_txt_phone_request">
        We zijn uitzonderlijk niet bereikbaar per telefoon. Gelieve ons via e-mail te contacteren.
      </p>
  <% elsif I18n.locale == :en %>
      <p id="reed_txt_phone_request">
        Exceptionally we cannot be reached by phone. Please contact us by e-mail.
      </p>
  <% end %>
  <h3 class="f25 pad0 mart20"><%= t '.fax.title' %></h3>
  <p><%= t('.fax.text').html_safe %></p>
  <h3 class="f25 pad0 mart20"><%= t '.snail.title' %></h3>
  <p><%= t('.snail.text').html_safe %></p>
</div>
<style>
  #reed_txt_phone_request {
    color: #900;
  }
</style>