<div class="container clearfix">
  <div id="step_wrap">
    <div id="step_container">
      <div class="step_form">
        <% if @promo.nil? || !@promo.tvod_only %>
          <div class="step_1 step <%= I18n.locale %>" align="center"></div>
        <% end %>
        <h3><%= t('.title') %></h3>
        <p><%= t('.description').html_safe %></p>
        <br /><br />
        <p><%= link_to t('devise.shared.links.no_confirmation'), new_customer_confirmation_path(:locale => I18n.locale) , :class => :confirm %></p>
      </div>
      
      <p align="center" class="telfooter"><a class="f-btn <%= I18n.locale %>" href="mailto:info@plush.be">info@plush.be</a></p>
     
    </div>

  <%= render :partial => 'devise/registrations/faq1' %>
  </div>
</div>
