<div id="step_wrap">
  <div id="step_container">
    <div class="step_form">
      <div class="step_2 step <%= I18n.locale %>" align="center"></div>
      <h3><%= t('.title') %></h3>
      <p id='invoice_description'>
        <%= t('.description') %>
      </p>
      <%= form_for :images, :url => customer_images_path(:customer_id => current_customer), :html => {:multipart => true} do |f| %>
        <p align="center"><%= f.file_field :invoice, :accept => 'image/*,application/pdf' %></p>
        <br />
        <p id ='invoice_detail'>
          <%= t('.detail', :default => 'only image or pdf') %>
        </p>
        <p class="bouton_probleme" align="center">
          <%= submit_tag t('.valid'), :class => "promo_button", :id => "bt_valid" %>
        </p>
      <% end %>
    </div>
  </div>
</div>