<div class="container clearfix">
  <div id="step_wrap">
    <div class="step_form">
      <h3><%= t('.congrats') %></h3>
      <p><%= t('.desc1') %></p>
      <p><%= t('.desc2') %></p>
      <div class="catalogue_promo"> 
        <%= link_to t('.catalogue'), products_path(:package => Moovies.packages.invert[2]), :class => :promo_button %>
      </div>
      <div class="vod_faq">
        <%= link_to t('.vod_faq'), root_localize_path, :class => :promo_button %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- Google Code for Plush - Conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1033549176;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "mW-yCIDZywYQ-Orq7AM";
var google_conversion_value = 0;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1033549176/?value=0&amp;label=mW-yCIDZywYQ-Orq7AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
