<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "step3" %>
<% end %>
<div class="step">
  <div class="logo-page"></div>
  <%= link_to destroy_customer_session_path, :method => :delete do %>
    <label class="log-out"><%= t('promotion.newstep3.signout') %></label>
  <% end %>

  <div class="main-block">
    <label class="main-caption"><%= t('promotion.newstep3.line1').html_safe %></label>
    <label class="main-text"><%= t('promotion.newstep3.line2').html_safe %></label>
    <ul class="main-list">
      <li><%= t('promotion.newstep3.line3').html_safe %></li>
      <li><%= t('promotion.newstep3.line4').html_safe %></li>
      <li><%= t('promotion.newstep3.line5').html_safe %></li>
    </ul>
    <div class="lock-block">
      <div class="lock-img"></div>
      <div class="secure">
        <label class="server"><%= t('promotion.newstep3.serversecure1').html_safe %></label>
        <label class="plus"><%= t('promotion.newstep3.serversecure2').html_safe %></label>
      </div>
    </div>

    <div id="accordion">
      <section id="item1">
        <p class="pointer">&#9654;</p>
        <h1><a href="#"><%= t('promotion.newstep3.paymentoption1').html_safe %></a></h1>
        <%= form_for(:customer, :url => customer_payment_methods_path(:customer_id => current_customer.to_param), :html => {:method => :put, :id => "form_step3"}) do |f| %>
          <div class="grid grid-pad">
              <div class="col-1-4">
                 <div class="content">
                   <table>
                    <tr>
                      <td>
                        <input type="radio" value="visa" name="brand" id="visa"> <%= image_tag "visa_icon.png" %> <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visa</p>
                      </td>
                    </tr>
                  </table>
                 </div>
              </div>
              <div class="col-1-4">
                 <div class="content">
                    <table>
                      <tr>
                        <td><input type="radio" value="mastercard" name="brand" id="master"> <%= image_tag "master_card_icon.png" %> <p>&nbsp;&nbsp;Master Card</p></td>
                      </tr>
                    </table>
                 </div>
              </div>
              <div class="col-1-4">
                 <div class="content">
                    <table>
                      <tr>
                        <td>
                          <input type="radio" value="american Express" name="brand" id="amex"> <%= image_tag "american-express_icon.png" %> <p>American Express</p>
                        </td>
                      </tr>
                    </table>
                 </div>
              </div>
              <div class="col-1-4">
                 <div class="content">
                   <input type="submit" name="sent" value="<%= t '.confirm' %>" class="button-connenct"/>
                 </div>
              </div>
          </div>
        <% end %>
      </section>
      <!--
      <section id="item2" class="ac_hidden">
        <p class="pointer">&#9654;</p>
        <h1><a href="#"><%= t('promotion.newstep3.paymentoption2').html_safe %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag "step3/paypal.png" %></a>
        </h1>
        <p>Pellentesque habitant... </p>
      </section>
      <section id="item3" class="ac_hidden">
        <p class="pointer">&#9654;</p>
        <h1>
          <a href="#"><%= t('promotion.newstep3.paymentoption3').html_safe %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag "step3/virement.png" %></a>
        </h1>
        <p>Pellentesque habitant... </p>
        <p>Pellentesque habitant... </p>
      </section>
    -->
    </div>

    <label class="phone-number"><%= t('promotion.newstep3.supportinfo').html_safe %></label>
    <%= link_to t('promotion.newstep3.conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')), class: "conditions-d-utilisation" %>
  </div>
</div>
<div id='alert_cc' style="display:none">
  <%= t('.alert_cc') %>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $("#accordion section h1").click(function (e) {
      $(this).parents().siblings("section").addClass("ac_hidden");
      $(this).parents("section").removeClass("ac_hidden");
      e.preventDefault();
    });
  });
</script>
