<div class="container white-bck dark-gray padb20" xmlns="http://www.w3.org/1999/html">
  <h1 class="OpenSansCondensed f30 mar0 pad0"><%= t('promotion.newstep3.line1').html_safe %></h1>
  <p class="mart15"><%= t('promotion.newstep3.line4').html_safe %></p>
  <p><%= t('promotion.newstep3.line5').html_safe %></p>
  <button id="convert_to_customer" type="button" class="btn btn-danger btn-block"><%= t('convert_to_customer') %></button>
  <div id="accordion" class="mart30">
    <h3>Carte bancaire</h3>
    <%= form_for(:customer, :url => customer_payment_methods_path(:customer_id => current_customer.to_param), :html => {:method => :put, :id => "form_step3"}) do |f| %>
        <div>
          <div id="banc_card_error"></div>
          <ul class="card-list">
            <li>
              <div class="card-image">
                <%= image_tag "template/card-visa.png", class: "img-responsive" %>
              </div>
              <div class="card-radio">
                <input type="radio" value="visa" name="brand" id="visa" class="iradio">
              </div>
            </li>
            <li>
              <div class="card-image">
                <%= image_tag "template/card-master.png", class: "img-responsive" %>
              </div>
              <div class="card-radio">
                <input type="radio" value="mastercard" name="brand" id="master" class="iradio">
              </div>
            </li>
            <li>
              <div class="card-image">
                <%= image_tag "template/card-american-express.png", class: "img-responsive" %>
              </div>
              <div class="card-radio">
                <input type="radio" value="american Express" name="brand" id="amex" class="iradio">
              </div>
            </li>
          </ul>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mart20">
            <input type="submit" name="submit" class="btn block100 btn-green-gradient padlr40 padtb5 white f17 normal" id="confirm-card-form" value="<%= t '.confirm' %>"></input>
          </div>
        </div>
    <% end %>
    <h3>PayPal</h3>
    <div>
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 mart10"><%= image_tag "template/paypal.png", class: "img-responsive" %></div>
      <div class="block100 mart20">
        <%= link_to(image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), api_v1_express_checkout_path) %>
      </div>
    </div>
    <h3>Virement</h3>
    <div>
      <form id="virman" action="<%= api_v1_virement_path %>">
        <div class="block100 virement">
          <div class="text-center form-group">
            <input type="text" name="first_name" placeholder="<%= t('promotion.newstep3.first_name') %>" id="first_name" class="form-control">
          </div>
          <div class="text-center form-group">
            <input type="text" name="last_name" placeholder="<%= t('promotion.newstep3.last_name') %>" id="last_name" class="form-control">
          </div>
          <div class="text-center form-group">
            <input type="text" name="telephone" placeholder="<%= t('promotion.newstep3.telephone') %>" id="telephone" class="form-control">
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mart20">
          <input type="submit" name="submit" class="btn block100 btn-green-gradient padlr40 padtb5 white f17 normal" id="confirm-personal-form" value="<%= t '.confirm' %>"></input>
        </div>
      </form>
    </div>
    <h3><%= t('use_orange_billing') %></h3>
    <div>
      <div id="sms_auth" class="center-block thin-holder border radius4 thinrgray-bck pad20 mart20 overflow-hidden">
        <div class="block100 text-center">
          <%= image_tag("orange_logo.jpg", width: "70", height: "70") %>
          <div class="col-xs-12" style="height:40px;"></div>
        </div>
        <div id="sms_form">
          <form id="is_eligable_subscriber">
            <div class="input-group">
              <div class="input-group-addon"><%= set_prefix_orange(request.host) %></div>
              <input type="text" name="phone-number" id="sms_number" class="form-control" placeholder="<%= t('orange_phone_number') %>" value="<%= current_customer.customers_telephone.slice(3..-1) %>">
            </div>
            <div class="block100 text-center mart20">
              <input type="submit" class="btn block100 orange-bck padlr40 padtb15 white f16 normal" value="<%= t('orange_send_button') %>">
            </div>
            <div class="block100 text-center mart20">
              <p><%= t('orange_login_explanation_text_1') %></p>
            </div>
          </form>
          <form id="orange_purchase_subscriber">
            <div class="form-group">
              <input type="text" name="sms-code" id="sms_code" class="form-control" placeholder="<%= t('orange_sms_code_2') %>">
            </div>
            <div class="block100 text-center mart20">
              <input type="submit" class="btn block100 orange-bck padlr40 padtb15 white f16 normal" value="<%= t('orange_send_button') %>">
            </div>
            <div class="block100 text-center mart20">
              <p><%= t('orange.sms_code.message_info').html_safe %></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% if request.host == "www.plush.be" || request.host == "staging.plush.be" %>
      <h3><%= t('wha.carrierbilling') %></h3>
      <% if I18n.locale == :en  %>
        <% locale = "fr" %>
      <% elsif I18n.locale == :fr  %>
        <% locale = "fr" %>
      <% elsif I18n.locale == :nl  %>
        <% locale = "nl" %>
      <% end %>
      <div>
        <ul class="card-list">
          <li>
            <a href="http://www.plush.be/wha/pos-bundle?mid=10330&action=purchaseListOffer&pid=<%= current_customer.customers_abo_type %>&lg=<%= locale %>&AdditionalParameters=lnk_step4!cn_<%= current_customer.customers_id %>">
              <div class="card-image">
                <%= image_tag("orange_logo.jpg", class: "img-responsive radius4") %>
              </div>
            </a>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <p class="mart30"><%= t('promotion.newstep3.supportinfo').html_safe %></p>
  <p><%= link_to t('promotion.newstep3.conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')), class: "conditions-d-utilisation" %></p>
</div>

<script>

$(document).ready(function () {
    step3.urlValidator();
    step3.validateVirmanForm();
    step3.validateBancCard();
    step3.validateOrangeOrangeIsEligable();
    step3.validateOrangeOrangePurchase();
    step3.convertToCustomer();

});

var step3 = {
    urlValidator: function () {
        if (window.location.pathname == "/" + gon.locale + "/steps/step3") {
            this.initializeAcordion();
        }
    },
    initializeAcordion: function () {
        $("#accordion").accordion({
            heightStyle: "content"
        });
    },
    validateVirmanForm: function () {
        $("#virman").validate({
            rules: {
                'first_name': {
                    required: true
                },
                'last_name': {
                    required: true
                },
                'telephone': {
                    required: true
                }
            },
            messages: {
                'first_name': {
                    required: this.firstNameValidationMessage()
                },
                'last_name': {
                    required: this.lastNameValidationMessage()
                },
                'last_name': {
                    required: this.telephoneValidationMessage()
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },

            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block'
        });
    },
    validateOrangeOrangeIsEligable: function () {
        jQuery.validator.addMethod("phone", function (phone_number, element) {
            phone_number = phone_number.replace(/\s+/g, "");
            return this.optional(element) || phone_number.length > 8 &&
                phone_number.match(/^[0-9-+]+$/);
        }, gon.orange_invalid_phone_number_format);

        $("#is_eligable_subscriber").validate({
            rules: {
                "phone-number": {
                    required: true,
                    phone: true
                }
            },
            messages: {
                "phone-number": {
                    required: this.isEligableValidationMessage()
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            submitHandler: function (form) {
                sms_number = $(".input-group-addon").html() + $.trim($("#sms_number").val());
                $.ajax({
                    method: 'POST',
                    url: '/orange/lu/api/orange_is_eligable_step3',
                    data: {
                        'sms_number': sms_number.slice(1),
                        'products_id': gon.products_id,
                        'customers_id': gon.current_customer.customers_id
                    },
                    dataType: 'json',
                    success: function (response) {
                        if ("True" === response.status) {
                            if (typeof(Storage) !== "undefined") {
                                localStorage.setItem("plush_phone_number", response.phone_number);
                                $("#is_eligable_subscriber").hide();
                                $("#orange_purchase_subscriber").show();
                                jQuery.facebox("<div class=\"alert alert-danger\">" +
                                    "<strong>" + response.sms_code + "</strong>" +
                                    "</div>");
                            } else {
                                jQuery.facebox("<div class=\"alert alert-danger\">" +
                                    "<strong>" + "Sorry! No Web Storage support.." + "</strong>" +
                                    "</div>");
                            }

                        } else {
                            jQuery.facebox("<div class=\"alert alert-danger\">" +
                                "<strong>" + response.status + "</strong>" +
                                "</div>")
                        }
                    },
                    error: function (response) {
                        jQuery.facebox("<div class=\"alert alert-danger\">" +
                            "<strong>" + "SYSTEM ERROR!!!" + "</strong>" +
                            "</div>");
                    }
                });
            }
        });
    },
    validateOrangeOrangePurchase: function () {
        $("#orange_purchase_subscriber").validate({
            rules: {
                "sms-code": {
                    required: true,
                    remote: {
                        url: "/orange/lu/api/check_sms_activation_code"
                    }
                }
            },
            messages: {
                "sms-code": {
                    required: this.orangePurchaseMessage(),
                    remote: this.orangePurchaseMessageSmsCodeValidation()
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            submitHandler: function (form) {
                $.ajax({
                    method: 'POST',
                    url: '/orange/lu/api/orange_purchase_step3',
                    data: {
                        'sms_code': $.trim($("#sms_code").val()),
                        'products_id': gon.products_id,
                        'plush_phone_number': localStorage.getItem("plush_phone_number"),
                        'current_customer': gon.current_customer.customers_id
                    },
                    dataType: 'json',
                    success: function (response) {

                        if ("True" === response.status) {
                            window.location.href = gon.step4;
                        } else {
                            jQuery.facebox("<div class=\"alert alert-danger\">" +
                                "<strong>" + response.status + "</strong>" +
                                "</div>");
                        }

                    },
                    error: function (response) {
                        jQuery.facebox("<div class=\"alert alert-danger\">" +
                            "<strong>" + "SYSTEM ERROR!!!" + "</strong>" +
                            "</div>");
                    }
                });
            }
        });
    },
    convertToCustomer: function() {
        $("#convert_to_customer").click(function(e) {
            e.preventDefault();


            $.ajax({
                method: 'POST',
                url: '/orange/lu/api/convert_to_customer',
                data: {
                    'current_customer': gon.current_customer.customers_id
                },
                dataType: 'json',
                success: function (response) {

                    if ("TRUE" === response.status) {
                        window.location.href = response.root;
                    } else {
                        jQuery.facebox("<div class=\"alert alert-danger\">" +
                            "<strong>" + response.status + "</strong>" +
                            "</div>");
                    }

                },
                error: function (response) {
                    jQuery.facebox("<div class=\"alert alert-danger\">" +
                        "<strong>" + "SYSTEM ERROR!!!" + "</strong>" +
                        "</div>");
                }
            });


        });
    },
    firstNameValidationMessage: function () {
        if (gon.locale == "fr") {
            "Prénom est nécessaire."
        } else if (gon.locale == "nl") {
            "Voornaam is verplicht."
        } else if (gon.locale == "en") {
            "First name is required."
        }
    },
    lastNameValidationMessage: function () {
        if (gon.locale == "fr") {
            "Nom de famille est nécessaire."
        } else if (gon.locale == "nl") {
            "Achternaam is verplicht."
        } else if (gon.locale == "en") {
            "Surname  is required."
        }
    },
    telephoneValidationMessage: function () {
        if (gon.locale == "fr") {
            "Téléphone est nécessaire."
        } else if (gon.locale == "nl") {
            "Telefoon is verplicht."
        } else if (gon.locale == "en") {
            "Telephone is required."
        }
    },
    validateBancCard: function () {
        $("#form_step3").submit(function () {
            if (!$("input[name='brand']").is(":checked")) {
                $("#banc_card_error").empty().html("<div class=\"alert alert-danger\" role=\"alert\">" + gon.banc_card_error_message + "</div>");
                return false;
            }
        });
    },
    isEligableValidationMessage: function () {
        if (gon.locale == "fr") {
            "Numéro de téléphone est nécessaire."
        } else if (gon.locale == "nl") {
            "Telefoonnummer is vereist."
        } else if (gon.locale == "en") {
            "Phone number is required."
        }
    },
    orangePurchaseMessage: function () {
        if (gon.locale == "fr") {
            "SMS code est nécessaire."
        } else if (gon.locale == "nl") {
            "SMS code is vereist."
        } else if (gon.locale == "en") {
            "SMS code is required."
        }
    },
    orangePurchaseMessageSmsCodeValidation: function () {
        if (gon.locale == "fr") {
            "Le code SMS n'est pas correct."
        } else if (gon.locale == "nl") {
            "SMS code is niet juist."
        } else if (gon.locale == "en") {
            "SMS code is not correct."
        }
    }

}


</script>
