<div class="container clearfix">
  <div id="step_wrap">
    <div class="step_form">
      <h3><%= t('.congrats') %></h3>
      <% if 1==1 || current_customer.samsung_codes.unvalidated.empty? %>
        <p><%= t('.desc1') %></p>
        <p><%= t('.desc2') %></p>
     <% else %>
        <p><%= t('.desc1_samsung') %></p>
        <p><%= t('.desc2_samsung') %></p>
     <% end %>
      <div class="catalogue_promo"> 
        <%= link_to t('.catalogue'), products_short_path(:package => t("routes.product.params.package.#{Moovies.packages.invert[1]}")), :class => :promo_button %>
      </div>
      <div class="vod_faq">
        <%= link_to t('.vod_faq'), root_localize_path, :class => :promo_button %>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<% if Rails.env == "production" %>
  <% if [127].include?(current_customer.promo_id) %>
    <!-- ptg -->
    <img src='http://fr.ptg.be/aimg/plush.gif' />
  <% end %>
  <% if [59,60,61,62,65].include?(current_customer.promo_id) %>
    <!-- tradetracker -->
    <iframe src="/trade/conversion.html?campaignID=12814&productID=<%= I18n.locale == :fr ? 15272 : 4211 %>&conversionType=lead&https=0&transactionID=<%= current_customer.id %>&transactionAmount=0&email=<%= current_customer.email %>&descrMerchant=plush&descrAffiliate=plush" frameborder="0" scrolling="0" marginwidth="0" marginheight="0" width="1" height="1"></iframe>
    <!-- tradetracker -->
  <% elsif Rails.env == "production" && [99].include?(current_customer.promo_id) %>
    <!-- tradetracker -->
    <iframe src="/trade/conversion.html?campaignID=14220&productID=<%= I18n.locale == :fr ? 21137 : 21136 %>&conversionType=lead&https=0&transactionID=<%= current_customer.id %>&transactionAmount=0&email=<%= current_customer.email %>&descrMerchant=plush&descrAffiliate=plush" frameborder="0" scrolling="0" marginwidth="0" marginheight="0" width="1" height="1"></iframe>
    <!-- tradetracker -->
  <% end %>
  <% if I18n.locale != :nl %>
    <img style="display: none" border="0" height="0" width="0" src="//fbm.mysocialpixel.com/tracking/<%= current_customer.id %>/10/1385045453" alt="" /> 
  <% elsif %>
    <img style="display: none" border="0" height="0" width="0" src="//fbm.mysocialpixel.com/tracking/<%= current_customer.id %>/10/1385045664" alt="" />
  <% end %>
<% end %>
<!-- Google Code for Plush - Conversion Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1033549176;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "mW-yCIDZywYQ-Orq7AM";
var google_conversion_value = 0;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1033549176/?value=0&amp;label=mW-yCIDZywYQ-Orq7AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
