<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text">
    <%= link_to root_localize_path do %>
      <%= image_tag "old_images/plush_logo_fixed.jpg", height: '71', width: '129' %>
    <% end %>
    <% if params[:FT_CODE_RESTRICTION].present? && params[:FT_CODE_RESTRICTION] == "FTC_ERROR" %>
      <hr>
      <div class="well well-lg">
        <div class="alert alert-danger" role="alert">
          <%= t("ft_error_page.Forbidden.Register.FTERROR") %>
        </div>
      </div>
      <hr>
    <% else %>
      <h1><%= t('freetrial_login_1') %></h1>
      <div class="description">
        <p>- <%= t('freetrial_login_2') %> <mark><%= params[:films] %> <%= t('freetrial_login_3') %></mark> <%= t('freetrial_login_4') %></p>
        <p>- <%= t('freetrial_login_5') %> <mark>€ <%= params[:price] %>/<%= t('freetrial_login_6') %></mark></p>
        <p>- <%= t('freetrial_login_7') %></p>
      </div>
    <% end %>
  </div>
</div>
