<a href="/auth/facebook?code=<%= params[:code] %>;freetrial_action=<%= params[:freetrial_action] %>;films=<%= params[:films] %>;price=<%= params[:price] %>;ACTION_TYPE=FREETRIAL" class="btn-lg btn-block btn-social btn-facebook" <span class="fa fa-facebook"></span> <%= t("FT_FB_SI") %></a>
<div class="form-top-left">
  <h3><%= t("ft_error_page.Forbidden.Login.1") %></h3>
  <p><%= t("ft_error_page.Forbidden.Login.2") %></p>
</div>
