<a class="btn btn-block btn-lg btn-social btn-facebook" href="/auth/facebook?code=<%= params[:code] %>;freetrial_action=<%= params[:freetrial_action] %>;films=<%= params[:films] %>;price=<%= params[:price] %>;ACTION_TYPE=FREETRIAL">
	<i class="fa fa-facebook"></i> <%= t("FT_FB_SU") %>
</a>
<a class="btn btn-block btn-lg btn-social btn-google" href="/auth/google_oauth2?code=<%= params[:code] %>;freetrial_action=<%= params[:freetrial_action] %>;films=<%= params[:films] %>;price=<%= params[:price] %>;ACTION_TYPE=FREETRIAL">
      <i class="fa fa-google"></i> <%= t("FT_GOOGLE_SU") %>
    </a>
<div class="form-top-left">
  <h3><%= t("ft_error_page.Forbidden.Register") %></h3>
  <p><%= t("ft_error_page.Forbidden.Register.1") %></p>
</div>
