<% if params[:freetrial_action].present? && params[:freetrial_action] == "FREETRIAL" %>
<div class="top-content">
  <div class="inner-bg">
    <div class="container">
      <%= render "header_text" %>
        <div class="row">
          <div class="col-sm-5">
            <div class="form-box">
              <div class="form-top">
                <%= render "login_form_header" %>
                <div class="form-top-right">
                  <i class="fa fa-key"></i>
                </div>
              </div>
              <%= render "login_form" %>
            </div>
            <!-- PLACE FOR SOCIAL LOGIN -->
          </div>
          <div class="col-sm-1 middle-border"></div>
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <div class="form-box">
              <div class="form-top">
                <%= render "register_form_header" %>
                <div class="form-top-right">
                  <i class="fa fa-pencil"></i>
                </div>
              </div>
              <%= render "register_form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= render "footer" %>

<% else %>

<style>
/* Error Page Inline Styles */
body {
  padding-top: 20px;
}
/* Layout */
.jumbotron {
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  padding: 10px 0px;
}
/* Everything but the jumbotron gets side spacing for mobile-first views */
.masthead, .body-content, {
  padding-left: 15px;
  padding-right: 15px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Colors */
.green {color:#5cb85c;}
.orange {color:#f0ad4e;}
.red {color:#d9534f;}
</style>
<script type="text/javascript">
  function loadDomain() {
    var display = document.getElementById("display-domain");
    display.innerHTML = document.domain;
  }
</script>

<div class="container">
<div class="jumbotron">
  <h1><i class="fa fa-ban red"></i> <%= t("ft_error_page.Forbidden") %></h1>
  <p class="lead"><%= t("ft_error_page.Forbidden.1") %> <em><span id="display-domain"></span></em>.</p>
    <p><a onclick=javascript:checkSite(); class="btn btn-default btn-lg green"><%= t("ft_error_page.Forbidden.2") %></a>
      <script type="text/javascript">
          function checkSite(){
            var currentSite = window.location.hostname;
              window.location = "http://" + currentSite;
          }
      </script>
    </p>
</div>
</div>
<div class="container">
  <div class="body-content">
    <div class="row">
      <div class="col-md-6">
        <h2><%= t("ft_error_page.Forbidden.3") %></h2>
        <p class="lead"><%= t("ft_error_page.Forbidden.4") %></p>
      </div>
      <div class="col-md-6">
        <h2><%= t("ft_error_page.Forbidden.5") %></h2>
        <p class="lead"><%= t("ft_error_page.Forbidden.6") %></p>
        <p><%= t("ft_error_page.Forbidden.7") %></p>
        <p class="lead"><%= t("ft_error_page.Forbidden.8") %></p>
         <p><%= t("ft_error_page.Forbidden.9") %></p>
     </div>
    </div>
  </div>
</div>

<script>
  switch (document.referrer) {
    case gon.FREETRIAL_REFERRER_FR:
      console.log("FREETRIAL ACTION AUTHORIZED FROM FR");
      break;
    case gon.FREETRIAL_REFERRER_NL:
      console.log("FREETRIAL ACTION AUTHORIZED FROM NL");
      break;
    case gon.FREETRIAL_REFERRER_EN:
      console.log("FREETRIAL ACTION AUTHORIZED FROM EN");
      break;
    default:
      console.log("FREETRIAL ACTION NOT AUTHORIZED!!!");
  }
</script>

<% end %>
