<div id ="prices">
  <h2><%= t '.unlimited'.html_safe %></h2>
  <div class="abo_prices">
    <div class="big_price">
      <%= link_to new_customer_registration_path(:code => @discount_svod.name) do %>
        <%= float_html(@discount_svod.promo_price) %>€ <%= t '.first_month' %>
        <span class="normal_price"><%= t '.instead_of' %> <span class="barre-gris"><%= float_html(@discount_svod.subscription_type.product.price) %>€</span></span>
      <% end %>
    </div>
    <div class="tickets"><%= t '.unlimited_text'.html_safe %></div>
    <div class="subscribe" align="center"><%= link_to t('.try_now'), new_customer_registration_path(:code => @discount_svod.name), :class => "btn" %></div>
  </div>
  <div class="abo_infos">
    <h3><%= t('.discover_unlimited').html_safe %></h3>
    <ul>
      <li><strong><%= t('.discover_unlimited_desc1') %></strong></li>
      <li><%= t('.discover_unlimited_desc2') %></li>
      <li><%= t('.discover_unlimited_desc3') %></li>
    </ul>
    <div class="price_slogan"><%= t('.price_slogan') %></div>
  </div>
  <div class="clearfix"></div>
  <% if @kid_visible %>
  <h2><%= t('.kid') %></h2>
  <div class="abo_prices">
    <div class="big_price">
      <%= link_to new_customer_registration_path(:code => @discount_kids.name) do %>
        <%= float_html(@discount_kids.promo_price) %>€ <%= t '.first_month' %>
        <span class="normal_price"><%= t '.instead_of' %> <span class="barre-gris"><%= float_html(@discount_kids.subscription_type.product.price) %>€</span></span>
      <% end %>
    </div>

    <div class="kids_dvd"><%= t '.kid_text'.html_safe %></div>
    <div class="subscribe" align="center"><%= link_to t('.try_now'), new_customer_registration_path(:code => @discount_kids.name), :class => "btn" %></div>
  </div>
  <div class="abo_infos">
    <h3><%= t '.discover_kid'.html_safe %></h3>
    <ul>
      <li><strong><%= t('.discover_kid_desc1') %></strong></li>
      <li><%= t('.discover_kid_desc2') %></li>
      <li><%= t('.discover_kid_desc3') %></li>
      <li><span class="kid"><%= t('.discover_kid_desc4') %></span></li>
    </ul>
    <div class="price_slogan"><%= t('.price_slogan') %></div>
  </div>
  <% end %>
  <div class="clearfix"></div>
  <p class="link_adult"><%= t('.show_adult') %></p>
  <div id="tab_adult" style="display:none">
    <h2><%= t('.adult'.html_safe) %></h2>
    <div id="adult">
    <div class="abo_prices">
      <div class="big_price">
        <%= link_to new_customer_registration_path(:code => @discount_adult.name) do %>
          <%= float_html(@discount_adult.promo_price) %>€ <%= t '.first_month' %>
          <span class="normal_price"><%= t '.instead_of' %> <span class="barre-gris"><%= float_html(@discount_adult.subscription_type.product.price) %>€</span></span>
        <% end %>
      </div>
      <div class="adult_dvd"><%= t('.adult_text') %></div>
      <div class="subscribe" align="center"><%= link_to t('.try_now'), new_customer_registration_path(:code => @discount_adult.name), :class => "btn" %></div>
    </div>
    <div class="abo_infos">
      <h3><%= t('.discover_adult') %></h3>
      <ul>
        <li><strong><%= t('.discover_adult_desc1') %></strong></li>
        <li><%= t('.discover_adult_desc2') %></li>
        <li><%= t('.discover_adult_desc3') %></li>
      </ul>
      <div class="price_slogan"><%= t('.price_slogan') %></div>
    </div>
  </div>
  
    <div id="package_container">
    <div class="main_pack_sec">
      <div class="pack_head">
        <h3><%= t('.more') %></h3>
      </div>
      <div class="main_price_table">
        <div class="list_sec">
          <ul>
            <li><%= link_to t('.cat_svod'), products_path(:package => Moovies.packages.invert[1], :kind => nil) %></li>
            <li><%= link_to t('.cat_tvod'), products_path(:package => Moovies.packages.invert[2], :kind => nil) %></li>
            <% if @kid_visible %><li><%= link_to t('.cat_kid'), products_path(:package => Moovies.packages.invert[3], :kind => nil) %></li> <% end %>
            <li><%= link_to t('.cat_svod_adult'), products_path(:package => Moovies.packages.invert[4], :kind => :adult) %></li>
            <li><%= link_to t('.cat_tvod_adult'), products_path(:package => Moovies.packages.invert[5], :kind => :adult) %></li>
          </ul>
        </div>
        <div class="right_price_table">
          <div class="basic_package">
            <div class="head">
              <span class="plush">Plush</span> & <%= t('.tab_unlimited').html_safe %>
            </div>
            <div class="prices_bg">
              <span><%= @discount_svod.subscription_type.product.price %>€<small><%= t('.per_month') %></small></span>
            </div>
            <div class="price_sec">
              <ul>
                <li class="green-tick"></li>
                <li class="green-tick"></li>
                <% if @kid_visible %><li class="green-tick"></li><% end %>
                <li class="red-tick"></li>
                <li class="red-tick"></li>
              </ul>
            </div>
            <div class="price_sign" align="center"><%= link_to t('.try_now'), new_customer_registration_path(:code => @discount_svod.name), :class => "btn" %></div>
          </div>
          <% if @kid_visible %>
          <div class="basic_package">
            <div class="head">
              <span class="plush">Plush</span> & <%= t('.tab_kid').html_safe %>
            </div>
            <div class="prices_bg">
              <a class="val_banner" href="#"></a>
              <span><%= @discount_kids.subscription_type.product.price %>€<small><%= t('.per_month') %></small></span>
            </div>
            <div class="price_sec color">
              <ul>
                <li class="green-tick"></li>
                <li class="green-tick"></li>
                <li class="green-tick"></li>
                <li class="red-tick"></li>
                <li class="green-tick"></li>
              </ul>
            </div>
            <div class="price_sign" align="center"><%= link_to t('.try_now'), new_customer_registration_path(:code => @discount_kids.name), :class => "btn" %></div>
          </div>
          <% end %>
          <div class="basic_package">
            <div class="head">
              <span><%= t('.tab_adult_only').html_safe %></span>
            </div>
            <div class="prices_bg">
              <span><%= @discount_adult.subscription_type.product.price %>€<small><%= t('.per_month') %></small></span>
            </div>
            <div class="price_sec">
              <ul>
                <li class="red-tick"></li>
                <li class="red-tick"></li>
                <% if @kid_visible %><li class="green-tick"></li><% end %>
                <li class="green-tick"></li>
                <li class="red-tick"></li>
              </ul>
            </div>
            <div class="price_sign" align="center"><%= link_to t('.try_now'), new_customer_registration_path(:code => @discount_adult.name), :class => "btn" %></div>
          </div>

          <div class="basic_package">
            <div class="head">
              <span class="plush">Plush</span> & <%= t('.tab_adult').html_safe %>
            </div>
            <div class="prices_bg">
              <span><%= @discount_classic_adult.subscription_type.product.price %>€<small><%= t('.per_month') %></small></span>
            </div>
            <div class="price_sec">
              <ul>
                <li class="green-tick"></li>
                <li class="green-tick"></li>
                <% if @kid_visible %><li class="green-tick"></li><% end %>
                <li class="green-tick"></li>
                <li class="red-tick"></li>
              </ul>
            </div>
            <div class="price_sign" align="center"><%= link_to t('.try_now'), new_customer_registration_path(:code => @discount_classic_adult.name), :class => "btn" %></div>
          </div>
          <% if @kid_visible %>
          <div class="basic_package">
            <div class="head">
              <span class="plush">Plush</span> & <%= t('.tab_all').html_safe %> 
            </div>
            <div class="prices_bg">
              <span><%= @discount_all.subscription_type.product.price %>€<small><%= t('.per_month') %></small></span>
            </div>
            <div class="price_sec">
              <ul>
                <li class="green-tick"></li>
                <li class="green-tick"></li>
                <% if @kid_visible %><li class="green-tick"></li><% end %>
                <li class="green-tick"></li>
                <li class="green-tick"></li>
              </ul>
            </div>
            <div class="price_sign" align="center"><%= link_to t('.try_now'), new_customer_registration_path(:code => @discount_all.name), :class => "btn" %></a>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
