<div class="container white-bck">
  <% if params[:renew_subscription_error].present? && params[:renew_subscription_error] == "true" %>
  <div class="alert alert-danger">
    <strong><%= t('streaming_products.renew_subscription_error') %></strong>
  </div>
  <% end %>
  <h1 class="violet">Catalogue 18+</h1>
  <div class="block100 marb20 padt20 charts-top">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 charts-buttons left-promo-code">
      <% if params[:subscription_action].present? && params[:subscription_action] == "subscription_change" %>
          <%= link_to t('info.index.price_public.choose_svod_tvod').html_safe, info_path(:page_name => "alacarte", :subscription_action => "subscription_change"), :class => "btn green-bck OpenSansCondensed f23 block100", :id => "button-la-carte" %>
      <% else %>
          <%= link_to t('info.index.price_public.choose_svod_tvod').html_safe, info_path(:page_name => "alacarte"), :class => "btn green-bck OpenSansCondensed f23 block100", :id => "button-la-carte" %>
      <% end %>
      <% if params[:subscription_action].present? && params[:subscription_action] == "subscription_change" %>
          <%= link_to t('info.index.price_public.choose_svod_svod').html_safe, info_path(:page_name => "unlimited", :subscription_action => "subscription_change"), :class => "btn OpenSansCondensed f23 block100", :id =>"button-la-unlmited" %>
      <% else %>
          <%= link_to t('info.index.price_public.choose_svod_svod').html_safe, info_path(:page_name => "unlimited"), :class => "btn OpenSansCondensed f23 block100", :id =>"button-la-unlmited" %>
      <% end %>
    </div>
  </div>

  <div class="planSelectionContainer">

    <!--TABLE HEADER-->
    <div class="planTable">

      <!--header row full-->
      <div class="headerRow show" id="header-chart">
        <div class="columnHeader"></div>
        <div class="cell selected pt-header-with-border">
          <div>
            <div class="selborder">
              <div class="cellContent" data-box-order="3"><%= t('info.index.price_public.choose_adult_plan_one').html_safe %></div>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
      </div>
      <!--/header row full-->

    </div>
    <!--/TABLE HEADER-->


    <!--TABLE OPTIONS-->
    <div class="planTable planTableOptions">
      <div class="alt"><%= t('info.index.price_public.adult_line_one').html_safe %> (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)</div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.adult_line_one').html_safe %> (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)</div>
        <div class="cell bodyCell selected">EUR 19.95</div>
      </div>
      <div class="alt"><%= t('info.index.price_public.adult_line_two').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.adult_line_two').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.adult_access_devices').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.adult_access_devices').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.adult_simultaneus').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.adult_simultaneus').html_safe %></div>
        <div class="cell bodyCell selected"><%= t('customers.show.old_pricing.unlimited') %></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.adult_cancellable').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.adult_cancellable').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>

    </div>
    <!--/TABLE OPTIONS-->

    <!--DISCLAIMER-->
    <div class="block100 padlr10 normal mart15 f14">
      <%= t('info.index.price_public.adult_explanation_1').html_safe %>, <strong><%= link_to t('info.index.price_public.adult_explanation_link').html_safe, info_path(:page_name => t('routes.infos.params.vod')), :id => :multi %></strong>. <%= t('info.index.price_public.adult_explanation_2').html_safe %>.
    </div>

    <!--BUTTON-->
    <div class="block100 mart15 padlr15">


      <% if params[:subscription_action].present? && params[:subscription_action] == "subscription_change" %>
        <%= link_to(t('info.index.price_public.adult_button').html_safe, api_v1_subscriptions_path( :code => "SVOD_ADULT" ), :class => "btn pad10 f20 violet-bck", :id => "continue-package") %>
      <% else %>
        <%= link_to(t('info.index.price_public.adult_button').html_safe, new_customer_session_path( :code => "SVOD_ADULT" ), :class => "btn pad10 f20 violet-bck", :id => "continue-package") %>
      <% end %>
    </div>
    <!--/BUTTON-->

    <div class="block100 padlr15"><%= t('info.index.price_public.adult_support_info').html_safe %></div>
    <div class="block100 padlr15 mart15 marb30">
      <%= link_to t('info.index.price_public.adult_conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')) %>
    </div>

  </div>

</div>
