<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "adult" %>
<% end %>
<% if customer_signed_in? %>
    <div class="alacarte">
      <div class="header-nav">
        <label id="plush-a-la-carte"><%= t('info.index.price_public.choose_adult_adult').html_safe %></label>
        <ul>
          <li class="plush"><%= link_to t('info.index.price_public.choose_adult_tvod').html_safe, info_path(:page_name => t('routes.infos.params.alacarte')), :id => 'abo', :class => params[:page_name] == 'abo' ? :active : :inactive %></li>
          <li class="eighteen"><%= link_to t('info.index.price_public.choose_adult_svod').html_safe, info_path(:page_name => "unlimited"), :id => 'unlimited', :class => params[:page_name] == 'unlimited' ? :active : :inactive %></li>
        </ul>
      </div>
      <div class="film-block">
        <div class="film-box">
          <p id="alacarte-kvadrat"><%= t('info.index.price_public.choose_adult_plan_one').html_safe %></p>
        </div>
      </div>
      <div class="list-block">
        <ul>
          <li>
            <label class="list-text"><%= t('info.index.price_public.adult_line_one').html_safe %>
              (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)</label>
            <label class="list-number">19,99€</label>
          </li>
          <li class="">
            <label class="list-text"><%= t('info.index.price_public.adult_line_two').html_safe %></label>
            <label class="list-number"><%= image_tag "adult/ok-violet.png" %></label>
          </li>
          <li class="">
            <label class="list-text"><%= t('info.index.price_public.adult_access_devices').html_safe %></label>
            <label class="list-number list-number-align"><%= image_tag "adult/ok-violet.png" %></label>
          </li>
          <li class="">
            <label class="list-text"><%= t('info.index.price_public.adult_simultaneus').html_safe %></label>
            <label class="list-number"><%= t('customers.show.old_pricing.unlimited') %></label>
          </li>
          <li class="">
            <label class="list-text"><%= t('info.index.price_public.adult_cancellable').html_safe %></label>
            <label class="list-number"><%= image_tag "adult/ok-violet.png" %></label>
          </li>
        </ul>
      </div>

      <div class="footer-block">
        <div class="description-block"><%= t('info.index.price_public.adult_explanation_1').html_safe %>
          , <%= link_to t('info.index.price_public.adult_explanation_link').html_safe, info_path(:page_name => t('routes.infos.params.vod')), :id => :multi %>
          .
          <%= t('info.index.price_public.adult_explanation_2').html_safe %>.
        </div>
        <button id="svod_adult"><%= t('info.index.price_public.adult_button').html_safe %></button>
        <div class="description-block description-block-main questions"><%= t('info.index.price_public.adult_support_info').html_safe %></div>
        <div class="description-block conditions"><%= link_to t('info.index.price_public.adult_conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')) %></div>
      </div>
    </div>
<% else %>
    <div class="alacarte">
      <div class="header-nav">
        <label id="plush-a-la-carte"><%= t('info.index.price_public.choose_adult_adult').html_safe %></label>
        <ul>
          <li class="plush"><%= link_to t('info.index.price_public.choose_adult_tvod').html_safe, info_path(:page_name => t('routes.infos.params.alacarte')) %></li>
          <li class="eighteen"><%= link_to t('info.index.price_public.choose_adult_svod').html_safe, info_path(:page_name => "unlimited") %></li>
        </ul>
      </div>
      <div class="film-block">
        <div class="film-box">
          <p id="alacarte-kvadrat"><%= t('info.index.price_public.choose_adult_plan_one').html_safe %></p>
        </div>
      </div>
      <div class="list-block">
        <ul>
          <li>
            <label class="list-text"><%= t('info.index.price_public.adult_line_one').html_safe %>
              (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)</label>
            <label class="list-number">19,99€</label>
          </li>
          <li class="">
            <label class="list-text"><%= t('info.index.price_public.adult_line_two').html_safe %></label>
            <label class="list-number"><%= image_tag "adult/ok-violet.png" %></label>
          </li>
          <li class="">
            <label class="list-text"><%= t('info.index.price_public.adult_access_devices').html_safe %></label>
            <label class="list-number list-number-align"><%= image_tag "adult/ok-violet.png" %></label>
          </li>
          <li class="">
            <label class="list-text"><%= t('info.index.price_public.adult_simultaneus').html_safe %></label>
            <label class="list-number"><%= t('customers.show.old_pricing.unlimited') %></label>
          </li>
          <li class="">
            <label class="list-text"><%= t('info.index.price_public.adult_cancellable').html_safe %></label>
            <label class="list-number"><%= image_tag "adult/ok-violet.png" %></label>
          </li>
        </ul>
      </div>

      <div class="footer-block">
        <div class="description-block"><%= t('info.index.price_public.adult_explanation_1').html_safe %>
          , <%= link_to t('info.index.price_public.adult_explanation_link').html_safe, info_path(:page_name => t('routes.infos.params.vod')), :id => :multi %>
          .
          <%= t('info.index.price_public.adult_explanation_2').html_safe %>.
        </div>
        <button><%= link_to t('info.index.price_public.adult_button').html_safe, new_customer_session_path(:code => "SVOD_ADULT") %></button>
        <div class="description-block description-block-main questions"><%= t('info.index.price_public.adult_support_info').html_safe %></div>
        <div class="description-block conditions"><%= link_to t('info.index.price_public.adult_conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')) %></div>
      </div>
    </div>
<% end %>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script>
  document.body.className = document.body.className.replace("adult", "");
</script>
