<div class="container white-bck">
  <h1 class="green"><%= t('info.index.price_public.choose_tvod_tvod').html_safe %></h1>
  <% if params[:subscription_action_registration].present? %>
      <div class="alert alert-warning">
        <strong><%= t('orange.finish_registration_proces_message') %></strong>
      </div>
  <% end %>
  <div class="block100 marb20 padt20 charts-top">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 left-promo-code">
      <form id="alacarte_activation_code_validation">
        <h4 class="dark-blue"><%= t('info.alacarte.info.index.price_public.discount_code').capitalize %></h4>
        <div class="block100">
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-group">
            <input type="text" name="promotion" placeholder="<%= t('info.alacarte.info.index.price_public.promotion_code').capitalize %>" class="form-control">
          </div>
          <input type="submit" class="btn green-bck col-lg-2 col-md-2 col-sm-2 col-xs-2" name="promo-code-submit" value="<%= t('info.alacarte.info.index.price_public.validate').capitalize %>">
        </div>
      </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 charts-buttons">
      <% if params[:subscription_action].present? && params[:subscription_action] == "subscription_change" %>
          <%= link_to t('info.index.price_public.choose_svod_svod').html_safe, info_path(:page_name => "unlimited", :subscription_action => "subscription_change"), :class => "btn OpenSansCondensed f23 block100", :id => "button-la-unlmited" %>
      <% else %>
          <%= link_to t('info.index.price_public.choose_svod_svod').html_safe, info_path(:page_name => "unlimited"), :class => "btn OpenSansCondensed f23 block100", :id => "button-la-unlmited" %>
      <% end %>
      <% if params[:subscription_action].present? && params[:subscription_action] == "subscription_change" %>
          <%= link_to t('info.index.price_public.choose_svod_adult').html_safe, info_path(:page_name => "adult", :subscription_action => "subscription_change"), :class => "btn violet OpenSansCondensed f23 block100", :id => "button-18-plus" %>
      <% else %>
          <%= link_to t('info.index.price_public.choose_svod_adult').html_safe, info_path(:page_name => "adult"), :class => "btn violet OpenSansCondensed f23 block100", :id => "button-18-plus" %>
      <% end %>
    </div>
    <div class="block100 mart20">
      <% if I18n.locale == :fr %>
          Vous pouvez louer films à la piéce directement à partir du
          <u><%= link_to "catalogue", products_short_path() %></u>, ou prendre un abonnement pour bénéficier de prix
          avantageux (<strong>1,99€</strong> au lieu de 2,99€ pour la plupart des films, et <strong>3,99€</strong> au
          lieu de 4,99€ pour les derniéres sorties).
      <% elsif I18n.locale == :nl %>
          U kunt uw films één per één rechtstreeks uit de <u><%= link_to "catalogus", products_short_path() %></u>
          huren, of een abonnement nemen om te genieten van uiterst voordelige prijzen (<strong>€ 1,99</strong> in
          plaats van € 2,99 voor de meeste films, en <strong>€ 3,99</strong> in plaats van € 4,99 voor de recente
          blockbusters).
      <% elsif I18n.locale == :en %>
          You can rent movie one by one directly from the <u><%= link_to "catalogue", products_short_path() %></u>, or
          subscribe to one of our plans and benefit from much lower prices (<strong>1,99€</strong> instead of 2,99€ for
          most of the titles, and <strong>3,99€</strong> instead of 4,99€ for latest blockbusters).
      <% end %>
    </div>
  </div>
  <div class="planSelectionContainer">
    <div class="planTable">
      <div class="headerRow show" id="header-chart">
        <div class="columnHeader"></div>
        <div class="cell pt-header-with-border">
          <div>
            <div class="selborder">
              <div id="2_film_credits" class="cellContent" data-box-order="1"><%= t('info.index.price_public.choose_tvod_plan_one').html_safe %></div>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
        <div class="cell pt-header-with-border">
          <div>
            <div class="selborder">
              <div id="4_film_credits" class="cellContent" data-box-order="2"><%= t('info.index.price_public.choose_tvod_plan_two').html_safe %></div>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
        <div class="cell selected pt-header-with-border">
          <div>
            <div class="selborder">
              <div id="6_film_credits" class="cellContent" data-box-order="3"><%= t('info.index.price_public.choose_tvod_plan_three').html_safe %></div>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="planTable planTableOptions">
      <div class="alt"><%= t('info.index.price_public.tvod_plan_price').html_safe %>
        (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)
      </div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_plan_price').html_safe %>
          (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)
        </div>
        <div class="cell bodyCell">EUR 7.99</div>
        <div class="cell bodyCell">EUR 9.99</div>
        <div class="cell bodyCell selected">EUR 11.99</div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_hd').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_hd').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_access_devices').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_access_devices').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_simultaneus').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_simultaneus').html_safe %></div>
        <div class="cell bodyCell"><%= t('customers.show.old_pricing.unlimited') %></div>
        <div class="cell bodyCell"><%= t('customers.show.old_pricing.unlimited') %></div>
        <div class="cell bodyCell selected"><%= t('customers.show.old_pricing.unlimited') %></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_cancellable').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_cancellable').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_access_illimitie').html_safe %>
        <a href="index.php%3Fpage=charts-la-carde.html#" class="light-blue">Plush Illimité</a>
        <%= link_to t('info.index.price_public.choose_svod_svod').html_safe, info_path(:page_name => "unlimited"), :class => "light-blue" %>
      </div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_access_illimitie').html_safe %>
          <%= link_to t('info.index.price_public.choose_svod_svod').html_safe, info_path(:page_name => "unlimited"), :class => "light-blue" %>
        </div>
        <div class="cell bodyCell icon-plainX"></div>
        <div class="cell bodyCell icon-plainX"></div>
        <div class="cell bodyCell selected icon-plainX"></div>
      </div>
    </div>
    <div class="block100 padlr10 normal mart15 f14">
      <%= t('info.index.price_public.tvod_explanation_1').html_safe %> <%= link_to t('info.index.price_public.tvod_explanation_link').html_safe, info_path(:page_name => t('routes.infos.params.vod')), :id => :multi %>
      <%= t('info.index.price_public.tvod_explanation_2').html_safe %>
    </div>
    <div class="block100 mart15 padlr15">
      <form>
        <% if params[:subscription_action_registration].present? %>
            <%= link_to(t('info.index.price_public.svod_button').html_safe, new_customer_registration_path(:code => "2FILMS"), :class => "btn pad10 f20 green-bck film_credits_btn_2", :id => "continue-package") %>
            <%= link_to(t('info.index.price_public.svod_button').html_safe, new_customer_registration_path(:code => "4FILMS"), :class => "btn pad10 f20 green-bck film_credits_btn_4", :id => "continue-package") %>
            <%= link_to(t('info.index.price_public.svod_button').html_safe, new_customer_registration_path(:code => "6FILMS"), :class => "btn pad10 f20 green-bck film_credits_btn_6", :id => "continue-package") %>
        <% else %>
            <%= link_to(t('info.index.price_public.svod_button').html_safe, new_customer_session_path(:code => "2FILMS"), :class => "btn pad10 f20 green-bck film_credits_btn_2", :id => "continue-package") %>
            <%= link_to(t('info.index.price_public.svod_button').html_safe, new_customer_session_path(:code => "4FILMS"), :class => "btn pad10 f20 green-bck film_credits_btn_4", :id => "continue-package") %>
            <%= link_to(t('info.index.price_public.svod_button').html_safe, new_customer_session_path(:code => "6FILMS"), :class => "btn pad10 f20 green-bck film_credits_btn_6", :id => "continue-package") %>
        <% end %>
      </form>
    </div>
    <div class="block100 padlr15"><%= t('info.index.price_public.tvod_support_info').html_safe %></div>
    <div class="block100 padlr15 mart15 marb30">
      <a href="index.php%3Fpage=charts-la-carde.html#"><%= link_to t('info.index.price_public.tvod_conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')) %></a>
    </div>
  </div>
</div>

<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "info/alacarte" %>
<% end %>
