<div class="container white-bck">
  <h1 class="green"><%= t('info.alacarte.info.index.price_public.1') %></h1>
  <div class="block100 marb20 padt20 charts-top">
    <div class="block100 mart20">
      <%= t('info.alacarte.info.index.price_public.2') %>
      <%= t('info.alacarte.info.index.price_public.3') %> <strong><%= 1.month.from_now.strftime("%d/%m/%Y") %></strong>
      <%= t('info.alacarte.info.index.price_public.4') %>
    </div>
  </div>
  <div class="planSelectionContainer">

    <!--TABLE HEADER-->
    <div class="planTable">

      <!--header row full-->
      <div class="headerRow show" id="header-chart">
        <div class="columnHeader"></div>
        <div class="cell pt-header-with-border alacarte-button-CF4FILMS">
          <div>
            <div class="selborder">
              <div class="cellContent" data-box-order="1"><%= t('info.index.price_public.choose_tvod_plan_one').html_safe %></div>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
        <div class="cell pt-header-with-border alacarte-button-CF6FILMS">
          <div>
            <div class="selborder">
              <div class="cellContent" data-box-order="2"><%= t('info.index.price_public.choose_tvod_plan_two').html_safe %></div>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
        <div class="cell selected pt-header-with-border alacarte-button-CF8FILMS">
          <div>
            <div class="selborder">
              <div class="cellContent" data-box-order="3"><%= t('info.index.price_public.choose_tvod_plan_three').html_safe %></div>
            </div>
            <div class="arrow"></div>
          </div>
        </div>
      </div>
      <!--/header row full-->

    </div>
    <!--/TABLE HEADER-->


    <!--TABLE OPTIONS-->
    <div class="planTable planTableOptions">
      <div class="alt"><%= t('info.index.price_public.tvod_freetrial_line_one').html_safe %> (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)</div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_freetrial_line_one').html_safe %> (<%= 1.month.from_now.strftime("%d/%m/%Y") %>)</div>
        <div class="cell bodyCell"><%= t('info.index.price_public.tvod_plan_price_3').html_safe %></div>
        <div class="cell bodyCell"><%= t('info.index.price_public.tvod_plan_price_7').html_safe %></div>
        <div class="cell bodyCell selected"><%= t('info.index.price_public.tvod_plan_price_9').html_safe %></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_hd').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_hd').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_access_devices').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_access_devices').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_simultaneus').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_simultaneus').html_safe %></div>
        <div class="cell bodyCell"><%= t('customers.show.old_pricing.unlimited') %></div>
        <div class="cell bodyCell"><%= t('customers.show.old_pricing.unlimited') %></div>
        <div class="cell bodyCell selected"><%= t('customers.show.old_pricing.unlimited') %></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_cancellable').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_cancellable').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_freetrial').html_safe %></div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_freetrial').html_safe %></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck"></div>
        <div class="cell bodyCell icon-plainCheck selected"></div>
      </div>
      <div class="alt"><%= t('info.index.price_public.tvod_access_illimitie').html_safe %>
        <a href="<%= info_path(:page_name => "unlimited") %>" class="light-blue"><%= t('info.index.price_public.choose_svod_svod').html_safe %></a>
      </div>
      <div class="row">
        <div class="columnHeader"><%= t('info.index.price_public.tvod_access_illimitie').html_safe %>
          <a href="<%= info_path(:page_name => "unlimited") %>"><%= t('info.index.price_public.choose_svod_svod').html_safe %></a>
        </div>
        <div class="cell bodyCell icon-plainX"></div>
        <div class="cell bodyCell icon-plainX"></div>
        <div class="cell bodyCell selected icon-plainX"></div>
      </div>

    </div>
    <!--/TABLE OPTIONS-->

    <!--DISCLAIMER-->
    <div class="block100 padlr10 normal mart15 f14">
      <%= t('info.index.price_public.tvod_explanation_1').html_safe %> <%= link_to t('info.index.price_public.tvod_explanation_link').html_safe, info_path(:page_name => t('routes.infos.params.vod')), :id => :multi %>
      <%= t('info.index.price_public.tvod_explanation_2').html_safe %>
    </div>
    <!--/DISCLAIMER-->

    <!--BUTTON-->
    <div class="block100 mart15 padlr15">
      <% if customer_signed_in? && current_customer.mobistar_subscriber? %>
          <a href="<%= api_v1_subscriptions_freetrial_mobistar_customers_path(:sfmc => "2FILMSFREE") %>"><button id="alacarte-button-CF4FILMS" class="btn pad10 f20 green-bck"><%= t('info.index.price_public.tvod_button').html_safe %></button></a>
          <a href="<%= api_v1_subscriptions_freetrial_mobistar_customers_path(:sfmc => "4FILMSFREE") %>"><button id="alacarte-button-CF6FILMS" class="btn pad10 f20 green-bck"><%= t('info.index.price_public.tvod_button').html_safe %></button></a>
          <a href="<%= api_v1_subscriptions_freetrial_mobistar_customers_path(:sfmc => "6FILMSFREE") %>"><button id="alacarte-button-CF8FILMS" class="btn pad10 f20 green-bck"><%= t('info.index.price_public.tvod_button').html_safe %></button></a>
      <% else %>
          <a href="/<%= I18n.locale %>/freetrial_action?code=2FILMSFREE;freetrial_action=FREETRIAL;films=2;price=3,99"><button id="alacarte-button-CF4FILMS" class="btn pad10 f20 green-bck"><%= t('info.index.price_public.tvod_button').html_safe %></button></a>
          <a href="/<%= I18n.locale %>/freetrial_action?code=4FILMSFREE;freetrial_action=FREETRIAL;films=4;price=7,99"><button id="alacarte-button-CF6FILMS" class="btn pad10 f20 green-bck"><%= t('info.index.price_public.tvod_button').html_safe %></button></a>
          <a href="/<%= I18n.locale %>/freetrial_action?code=6FILMSFREE;freetrial_action=FREETRIAL;films=6;price=11,99"><button id="alacarte-button-CF8FILMS" class="btn pad10 f20 green-bck"><%= t('info.index.price_public.tvod_button').html_safe %></button></a>
      <% end %>
    </div>
    <!--BUTTON-->

    <div class="block100 padlr15"><%= t('info.index.price_public.choose_tvod_support_info').html_safe %></div>
    <div class="block100 padlr15 mart15 marb30">
      <%= link_to t('info.index.price_public.tvod_conditions').html_safe, info_path(:page_name => t('routes.infos.params.conditions')) %>
    </div>

  </div>

</div>

<% content_for :run_specific_javascript do %>
    <%= javascript_include_tag "info/freetrial" %>
<% end %>