<div class="container white-bck dark-gray padb20">
  <h1 class="OpenSansCondensed f30 pad0"><%= t '.title' %></h1>
  <p><%= t('.intro').html_safe %></p>
  <div class="block100 mart10">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= image_tag "template/get-connected.jpg", class: "img-responsive" %>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= t('.intro1').html_safe %>
      <p class="block100 mart5 f18 black"><i class="fa fa-square green marr5 f20"></i> <%= t('.intro2').html_safe %>
        <span class="block100 f14 gray"><%= t('.intro3').html_safe %></span>
      </p>

      <p class="block100 mart5 f18 black"><i class="fa fa-square green marr5 f20"></i> <%= t('.intro4').html_safe %>
        <span class="block100 f14 gray"><%= t('.intro5').html_safe %></span>
      </p>

      <p class="block100 mart30 f14 gray">
        <%= t ('.buy').html_safe %>
        <br><br> <%= t '.warning' %>
        <br><br>
        <%= t('.enjoy').html_safe %>
      </p>
    </div>
  </div>
</div>
<div class="container white-bck dark-gray pad20 text-center thin-blue-bck">
  <%= t('.problem').html_safe %>
</div>
<div class="container orange-promotion-catalogue white-bck dark-gray padtb20">
  <ul>
    <li>
      <div class="img-cat">
        <%= image_tag "template/platform-pc-mac.jpeg" %>
      </div>
      <div class="desc-cat f13">
        <div class="fa-stack display-inline">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="fa fa-stack-1x fa-inverse fa-plus18"></span>
        </div>
        <div class="pull-right line-height-15 display-inline f16 bold">
          <%= t '.verif1' %>
        </div>
      </div>
    </li>
    <li>
      <div class="img-cat">
        <%= image_tag "template/platform-smart-tv.jpeg" %>
      </div>
      <div class="desc-cat f13">
        <div class="fa-stack display-inline">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="fa fa-stack-1x fa-inverse fa-plus18"></span>
        </div>
        <div class="pull-right line-height-15 display-inline f16 bold">
          <%= t '.verif2' %>
        </div>
      </div>
    </li>
    <li>
      <div class="img-cat">
        <%= image_tag "template/pc-to-tv.jpg" %>
      </div>
      <div class="desc-cat f13">
        <div class="fa-stack display-inline">
          <i class="fa fa-circle fa-stack-2x"></i>
          <span class="fa fa-stack-1x fa-inverse fa-plus18"></span>
        </div>
        <div class="pull-right line-height-15 display-inline f16 bold">
          <%= t '.result' %>
        </div>
      </div>
    </li>
  </ul>
</div>