<div id="lucky-wrap">
  <h2><%= t('.q1') %></h2>
  <p><%= t('.r1').html_safe %></p>

  <h2><%= t('.q2') %></h2>
  <p><%= t('.r2').html_safe %></p>

  <h2><%= t('.q3') %></h2>
  <p><%= t('.r3').html_safe %></p>

  <h2><%= t('.q4') %></h2>
  <p><%= t('.r4').html_safe %></p>

</div>