<div id="verimatrix-wrap">
  <h2><%= t('.q1') %></h2>
  <p><%= t('.r1').html_safe %></p>

  <h2><%= t('.q2') %></h2>
  <p><%= t('.r2').html_safe %></p>

  <h2><%= t('.q3') %></h2>
  <p><%= t('.r3').html_safe %></p>

  <h2><%= t('.q4') %></h2>
  <p><%= t('.r4').html_safe %></p>

  <h2><%= t('.q5') %></h2>
  <p><%= t('.r5').html_safe %></p>
  
  <h2><%= t('.q6') %></h2>
  <p><%= t('.r6').html_safe %></p>

  <h2><%= t('.q7') %></h2>
  <p><%= t('.r7').html_safe %></p>
  <h2><%= t('.q8') %></h2>
  <p><%= t('.r8').html_safe %></p>
  <h2><%= t('.q9') %></h2>
  <p><%= t('.r9').html_safe %></p>

</div>