<div id="verimatrix-wrap">
  <h2><%= t('q1') %></h2>
  <p><%= t('r1').html_safe %></p>

  <h2><%= t('q2') %></h2>
  <p><%= t('r2').html_safe %></p>

  <h2><%= t('q3') %></h2>
  <p><%= t('r3').html_safe %></p>

  <h2><%= t('q4') %></h2>
  <p><%= t('r4').html_safe %></p>

  <h2><%= t('q5') %></h2>
  <p><%= t('r5_1').html_safe %>:<br /><br />

    <span class="win"><a href="/ViewRightWebInstaller.msi"><%= t('.windows') %></a></span>
    <span class="mac"><a href="/ViewRightWeb-2.3.0.4.pkg"><%= t('.mac') %></a></span>
    <div class="clear"></div>
    <br />
    <%= t('r5_2').html_safe %>:
  </p>
  <h2><%= t('q6') %></h2>
  <p><%= t('r6').html_safe %></p>


</div>