<div class="container white-bck dark-gray padb20 platforms-holder">
  <div class="block100 mart30 text-center"></div>
  <h1 class="OpenSansCondensed text-center pad0"><%= t '.title' %></h1>
  <div class="block100 padtb20">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2 class="OpenSansCondensed f25 text-center mar0 pad0"><%= t '.pc' %></h2>
      <%= image_tag "template/platform-pc-mac.jpeg", class: "display-block img-responsive" %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padlr20 padt20">
      <%= t('.pc.text').html_safe %>
      <%= link_to(t('.pc.link'), streaming_products_sample_path, :class => "btn green-bck OpenSansCondensed f23 block100", :id => "button-la-carte") %>
    </div>
  </div>
  <div class="block100 padtb20">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2 class="OpenSansCondensed f25 text-center mar0 pad0">Console PS-3</h2>
      <%= image_tag "template/platform-ps-3.jpeg", class: "display-block img-responsive" %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padlr20 padt20">
      <strong><%= t('.ps3_title').html_safe %></strong><br> <%= t('.ps3_desc').html_safe %>
    </div>
  </div>
  <div class="block100 padtb20">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2 class="OpenSansCondensed f25 text-center mar0 pad0">Console PS-4</h2>
      <%= image_tag "template/platform-ps-4.jpeg", class: "display-block img-responsive" %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padlr20 padt20">
      <strong><%= t('.ps4_title').html_safe %></strong><br> <%= t('.ps4_desc').html_safe %>
    </div>
  </div>
  <div class="block100 padtb20">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2 class="OpenSansCondensed f25 text-center mar0 pad0"><%= t '.tablet' %></h2>
      <%= image_tag "template/platform-smart.jpeg", class: "display-block img-responsive" %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padlr20 padt20">
      <%= t('.tablet.apple').html_safe %>
    </div>
  </div>
  <div class="block100 padtb20">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2 class="OpenSansCondensed f25 text-center mar0 pad0">Android</h2>
      <%= image_tag "template/platform-android.jpeg", class: "display-block img-responsive" %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padlr20 padt20">
      <%= t('.tablet.android').html_safe %>
      <%= link_to(t('.pc.link'), streaming_products_sample_path, :class => "btn green-bck OpenSansCondensed f23 block100", :id => "button-la-carte") %>
    </div>
  </div>
  <div class="block100 padtb20">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2 class="OpenSansCondensed f25 text-center mar0 pad0"><%= t '.smart' %></h2>
      <%= image_tag "template/platform-smart-tv.jpeg", class: "display-block img-responsive" %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padlr20 padt20">
      <%= t('.smart.text').html_safe %>
    </div>
  </div>
  <div class="block100 padtb20">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <h2 class="OpenSansCondensed f25 text-center mar0 pad0"><%= t '.tv' %></h2>
      <%= image_tag "template/platform-tv.jpeg", class: "display-block img-responsive" %>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 padlr20 padt20">
      <%= t('.tv.text').html_safe %>
    </div>
  </div>
</div>