<div class="container white-bck">
  <div class="page-header">
    <h1><%= t '.title' %></h1>
  </div>
  <div class="well well-lg">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <h1><%= t '.pc' %></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= t('.pc.text').html_safe %>
            <%= link_to(t('.pc.link'), streaming_products_sample_path, :class => "btn green-bck OpenSansCondensed f23 block100", :id => "button-la-carte") %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag("vod/mac_pc_vod.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="well well-lg">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <h1>Consoles</h1>
            </div>
            <%= image_tag 'vod/logo_ps3.jpg' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t('.ps3_title').html_safe %></h3>
          </div>
          <div class="panel-body">
            <%= t('.ps3_desc').html_safe %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag("vod/ps3.jpg") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <%= image_tag 'vod/logo_ps4.jpg' %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t('.ps4_title').html_safe %></h3>
          </div>
          <div class="panel-body">
            <%= t('.ps4_desc').html_safe %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag("vod/ps4.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="well well-lg">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <h1><%= t '.tablet' %></h1>
            </div>
            <%= image_tag("vod/apple_logo_vod.jpg") %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= t('.tablet.apple').html_safe %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag("vod/apple_vod.jpg") %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <%= image_tag("vod/android_logo_vod.jpg") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= t('.tablet.android').html_safe %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag("vod/android_vod.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="well well-lg">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <h1><%= t '.smart' %></h1>
            </div>
            <%= image_tag("vod/smarttv_logo_vod.jpg") %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= t('.smart.text').html_safe %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag("vod/smarttv_vod.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="well well-lg">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="page-header">
              <h1><%= t '.tv' %></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= t('.tv.text').html_safe %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag("vod/tv_vod_apple.jpg") %>
          </div>
        </div>
      </div>
    </div>
  </div>