<div id="content_info">
  <h1><%= t '.title' %></h1>
  <div class="section one">
    <div class="device_title">
      <h3><%= t '.pc' %></h3>
    </div>
    <div class="device_infos">
      <%= t('.pc.text').html_safe %>
      <p><%= link_to t('.pc.link'), streaming_products_sample_path %></p>
    </div>
    <div class="clear"></div>
  </div>
  <div class="section two">
    <div class="device_title">
      <h3><%= t '.smart' %></h3>
      <img src="<%= image_path "smarttv_logo_vod.jpg" %>" />
    </div>
    <div class="device_infos">
    <%= t('.smart.text').html_safe %>
    </div>
  </div>
  <div class="section three">
    <div id="apple">
      <div class="device_title">
        <h3><%= t '.tablet' %></h3>
        
        <img src="<%= image_path "apple_logo_vod.jpg" %>" />
      </div>
      <div class="device_infos">
      <%= t('.tablet.apple').html_safe %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="android">
      <div class="device_title">
  
        <img src="<%= image_path "android_logo_vod.jpg" %>" />
      </div>
      <div class="device_infos">
      <%= t('.tablet.android').html_safe %>
       
        <p><%= link_to t('.tablet.android.link'),url_for, :id => 'vod_more' %></p>
        <div id="more_info_android" style="display:none">
          <%= t('.tablet.android.more').html_safe %>
        </div>
        <%= t('.tablet.android.app').html_safe %>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="section five">
    <div class="device_title">
      <h3><%= t '.tv', :link => info_path(:page_name => t('routes.infos.params.get_connected')) %></h3>
    </div>
    <div class="device_infos">
    <%= t('.tv.text').html_safe %>
      
    </div>
    <div class="clear"></div>
  </div>
  <div class="section six">
    <div class="device_title">
      <h3><%= t '.consoles' %></h3>
      <img src="<%= image_path "playstation_logo_vod.jpg" %>"  />
    </div>
    <div class="device_infos">
    <%= t('.consoles.text').html_safe %>
      
    </div>
    <div class="clear"></div>
  </div>
</div>
