<style>
.canvas1 #promo_content {
  background: url('http://www.dvdpost.be/images/promotions_plush/<%= @promo.params[:background_locale] ? "#{I18n.locale}/" : '' %><%= @promo.params[:background] %>') repeat scroll 0 0 transparent;
  height: 722px;
  margin: 0 auto;
  width: 970px;
}
<% if @promo.params[:brand_logo] %>
.canvas1 #header h2,.canvas1 #header h2 a {
  background: url('http://www.dvdpost.be/images/promotions_plush/<%= @promo.params[:brand_logo] %>') no-repeat scroll 0 0 transparent;
  height: 57px;
  width: 500px;
}
<% end %>
</style>

<div id="wrap">
  <div id="header" >
    <h1>
      <%= link_to 'plush.be', root_localize_path(), :class => 'f-btn' %>
    </h1>
    <% if @promo.params[:brand_logo] %>
      <h2>
        <%= !@promo.params[:brand_url] ? '' : link_to(@promo.params[:brand_url], @promo.params[:brand_url], :class => 'f-btn', :target => '_blank') %>
      </h2>
    <% end %>
  </div>
  <div class="container clearfix">
  </div>
</div>
<div style="display:none" id='text_error_conditions'><%= t('.error_conditions') %></div>
<div id="default" style="display:none"><%= t '.default' %></div>
