<style>
.canvas2 #promo_content {
  background: url('http://www.dvdpost.be/images/promotions_plush/<%= @promo.params[:background_locale] ? "#{I18n.locale}/" : '' %><%= @promo.params[:background] %>') no-repeat scroll 0 0 transparent;
  margin: 0 auto;
  width: 970px;
}
<% if @promo.params[:brand_logo] %>
.canvas2 #header h2,.canvas2 #header h2 a {
  background: url('http://www.dvdpost.be/images/promotions_plush/<%= @promo.params[:brand_logo] %>') repeat scroll 0 0 transparent;
  height: 39px;
  width: 224px;
}
<% end %>
</style>
<div id="wrap">
  <div id="header" >
    <h1>
      <%= link_to 'plush.be', root_localize_path(), :class => 'f-btn' %>
    </h1>
    <% if @promo.params[:brand_logo] %>
    <h2>
      <%= !@promo.params[:brand_url] ? '' : link_to(@promo.params[:brand_url], @promo.params[:brand_url], :class => 'f-btn', :target => '_blank') %>
    </h2>
    <% end %>
  </div>
  <div class="container clearfix">
    <% if current_customer && current_customer.abo_active == 1 %>
      <%= t('no_right').html_safe %>
    <% else %>
    <div id="promo_content">
      <h1 style="color: #212A31;">
        <%= t2('.title', @promo.name).html_safe %><br/>
        <strong><%= t2('.title_promo', @promo.name).html_safe %></strong>
      </h1>
      <div id="promo_form" class="light">
        <h2 class="light"><%= t2('.subtitle', @promo.name).html_safe %></h2>
        <% if current_customer %>
          <%= render :partial => 'promotions/show/form_logged' %>          
        <% elsif @prospect %>
          <%= render :partial => 'promotions/show/form_login' %>          
        <% else %>
          <%= render :partial => 'promotions/show/form_signup', :locals => {:number => ''} %>
        <% end %>
      </div>
    </div>

      <div id="commentcamarche_content">
        <h2><%= t('.plush') %></h2>
        <h3><%= t('.illimite') %></h3>
        <table cellpadding="0" cellspacing="0" border="0">
          <tr id="vod">
            <td><img src="<%= image_path "/assets/promotions/#{I18n.locale}/vod.jpg" %>" style="padding-left:20px;"/></td>
            <td><img src="<%= image_path "/assets/promotions/#{I18n.locale}/streamingbutton.jpg" %>" style="padding-top:50px;"  /></td>
            <td><img src="<%= image_path "/assets/promotions/#{I18n.locale}/icon_subtitles.gif" %>" style="padding-top:30px; padding-left:40px;" /></td>
            <td><img src="<%= image_path "/assets/promotions/tv_vod.jpg" %>"  style="padding-top:14px;" /></td>
          </tr>
          <tr id="vod">
            <td class="step1"><%= t('.istep1').html_safe %></td>
            <td class="step2"><%= t('.istep2').html_safe %></td>
            <td class="step3"><%= t('.istep3').html_safe %></td>
            <td class="step4"><%= t('.istep4').html_safe %></td>
          </tr>
        </table>
        <h3><%= t('.carte') %></h3>
        <table cellpadding="0" cellspacing="0" border="0">
          <tr id="dvd">
            <td><img src="<%= image_path "/assets/promotions/#{I18n.locale}/vodppv.jpg" %>"style="padding-left:20px;"/></td>
            <td><img src="<%= image_path "/assets/promotions/#{I18n.locale}/payperviewbutton.jpg" %>" style="padding-top:28px;" /></td>
            <td><img src="<%= image_path "/assets/promotions/#{I18n.locale}/icon_subtitles.gif" %>" style="padding-top:30px; padding-left:40px;" /></td>
            <td><img src="<%= image_path "/assets/promotions/tv_vodppv.jpg" %>" style="padding-top:14px;"/></td>
          </tr>
          <tr id="dvd">
            <td class="step1"><%= t('.astep1').html_safe %></td>
            <td class="step2"><%= t('.astep2').html_safe %></td>
            <td class="step3"><%= t('.astep3').html_safe %></td>
            <td class="step4"><%= t('.astep4').html_safe %></td>
          </tr>
        </table>
      </div>
      <p align="center"><%= image_tag "#{I18n.locale}/info_tel.jpg" %></p>
      <div id="promo_footer"><%= t2('.conditions', @promo.name).html_safe %></div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>
<div style="display:none" id='text_error_conditions'><%= t('.error_conditions') %></div>
<div id="default" style="display:none"><%= t '.default' %></div>
