<style>
.canvas1 .choice_language {
  background-image: url('http://www.dvdpost.be/images/promotions_plush/<%= @promo.params[:background_choose] %>');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  height: 537px;
}
<% if @promo.params[:brand_logo] %>
.canvas1 #header h2,.canvas1 #header h2 a {
  background: url('http://www.dvdpost.be/images/promotions_plush/<%= @promo.params[:brand_logo] %>') repeat scroll 0 0 transparent;
  height: 39px;
  width: 224px;
}
<% end %>
</style>

<div class="container clearfix">
  <div id="wrap">
    <div id="header" >
      <h1><%= link_to 'plush.be', root_localize_path(), :class => 'f-btn' %></h1>
       <% if @promo.params[:brand_logo] %>
        <h2>
          <%= !@promo.params[:brand_url] ? '' : link_to(@promo.params[:brand_url], @promo.params[:brand_url], :class => 'f-btn', :target => '_blank') %>
        </h2>
      <% end %>
    </div>
    <div class="choice_language">
      <h3>Choisissez votre langue - Kies uw taal</h3>
      <div class="left" ><%= link_to 'Fran&ccedil;ais'.html_safe, url_for(:locale => :fr),:class => "button_languages" %>
      </div>
      <div class="right"> <%= link_to 'Nederlands', url_for(:locale => :nl),:class => "button_languages" %>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>
