<div class="container white-bck dark-gray">
  <ul class="bank-promotion overflow-hidden mart40 display-block">
    <li>
      <a href="<%= root_localize_path %>" class="display-inline">
        <%= image_tag "template/bnppf-logo.png", class: "img-responsive" %>
      </a>
    </li>
    <li>
      <a href="https://group.bnpparibas/en/" target="_blank" class="display-inline">
        <%= image_tag "template/hello-bank-logo.png", class: "img-responsive" %>
      </a>
    </li>
  </ul>
  <div class="block100 padlr10 mart60 left-promo-code center-block">
    <h3 class="OpenSansCondensed text-center pad0 f30"><%= t("bnppf.1") %></h3>
    <p class="block100 mart10"><%= t("bnppf.2") %></p>
    <div id="bnppf_validations_errors">
      <div id="bnppf_validations_message"></div>
    </div>
    <label id="bnppf_activation_code-error_ajax" class="error" for="bnppf_activation_code"></label>
    <div id="promotion_result_paribas"></div>
    <form id="bnppf_activation_form">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mart20">
      <input name="bnppf_activation_code" id="bnppf_activation_code" placeholder="<%= t("bnppf.3") %>" type="text">
    </div>
    <input class="btn light-blue-bck col-lg-2 col-md-2 col-sm-2 col-xs-2 mart20" name="promo-code-submit" value="<%= t("bnppf.4") %>" type="submit">
      <div class="block100 mart30 text-center"></div>
    </form>
  </div>
</div>