<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div align="center">
  <span>
    <h3><%= t2('promotions.show.canvas2.promo', @promo.name).html_safe %></h3>
    <p class="inputs_codes">
      <%= t 'promotions.show.canvas2.email_label' %>:<br />
      <%= f.text_field :email, :value => params[:email], :class => 'inputs_promo_code', :size => '35', :tye => 'text' %>
    </p>
    <p class="inputs_codes" align="center">
      <%= t 'promotions.show.canvas2.pass_label' %>:<br />
      <%= f.password_field :password, :class => 'inputs_promo_code', :size => '35', :maxlength => '40'%>
    </p>
    <%= hidden_field_tag(:code, @code, :id => 'code') %><br />
    <%= hidden_field_tag :return_url, promotion_canva_path(:id => params[:id], :email => params[:email]) %>
    <%= hidden_field_tag :id, params[:id] %>
    <div style="clear:both;"></div>
    <%= "<div id='error'>#{alert}</div>".html_safe if alert && !alert.empty? %>
  </span>
</div>
<p class="news">
  <%= check_box_tag 'marketing', 1, @checked, :class => :marketing3, :id => 'mark' %>
  <%= t('promotions.show.canvas2.accepteconditions') %>
</p>
<div class="garanties">
  <h4><%= t('promotions.show.canvas2.garanties') %></h4>
  <ul>
    <li class="engagement"><%= t('promotions.show.canvas2.engagement') %></li>
    <li class="stop"><%= t('promotions.show.canvas2.stop') %></li>
    <li class="security"><%= t('promotions.show.canvas2.securite') %></li>
  </ul>
</div>
<div class="avantages">
  <h4><%= t('promotions.show.canvas2.avantages') %></h4>
  <ul>
    <li class="film"><%= t('promotions.show.canvas2.film') %></li>
    <li class="home"><%= t('promotions.show.canvas2.home') %></li>
    <li class="platform"><%= t('promotions.show.canvas2.platform') %></li>
  </ul>
</div>
<div style="clear:both;"></div>
<p style="padding-top:5px;"><input type="submit" border="0" align="absmiddle" id="submit_id3" class="promo_button" name="sent" value="<%= t('promotions.show.canvas2.essayer') %>" /></p>
<% end %>