<%= form_tag promotion_canva_path(:id => params[:id]), :id => 'form_logged' do %>
<div align="center">
  <span>
    <div class="email_show">
    <p class="inputs_codes">
      <%= t 'promotions.show.canvas2.email_label' %>:<br />
      <div class=''><strong><%= current_customer.email %></strong></div>
    </p>
    </div>
    <%= hidden_field_tag(:code, @code ) %><br />
    <%= hidden_field_tag :return_url, promotion_canva_path(:id => params[:id]) %>
    <div style="clear:both;"></div>
    <%= "<div id='error'>#{alert}</div>".html_safe if alert && !alert.empty? %>
  </span>
</div>
<div class="garanties">
  <h4><%= t('promotions.show.canvas2.garanties') %></h4>
  <ul>
    <li class="engagement"><%= t2('promotions.show.canvas2.engagement', @promo.params[:key]) %></li>
    <li class="stop"><%= t('promotions.show.canvas2.stop') %></li>
    <li class="security"><%= t('promotions.show.canvas2.securite') %></li>
  </ul>
</div>
<div class="avantages">
  <h4><%= t('promotions.show.canvas2.avantages') %></h4>
  <ul>
    <li class="film"><%= t('promotions.show.canvas2.film') %></li>
    <li class="home"><%= t('promotions.show.canvas2.home') %></li>
    <li class="platform"><%= t('promotions.show.canvas2.platform') %></li>
  </ul>
</div>
<div style="clear:both;"></div>
<p style="padding-top:5px;"><input type="submit" border="0" align="absmiddle" id="submit_id3" class="promo_button" name="sent" value="<%= t('promotions.show.canvas2.essayer') %>" /></p>
<% end %>