<form id="promotion_playstation">
  <div class="block100 mart10 text-center">
    <p class="mart10"><%= t("pl_instert_promo-code") %>:</p>
    <div id="promo-code-error"></div>
    <input type="text" name="code" id="code" class="text-center" placeholder="Code">
    <p class="error-code red-google f12">Error code</p>
  </div>
  <div class="block100 mart20">
    <div class="col-md-1 col-sm-1 col-xs-1 padt5">
      <input type="checkbox" class="icheckbox" name="terms" /></div>
    <div class="col-md-11 col-sm-11 col-xs-11">
      <label class="Arial normal text-left line-height-15"> <%= t("playstation_terms") %></label>
    </div>
  </div>
  <div class="block100 mart15">
    <div class="codebox-left">
      <h3 class="f20"><%= t('promotions.show.canvas2.garanties') %></h3>
      <ul>
        <li>
          <i class="fa fa-shopping-cart f18 marr5"></i><%= t2('promotions.show.canvas2.engagement', @promo.params[:key]) %>
        </li>
        <li><i class="fa fa-gift f18 marr5"></i><%= t2('promotions.show.canvas2.stop', @promo.params[:key]) %></li>
        <li><i class="fa fa-lock f18 marr5"></i><%= t('promotions.show.canvas2.securite') %></li>
      </ul>
    </div>
    <div class="codebox-right">
      <h3 class="f20"><%= t('promotions.show.canvas2.avantages') %></h3>
      <ul>
        <li><i class="fa fa-film f18 marr5"></i><%= t('promotions.show.canvas2.film') %></li>
        <li><i class="fa fa-home f18 marr5"></i><%= t('promotions.show.canvas2.home') %></li>
        <li>
          <i class="fa fa-mobile-phone f18 marr5"></i><i class="fa fa-tablet f18 marr5"></i><%= t('promotions.show.canvas2.platform') %>
        </li>
      </ul>
    </div>
  </div>
  <div class="block100 text-center mart15">
    <button class="btn pad5 green-bck white radius4" id="code-submit-modal">
      <i class="fa fa-check marr10"></i><%= t2('promotions.show.canvas2.essayer', @promo.params[:key]) %>
    </button>
  </div>
</form>