<style>
.text-field {
	width: calc(100% - 44px);
	height: 40px;
	margin-bottom: 15px;
	padding: 5px 20px;
	border: 2px solid #e1e1e1;
	color: #bdbaba;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 19px;
}

.text-field:focus {
	border: 2px solid #76c71e;
	outline: none;
}

.info, .success, .warning, .errornl, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:20px 10px 20px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.errornl {
    color: #D8000C;
    background-color: #FFBABA;
		text-align: center;
}

</style>


<% if params[:freetrial_action].present? && params[:freetrial_action] == "FREETRIAL" %>
<style>
#freetrial {
	width: 725px;
	margin-left: 4px;
	background-color: #fff;
	text-align: left;
	padding-left: 25%;
	padding-top: 50px;
}
#fth3 {
	color: #76c71e;
	padding-bottom: 5px;
	font-family: Open Sans Condensed;
	font-size: 27px;
}
.step2 {
	padding-top: 10px;
}
#fth3q {
	color: #000;
	font-size: 19px;
	padding-bottom: 3px;
	font-family: Open Sans Condensed;
}

</style>
  <div id="freetrial">
		<h1 id="fth3"><%= t('freetrial_login_1') %></h1>
		<ul>
	    <li id="fth3q">- <%= t('freetrial_login_2') %> <strong><%= params[:films] %> <%= t('freetrial_login_3') %></strong> <%= t('freetrial_login_4') %></li>
	    <li id="fth3q">- <%= t('freetrial_login_5') %> <strong>€ <%= params[:price] %>/<%= t('freetrial_login_6') %></strong></li>
	    <li id="fth3q">- <%= t('freetrial_login_7') %></li>
	  </ul>
	</div>
<div class="step2">
<% else %>
<div class="step2">
	<%= link_to root_path do %>
		<%= image_tag "plush_logo_fixed.jpg", height: '71', width: '129' %>
	<% end %>
	<% if params[:DS_CODE_RESTRICTION_ERROR].present? && params[:DS_CODE_RESTRICTION_ERROR] == "DISCOUNT_CODE_LIMIT_AUTH_ERROR" %>
	  <div class="errornl"><%= arleady_used_code_messages_helper %></div>
	<% end %>
<% end %>
<a href="/auth/facebook?code=<%= params[:code] %>;moovie_id=<%= params[:moovie_id] %>;ACTION_TYPE=NORMAL;ORG_URL=<%= request.fullpath %>"><button id="fb_connect_login" class="face-button"><%= t('.social.network.fbconnect') %></button></a>
<div class="separator-part">
	<div class="separator-line"></div>
	<label class="separator-label"><%= t('promotions.show.or') %></label>
	<div class="separator-line"></div>
</div>
</br>
</br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<% if alert && !alert.empty?%>
  <%= alert %>
<% end %>
<div id="code_info"><div id="code_message"></div></div>
<%= f.text_field :email, :class => 'text-field', :tye => 'text', :placeholder => t('.email_label'), autocomplete: "off" %>
<%= f.password_field :password, :class => 'text-field', :maxlength => '40', :placeholder => t('.pass_label'), autocomplete: "off" %>
<div id="password_info"><div id="password_message"></div></div>
</br>
<% if devise_mapping.rememberable? -%>
    <div class="customer_remember_me hvr-grow">
      <%= f.check_box :remember_me, :checked => true %>
      <label for="customer_remember_me">
        <span></span>
      </label>
    </div>
    <label class="customer_remember_me_label"><%= t('.remember_me') %></label>
<% end -%>
<%= f.submit t('.connect'), :id => 'submit_button', :class => "button-connenct" %>
<% end %>
</div>
<div class="links">
  <%= render "devise/shared/links" %>
</div>
