<div class="container white-bck padb30">
  <div class="center-block thin-holder ">
    <div class="block100 cred-buttons">
      <a href="/auth/facebook?code=<%= params[:code] %>;moovie_id=<%= params[:moovie_id] %>;ACTION_TYPE=NORMAL;ORG_URL=<%= request.fullpath %>" class="btn center-block f16 blue-facebook-bck uppercase radius4 padtb15"><i class="fa fa-facebook marr5 f16"></i> <%= t('.social.network.fbconnect') %></a>
      <a href="/auth/google_oauth2?code=<%= params[:code] %>;moovie_id=<%= params[:moovie_id] %>;ACTION_TYPE=NORMAL;ORG_URL=<%= request.fullpath %>" class="btn center-block f16 red-google-bck uppercase radius4 padtb15 mart15"><i class="fa fa-google-plus marr5 f16"></i> <%= t('.social.network.google') %></a>
      <a href="index.php%3Fpage=login.html#" class="btn center-block f16 orange-bck uppercase radius4 padtb15 mart15">Register with Orange</a>
    </div>

    <div class="hr-with-words mart30 block100">
      <span class="Arial f20 dark-blue">OR</span>
    </div>

    <div class="block100 mart30">
      <input type="text" name="login-email" class="f20" placeholder="Email Address">
    </div>

    <div class="block100 mart30">
      <input type="password" name="login-password" class="f20" placeholder="Password">
    </div>

    <div class="block100 mart30">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padt15">
        <input type="checkbox" class="icheckbox" name="login-remember-me" value="1"/>
        <label class="Arial f18 normal marl10">Remember Me</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
        <a href="index.php%3Fpage=login.html#" class="btn btn-green-gradient padlr40 padtb15 white f16 normal">Login</a>
      </div>
    </div>

    <div class="block100 mart60 text-center">
      <%= link_to t('.forget_password'), new_password_path(resource_name, :code => params[:code], :activation => params[:activation]), class: "f20" %>
    </div>
    <div class="block100 mart15">
      <span class="green f20 block100 text-center">You do not have an account?</span>
    </div>
    <div class="block100 mart5 text-center">
      <%= link_to t('.sign_up'), new_customer_registration_path(:moovie_id => params[:moovie_id], :code => params[:code], :activation => params[:activation]), class: "f20" %>
    </div>
  </div>
</div>
