<div class="step2">
<%= link_to root_path do %>
  <%= image_tag "step2/logo.png" %>
<% end %>
<button id="fb_connect_login" class="face-button"><%= t('.social.network.fbconnect') %></button>
</br>
<div class="separator-part">
  <div class="separator-line"></div>
    <label class="separator-label">OU</label>
  <div class="separator-line"></div>
</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<% if alert && !alert.empty?%>
  <%= alert %>
<% end %>
<div id="code_info"><div id="code_message"></div></div>
<%= f.text_field :email, :class => 'text-field', :tye => 'text', :placeholder => t('.email_label'), autocomplete: "off" %>
<%= f.password_field :password, :class => 'text-field', :maxlength => '40', :placeholder => t('.pass_label'), autocomplete: "off" %>
<div id="password_info"><div id="password_message"></div></div>
</br>
<% if devise_mapping.rememberable? -%>
    <div class="customer_remember_me hvr-grow">
      <%= f.check_box :remember_me, :checked => true %>
      <label for="customer_remember_me">
        <span></span>
      </label>
    </div>
    <label class="customer_remember_me_label"><%= t('.remember_me') %></label>
<% end -%>
<%= f.submit t('.connect'), :id => 'submit_button', :class => "button-connenct" %>
<% end %>
</div>
<div class="links">
  <%= render "devise/shared/links" %>
</div>
