<h2 class="OpenSansCondensed f30"><%= t '.title' %></h2>
<div class="form-group lightergray-bck">
  <span class="bold"><%= t '.client_id' %></span>
  <%= customer.to_param %>
</div>
<div class="form-group">
  <span class="bold"><%= t '.identification' %></span>
  <%= customer.email %>
</div>
<div class="form-group lightergray-bck">
  <span class="bold"><%= t '.first_name' %></span>
  <%= customer.last_name %>
</div>
<div class="form-group">
  <span class="bold"><%= t '.first_name' %></span>
  <%= customer.first_name %>
</div>
<div class="form-group lightergray-bck">
  <span class="bold"><%= t '.phone' %> :</span>
  <%= customer.phone %>
</div>
<%= link_to t('.customer_edit'), edit_customer_path(), :class => 'btn green-bck OpenSansCondensed f20 mart20', rel: "facebox" %>
<%= link_to t('.address_edit'), edit_customer_addresses_path(:customer_id => current_customer), :class => 'btn light-blue-bck OpenSansCondensed f20 mart20', rel: "facebox" %>
<div class="form-group lightergray-bck mart20">
  <span class="bold"><%= t '.cotations' %></span>
  <%= customer.ratings.count %>
</div>
<div class="form-group">
  <span class="bold"><%= t '.critiques' %></span>
  <%= @review_count %>
  <% if @review_count > 0 %>
      (<%= link_to t('.see_all'), customer_reviews_path(:customer_id => current_customer.to_param), :class => :modif %>)
  <% end %>
</div>
<%= render :partial => 'customers/show/nickname', :locals => { :customer => customer } %>


