<% if active == 1 %>
<%= t '.active_status' %>
<span><%= image_tag 'delimiter.gif' %></span>
<%= link_to t('.deactive_status_actif'), customer_newsletter_path(:customer_id => current_customer, :value => 0, :type => type), :class => "suppendre_#{type} customer_button" %>
<% else %>
<%= t '.deactive_status' %>
<span><%= image_tag 'delimiter.gif' %></span>
<%= link_to t('.active_status_actif'), customer_newsletter_path(:customer_id => current_customer, :value => 1, :type => type), :class => "suppendre_#{type} customer_button" %>
<% end %>