<tr>
  <td align="right" valign="top" class="adresse"><strong><%= t '.avatar' %> :</strong></td>
  <td align="left" valign="top" class="adresse">
    <%= image_tag get_avatar(current_customer), :width => 80 %>
  </td>
</tr>
<% if current_customer.customer_attribute.avatar_pending %>
<tr>
  <td align="right" valign="top" class="adresse"><strong><%= t '.avatar_pending' %> :</strong></td>
  <td align="left" valign="top" class="adresse">
    <%= image_tag customer_avatar_pending_path(:customer_id => current_customer.id), :width => 80 %>
  </td>
</tr>

<% else %>
<tr>
  <td align="right" valign="top" class="adresse"></td>
  <td align="right" valign="top" id="modif">
    <ul>
      <li class="links">
        <%= link_to t('.avatar_new'), new_customer_image_path(:customer_id => current_customer), :class => 'modification_address' %>
      </li>
    </ul>
  </td>
</tr>
<% end %>