<% if newsletters_x %>
<%= t '.active_status' %>
<span><%= image_tag 'delimiter.gif' %></span>
<%= link_to t('.deactive_status_actif'), customer_newsletters_x_path(:customer_id => current_customer, :value => 0), :class => "news_x customer_button" %>
<% else %>
<%= t '.deactive_status' %>
<span><%= image_tag 'delimiter.gif' %></span>
<%= link_to t('.active_status_actif'), customer_newsletters_x_path(:customer_id => current_customer, :value => 1), :class => "news_x customer_button" %>
<% end %>