
<tr>
<td colspan="2">
  <div class="rotation_dvd">
    <div class="title">
      <strong><%= t '.rotation_dvd' %></strong>
    </div>
    <div class="dvd">
      <%= image_tag 'dvd.png', :align => 'absmiddle'%>
      <%= "#{customer.normal_count} DVD" %>
      <span><%= image_tag 'delimiter.gif' %></span>
      <% if customer.adult_count > 0 %>
      <% form_for (:customer , :url => customer_rotation_dvd_path(:customer_id => current_customer.to_param), :html => { :class => 'form_rotation' }) do |f| %>
        <%= hidden_field_tag :value, 1 %>
        <%= hidden_field_tag :type, 'norm' %>
        <%= hidden_field_tag :norm, customer.normal_count %>
        <%= hidden_field_tag :adult, customer.adult_count %>
        <%= submit_tag 'plus norm', :class => 'add_norm' %>
      <% end %>
      <% end %>
    </div>
  </div>
  <div class="rotation_dvd adulte_text">
    <div class="title">
      <strong><%= t '.adult_rotation_dvd' %></strong>
    </div>
    <div class="dvd">
      <%= image_tag 'dvd_x.png', :align => 'absmiddle'%>
      <%= "#{customer.adult_count} DVD" %>
      <span><%= image_tag 'delimiter.gif' %></span>
      <% if customer.normal_count > 0 %>
      <% form_for (:customer , :url => customer_rotation_dvd_path(:customer_id => current_customer.to_param), :html => { :class => 'form_rotation' }) do |f| %>
        <%= hidden_field_tag :value, 1 %>
        <%= hidden_field_tag :type, 'adult' %>
        <%= hidden_field_tag :norm, customer.normal_count %>
        <%= hidden_field_tag :adult, customer.adult_count %>
        <%= submit_tag 'plus adult', :class => "add_adult #{@wishlist_adult_size == 0 ? 'empty' : ''}" %>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
  </td>
</tr>