<div id="droite">
  <div id="title">
    <strong><%= t '.title' %></strong>
  </div>
  
  <div id="content_droite">
    <table cellpadding="1" cellspacing="0" border="0">
      

     
      <tr>
                <td width="203" align="right"><strong>Votre formule :</strong></td>
        <td width="258" align="left">Plush unlimited</td>
      </tr>
      
       <tr>
          <td align="right" valign="top" class="adresse"></td>
          <td align="right" valign="top" id="modif">
            <ul>
              <li class="links">
                <a href="/fr/customers/151435/suspension/new" class="modification_address facebox">Suspendre mon abonnement</a>
              </li>
            </ul>
          </td>
        </tr>
        
      
     
     
      <!--<%= render :partial => 'customers/show/new_pricing' %>
        <tr>
        <td colspan="2" align="left">
          <% if customer.actived? && customer.subscription %>
            <ul>
              <li class="links">
                <% if 1 == 0 %>
                  <strong><%= link_to t('.modify_abo'), edit_customer_subscription_path(:customer_id => current_customer.to_param), :class => 'renew' %></strong>
                <% end %>
                <% link_to t('.suspend_abo'), new_customer_suspension_path(:customer_id => current_customer.to_param), :class => 'suppendre' if current_customer.suspension_status == 0 %>
              </li>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <td align="right" class="adresse"><strong><%= t '.date_abo' %></strong></td>
        <td align="left" class="adresse">
          <%= customer.subscription.created_at.strftime("%d/%m/%Y") if customer.actived? && customer.subscription %>
        </td>
      </tr>
      <tr>
        <td align="right"><strong><%= t '.date_end_abo' %></strong></td>
        <td align="left">
          <%= customer.subscription_expiration_date.strftime("%d/%m/%Y") if customer.subscription_expiration_date %>
        </td>
      </tr>
      <tr>
                <td width="203" align="right"><strong>Films dans votre liste cinéma :</strong></td>
        <td width="258" align="left">22</td>
      </tr>
      <tr>
                <td width="203" align="right"><strong>Films dans votre liste Adulte :</strong></td>
        <td width="258" align="left">22</td>
      </tr>
     <!-- <tr>
        <td align="right"><strong><%= t '.type_abo' %></strong></td>
        <td align="left"><%= t(".#{customer.subscription_payment_method.name.downcase}") if customer.subscription_payment_method %></td>
      </tr>--> 
    </table>
  </div>
  <p align="center"> <img src="<%= image_path "/assets/fr/info_tel.jpg" %>"  width="375"/></p>
</div>
<div class="end"></div>
<div style="display:none" id="rotation"><%= t '.rotation' %></div>
<div style="display:none" id="only_vod_confirm"><%= t '.only_vod_confirm' %></div>
<div style="display:none" id="remove_only_vod_confirm"><%= t '.remove_only_vod_confirm' %></div>


