<div id="customer_address">
  <!-- <h3 class="dark-gray pad0 mar0 marb10">Adresse</h3> -->
  <h3 class="dark-gray pad0 mar0 marb10"><%= t '.title' %></h3>
  <%= form_for(:address, :url => customer_addresses_path, :remote => true) do |f| %>

      <div class="form-group block100">
        <label class="bold"><%= t '.firstname' %>:</label>
        <%= f.text_field :first_name, :value => @address.first_name %>
      </div>

      <div class="form-group block100">
        <label class="bold"><%= t '.lastname' %>:</label>
        <%= f.text_field :last_name, :value => @address.last_name %>
      </div>

      <div class="form-group block100">
        <label class="bold"><%= t '.street' %>:</label>
        <%= f.text_field :street, :value => @address.street %>
      </div>

      <div class="form-group block100">
        <label class="bold"><%= t '.postal_code' %>:</label>
        <%= f.text_field :postal_code, :value => @address.postal_code %>
      </div>

      <div class="form-group block100">
        <label class="bold"><%= t '.city' %>:</label>
        <%= f.text_field :city, :value => @address.city %>
      </div>

      <div class="form-group block100">
        <%= button_tag class: "btn pad5 blue-bck white pull-left radius4", id: "submit_address" do %>
            <i class="fa fa-check"></i> <%= t('.create') %>
        <% end %>
      </div>

  <% end %>
</div>