<div id="top" class="<%= "promo" if !current_customer && cookies['url_promo'] %>">
  <div class="wrap jcl">
    <% if current_customer %>
      <% unless params[:controller] == "steps" %>
        <%= link_to t('.compte'), customer_path(:id => current_customer) %>
        <%= "#{link_to t('.logout'), destroy_customer_session_path, :id => :logout, :method => :delete} <span>(#{current_customer.email})</span>".html_safe %>
      <% end %>
    <% else %>
    &nbsp;
    <% end %>
  </div>
</div>
<div id="wrap">

    <% if flash[:notice] %>
  	<div class='flash_message'>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
  	</div>
    <% end %>
    <% if flash[:error] || flash[:alert]%>
  	<div class='flash_message'>
      <div class="flash_error">
        <%= flash[:error] %><%= flash[:alert] %>
      </div>
  	</div>
    <% end %>

    <div id="reconduction_div" class="flash_message">
      <div id="reconduction_message" class="flash_error">

      </div>
    </div>

<!--<#% unless params[:controller] == "steps" %>
  <#%= render partial: "layouts/old_partials/green_banner" %>
<#% end %>
  <div id="header" >
    <div><#%= link_to t('.tagline'), root_localize_path, :class => 'f-btn' %></div>
    <#%= render :partial => 'layouts/old_partials/menu' %>
  </div>  -->
