<style>
  #sms_code-error {
    color: #8f0222;
  }
</style>
<div id="content" class="block100 login-sign">
  <div class="container white-bck padb30">
    <div id="sms_auth" class="center-block thin-holder border radius4 thinrgray-bck pad20 mart20 overflow-hidden">
      <div id="info1"></div>
      <div id="info2"></div>
      <div class="block100 text-center">
        <%= image_tag("orange_logo.jpg", :class => "center-block", with: "75", height: "75") %>
        <div class="col-xs-12" style="height:40px;"></div>
      </div>
      <div id="sms_form">
        <div id="promo-code-error"></div>
        <form id="is_eligable">


          <div class="block100 text-center mart20">
            <p><%= t('orange_login_explanation_text_login') %></p>
          </div>

          <div class="input-group">
            <div class="input-group-addon"><%= set_prefix_orange(request.host) %></div>
            <input type="text" name="phone-number" id="sms_number" class="form-control" placeholder="<%= t('orange_phone_number') %>">
          </div>
          <div class="block100 text-center mart20">
            <input type="submit" class="btn block100 orange-bck padlr40 padtb15 white f16 normal" value="<%= t('orange_send_button') %>">
          </div>
          <div class="block100 text-center mart20">
            <p><%= t('orange_login_explanation_text_1') %></p>
          </div>
        </form>
        <form id="orange_purchase">
          <div class="block100 text-center mart20">
            <p><%= t('orange_p_2') %></p>
          </div>
          <div class="form-group input-group-lg">
            <input type="text" name="sms-code" id="sms_code" class="form-control" placeholder="<%= t('orange_sms_code_2') %>">
          </div>
          <div class="block100 text-center mart20">
            <input type="submit" class="btn block100 orange-bck padlr40 padtb15 white f16 normal" value="<%= t('orange_send_button') %>">
          </div>
          <% if params[:moovie_id].present? || params[:code].present? %>
              <div class="block100 text-center mart20">
                <% if I18n.locale == :fr %>
                    <p>En cliquant sur ce bouton, je reconnais avoir lu et accepté les conditions <%= link_to 'générales de vente', orange_lu_auth_sms_download_path %></p>
                <% elsif I18n.locale == :nl %>
                    <p>Door op deze knop te klikken, bevestig ik dat ik de algemene verkoopvoorwaarden heb <%= link_to 'gelezen en geaccepteerd', orange_lu_auth_sms_download_path %></p>
                <% elsif I18n.locale == :en %>
                    <p>By clicking this button, I acknowledge having read and accepted the <%= link_to 'general conditions of sale', orange_lu_auth_sms_download_path %></p>
                <% end %>
              </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag *webpack_asset_paths("orange_login") %>