<div id="content" class="block100 login-sign">
  <div class="container white-bck padb30">
    <div id="sms_auth" class="center-block thin-holder border radius4 thinrgray-bck pad20 mart20 overflow-hidden">
      <div id="info1"></div>
      <div id="info2"></div>
      <div class="block100 text-center">
        <div class="block100 text-center">
          <%= image_tag("orange_logo.jpg", :class => "center-block", with: "75", height: "75") %>
          <div class="col-xs-12" style="height:40px;"></div>
        </div>
        <div id="sms_form">
          <form id="is_eligable_registration">
            <div id="promo-code-error"></div>
            <div class="input-group">
              <div class="input-group-addon">+352</div>
              <input type="text" name="phone-number" id="sms_number_register" class="form-control" placeholder="<%= t('orange_phone_number') %>">
            </div>
            <div class="block100 text-center mart20">
              <input type="submit" class="btn block100 orange-bck padlr40 padtb15 white f16 normal" value="<%= t('orange_send_button') %>">
            </div>
            <div class="block100 text-center mart20">
              <p><%= t('orange_login_explanation_text_1') %></p>
            </div>
          </form>
          <form id="orange_purchase_register">
            <div class="input-group-lg">
              <input type="text" name="sms-code" id="sms_code" class="form-control" placeholder="<%= t('orange_sms_code_2') %>">
            </div>
            <div class="block100 text-center mart20">
              <input type="submit" class="btn block100 orange-bck padlr40 padtb15 white f16 normal" value="<%= t('orange_send_button') %>">
            </div>
            <div class="block100 text-center mart20">
              <p><%= t('orange.sms_code.message_info').html_safe %></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag *webpack_asset_paths("orangeregister") %>
