<% product_id = get_data('product_id',dialog.data) %>
<% email = dialog.emails.by_language(I18n.locale).first %>
<% if product_id %>
  <% product = Product.find(product_id)%>
<% end %>
  <div class="<%= config[:class] %>">
    <% if email.short? %>
      <div class="message_text">
    <% else %>
      <div class="message_text_long">
    <% end %>
      <p class="who_message"> <span class="who_message_big"><%= "* " if dialog.unread? %><%= t(".#{config[:title]}") %></span> <%= dialog.created_at.strftime("%d/%m/%Y %H:%M") %> <%= product.title if product %></p>
      <div align="justify">
      <%= replace_variables(email.body, dialog.data) %></div>
    </div>
    <div class="clear"></div>
  </div>