<% product_id = get_data('product_id',dialog.data) %>
<% email = dialog.emails.by_language(I18n.locale).first %>
<% config = config_dialog(dialog.user_id)%>
<% if product_id %>
  <% product = Product.find(product_id)%>
<% end %>
<ul class="list-group">
  <li class="list-group-item"><%= "* " if dialog.unread? %><%= t(".#{config[:title]}") %></li>
  <li class="list-group-item"><%= dialog.created_at.strftime("%d/%m/%Y %H:%M") %></li>
  <li class="list-group-item"><%= product.title if product %></li>
  <li class="list-group-item"><%= replace_variables(email.body, dialog.data) %></li>
</ul>