
<div id="step_wrap">
  <div id="step_container">
    <div class="step_form">
      <%= form_for(:customer, :url => customer_payment_methods_path(:customer_id => current_customer.to_param), :html => { :method => :put }) do |f| %>
      <div class="step_3 step <%= I18n.locale %>" align="center"></div>

      <h3><%= t('.subscription') %></h3>

      <table height="55" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF" style="margin-bottom:10px;color:#212A31;">
        <tbody><tr>
          <td style="padding-left:10px; "><%= t('.abonement_choosen') %> </td>
          <td style="padding-right:10px;padding-left:10px; "><%= current_customer.subscription_type.description %> <%= t('.for') %> <%= number_to_currency(current_customer.subscription_type.price, :unit => '', :separator => ',') %>€ <%= t('.per_month') %></td>
        </tr>


        <tr>
          <td style="padding-left:10px;"><strong><%= t('.promotion') %></strong> </td>
          <td style="padding-right:10px;padding-left:10px; "><strong><%= @promo.text(I18n.locale).html_safe %></strong></td>
        </tr>
      </tbody></table>
      <h3><%= t('.payment') %></h3>
      <div class="choice">
        <table>
          <tr>
            <td>	
              <input type="radio" value="visa" name="brand" id="visa">
            </td>
            <td align="center" valign="middle">
              <%= image_tag "visa_icon.png" %><p>Visa</p>
            </td>
            <td><input type="radio" value="mastercard" name="brand" id="master"></td>
            <td align="center" valign="middle">
              <%= image_tag "master_card_icon.png" %>
              <p>Master Card </p>
            </td>
            <td>
              <input type="radio" value="american Express" name="brand" id="amex">
            </td>
            <td align="center" valign="middle">
              <%= image_tag "american-express_icon.png" %>
              <p>American Express</p>
            </td>
          </tr>
        </table>

      </div>
      <div class="securitypaiment"><%= t('securised') %></div>
      <div class="clearfix"></div>
      <table cellpadding="2" class="padding_button">
        <tr>
          <td>
            <a class="sub_black_link2" href="/logoff.php"><%= t '.back' %></a>
          </td>
          <td>
            &nbsp;
            <%= image_tag "bg-top-nav-sep.png" %>
            &nbsp;
          </td>
          <td>
            <input type="submit" name ="sent" value= "<%= t '.confirm' %>" class="promo_button" />
          </td>
        </tr>
      </table>
    </div>
    <% end %>
    <p align="center" style="padding-top:15px;">
      <a href="">
        <%= image_tag("#{I18n.locale}/info_tel.jpg") %>
      </a>
    </p>

  </div>
  <%= render :partial => 'devise/registrations/faq1' %>
</div>


