<% product = detail2 %>
<% data = product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>
<div>

  <a href="<%= product_path(:id => product.to_param, :source => source) %>" class="popper"><%= image_tag(product_image, :class => "img-responsive") %>
    <% if product.hd?(session[:country_id]) %>
        <span class="hd position-absolute black white-bck radius2 bold italic">HD</span>
    <% end %>
  </a>
  <!--synopsys-->
  <div class="synopsys-content">
    <div class="position-relative pull-left">
      <h4 class="dark-gray mart20 marb0 bold text-center uppercase f25"><%= product.smart_title %> (<%= product.year %>)</h4>
      <div class="block100 slide-score green text-center mart5 f20" data-score="3"></div>
      <div class="block100 slide-price f20 line-height-10 dark-gray text-center bold">2.99€</div>
      <div class="block100 slide-discount text-center mart5">ou 1.99€ via
        <a href="http://superentals.codepop.biz/fr/information/alacarte" class="dark-gray underline">abonnement</a>
      </div>
      <div class="block100 slide-content mart15 text-center">
        <a href="index.html#" class="btn btn-green-gradient bold padlr25 white f17"><i class="fa fa-play marr5"></i>
          Regarder</a>
      </div>
      <div class="block100 slide-content mart15"><%= truncate_html((data[:description].text rescue '...'), :length => 500) %></div>
      <div class="block100 slide-buttons mart15">
        <a href="index.html#" class="btn white pull-left dark-gray-bck btn-trailer" data-src="https://www.youtube.com/watch?v=gKs8DzjPDMU" data-toggle="modal" data-target="#trailer-modal">
          <i class="fa fa-film marr5"></i>Trailer
        </a>
        <a href="index.html#" class="btn gray-bck pull-right btn-selection"><i class="fa fa-plus marr5"></i>Selection</a>
      </div>
      <div class="block100 slide-footer green-bck padtb15 mart10 text-center">
        <a href="http://superentals.codepop.biz/fr/information/alacarte" class="underline f18 dark-gray">Abonnez-vous</a>
        <p class="block100 mart5 text-center dark-gray f15">
          et regardez ce film pour seulement <strong>1.99€</strong>
        </p>
      </div>
      <a href="<%= product_path(:id => product.to_param, :source => source) %>" class="synopsys-adaptive-close"></a>
    </div>
  </div>
  <!--/synopsys-->
  <a href="<%= product_path(:id => product.to_param, :source => source) %>" class="position-absolute white-bck pad10 radius2 synopsys-adaptive-open f17 green uppercase no-underline"><i class="fa fa-search-plus f25 marr5"></i>Details
  </a>
</div>

