<% product = detail2 %>
<% data = product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>
<% div_id = "#{product.id}#{Random.rand(1000)}"%>
<div class="ca-item ca-item-<%= detail2_counter + 1 %>">
  <div class="content">
    <%= "<span class='hd'></span>".html_safe if product.hd?(session[:country_id]) %>
    <%= link_to image_tag(product.image, :width => 145, :height => 217), product_path(:id => product.to_param, :source => @source), 'data-url' => product_data_path(:product_id => product.to_param, :source => @source, :response_id => @response_id, :div_id => div_id), :class => :cover %>
    <!-- luckycycle-->
           <div class="lucky">
              <h1>Buy and win</h1>
             </div>
          <!-- luckycycle-->
    <div class="tooltips" style="display:none">
      <p class="tooltips_title"><%= product_title %> (<%= product.year %>)</p>
      <p class="tooltips_description"><%= truncate_html(data[:description].text, :length => 500) %> </p>
      <div class="tooltips_other" id='<%= div_id %>'>loading</div>
    </div>
    
  </div>
  
</div>
