<!--   ==============   LEFT COLUMN   ==============   -->
<div id="leftcolumn">
  <% if params[:kind] == :normal %>
  <h3 class="ttl infinity menu"><%= t '.unlimited' %></h3>
  <ul class="nav osc" style='display: <%= menu_show(1, params, @product) %>'>
    <li class="list"><%= link_to t('.svod_last_added'), products_path(:package => Moovies.packages.invert[1], :view_mode => :svod_last_added) %></li>
    <li class="list"><%= link_to t('.svod_most_viewed'), products_path(:package => Moovies.packages.invert[1], :view_mode => :most_viewed) %></li>
    <li class="list"><%= link_to t('.svod_last_chance'), products_path(:package => Moovies.packages.invert[1], :view_mode => :svod_last_chance) %></li>
    <li class="list"><%= link_to t('.svod_soon'), products_path(:package => Moovies.packages.invert[1], :view_mode => :svod_soon) %></li>
    <li class="list"><%= link_to t('.svod_categories'), categories_path(:package => Moovies.packages.invert[1]) %></li>
    <li class="list"><%= link_to t('.svod_all'), products_path(:package => Moovies.packages.invert[1]) %></li>
  </ul>
  <h3 class="ttl alacarte menu"><%= t '.tvod' %></h3>
  <ul class="nav osc" style='display: <%= (@product && @product.package_id == 2) || params[:package] == Moovies.packages.invert[2] ? 'block' : 'none' %>'>
    <li class="list"><%= link_to t('.tvod_last_added'), products_path(:package => Moovies.packages.invert[2], :view_mode => :tvod_last_added) %></li>
    <li class="list"><%= link_to t('.tvod_most_viewed'), products_path(:package => Moovies.packages.invert[2], :view_mode => :most_viewed) %></li>
    <li class="list"><%= link_to t('.tvod_last_chance'), products_path(:package => Moovies.packages.invert[2], :view_mode => :tvod_last_chance) %></li>
    <li class="list"><%= link_to t('.tvod_soon'), products_path(:package => Moovies.packages.invert[2], :view_mode => :tvod_soon) %></li>
    <li class="list"><%= link_to t('.tvod_categories'), categories_path(:package => Moovies.packages.invert[2]) %></li>
    <li class="list"><%= link_to t('.tvod_all'), products_path(:package => Moovies.packages.invert[2]) %></li>
  </ul>
  <% if @kid_visible %>
  <%= link_to t('.kids'), products_path(:package => Moovies.packages[:kids]), :class => "ttl kids" %>
  <% end %>
  <%= link_to t('.adult'), products_path(:kind => :adult, :package => Moovies.packages.invert[5]), :class => "ttl adult" %>
  <% else %>
  <%= link_to t('.classic_svod'), products_path(:kind => :normal, :package => Moovies.packages.invert[1]), :class => "ttl infinity" %>
  <h3 class="ttl adult menu"><%= t '.adult_unlimited' %></h3>
  <ul class="nav osc" style='display: <%= (@product && @product.package_id == 4) || params[:package] == Moovies.packages.invert[4] || params[:package].nil? ? 'block' : 'none' %>'>
    <li class="list"><%= link_to t('.svod_last_added'), products_path(:package => Moovies.packages.invert[4], :view_mode => :svod_last_added) %></li>
    <li class="list"><%= link_to t('.svod_most_viewed'), products_path(:package => Moovies.packages.invert[4], :view_mode => :most_viewed) %></li>
    <li class="list"><%= link_to t('.svod_last_chance'), products_path(:package => Moovies.packages.invert[4], :view_mode => :svod_last_chance) %></li>
    <li class="list"><%= link_to t('.svod_soon'), products_path(:package => Moovies.packages.invert[4], :view_mode => :svod_soon) %></li>
    <li class="list"><%= link_to t('.svod_categories'), categories_path(:package => Moovies.packages.invert[4]) %></li>
    <li class="list"><%= link_to t('.svod_all'), products_path(:package => Moovies.packages.invert[4]) %></li>
  </ul>
  <h3 class="ttl adult alacarte menu"><%= t '.adult_tvod' %></h3>
  <ul class="nav osc" style='display: <%= (@product && @product.package_id == 5) || params[:package] == Moovies.packages.invert[5] ? 'block' : 'none' %>'>
    <li class="list"><%= link_to t('.tvod_last_added'), products_path(:package => Moovies.packages.invert[5], :view_mode => :tvod_last_added) %></li>
    <li class="list"><%= link_to t('.tvod_most_viewed'), products_path(:package => Moovies.packages.invert[5], :view_mode => :most_viewed) %></li>
    <li class="list"><%= link_to t('.tvod_last_chance'), products_path(:package => Moovies.packages.invert[5], :view_mode => :tvod_last_chance) %></li>
    <li class="list"><%= link_to t('.tvod_soon'), products_path(:package => Moovies.packages.invert[5], :view_mode => :tvod_soon) %></li>
    <li class="list"><%= link_to t('.tvod_categories'), categories_path(:package => Moovies.packages.invert[5]) %></li>
    <li class="list"><%= link_to t('.tvod_all'), products_path(:package => Moovies.packages.invert[5]) %></li>
  </ul>
  
  <% end %>
  <%= render :partial => 'products/index/filters', :locals => {:countries => countries, :filter => filter} if (params[:action] == 'index' && params[:controller] != 'studios') %>
</div>
  <!--   ==============   END LEFT COLUMN   ==============   -->