<!--   ==============   LEFT COLUMN   ==============   -->
<div id="leftcolumn">
  <h3 class="ttl infinity menu"><%= t '.unlimited' %></h3>
  <ul class="nav osc" style='display: <%= params[:package] == Moovies.packages.invert[1] || params[:package].nil? ? 'block' : 'none' %>'>
    <li class="list"><a href="#" class="">Derniers ajouts</a></li><li class="list"><a href="#"  class="">	Plus regardés</a></li><li class="list"><a href="#"  class="">	Dernière chance
    </a></li><li class="list"><a href="#"  class="">Prochainement</a></li>
    <li class="list"><%= link_to t('.categories'), categories_path(:package => Moovies.packages.invert[1]) %></li>
    <li class="list"><%= link_to t('.all'), products_path(:package => Moovies.packages.invert[1]) %></li>
  </ul>
  <h3 class="ttl alacarte menu"><%= t '.tvod' %></h3>
  <ul class="nav osc" style='display: <%= params[:package] == Moovies.packages.invert[2] ? 'block' : 'none' %>'>
    <li class="list"><a href="#" class="">Derniers ajouts</a></li><li class="list"><a href="#"  class="">	Plus regardés</a></li><li class="list"><a href="#"  class="">	Dernière chance
    </a></li><li class="list"><a href="#"  class="">Prochainement</a></li><li class="list"><a href="#"  class="">Genre</a></li><li class="list"><a href="#"  class="">Tout le catalogue</a></li>
  </ul>
  <%= link_to t('.kids'), products_path(:package => Moovies.packages[:kids]), :class => "ttl kids" %>
  <%= link_to t('.adult'), products_path(:kind => :adult, :package => Moovies.packages[:adult_infinite]), :class => "ttl adult" %>
  <%= render :partial => 'products/index/filters', :locals => {:countries => countries, :filter => filter} if (params[:action] == 'index' && params[:controller] != 'studios') %>
</div>
  <!--   ==============   END LEFT COLUMN   ==============   -->