<h2><%= t('.log') %></h2> <br>
<%= link_to t('.login'), new_customer_session_path, :id => :login %><br /><br />
<h2><%= t('.sign_up') %></h2> 
<%= t('.sign_up_desc') %><br><br>
<%= link_to t('.sign_up_btn'), info_path(:page_name => t('routes.infos.params.abo')), :id => :button_new_account %>
