<% if current_customer %>
<div id = "vod_list_<%= product.to_param %>">
  <% if item = current_customer.vod_wishlists.find_by_imdb_id(product.imdb_id) %>
    <%= form_for(:vod_wishlist, :url => vod_wishlist_path(:id => item.to_param), :html => {:method => :delete}) do |f| %>
      <%= f.hidden_field :product_id, :value => product.to_param %>
      <%= f.hidden_field :submit_id, :value => "vod_list_#{product.to_param}" %>
      <%= hidden_field_tag :source, source %>
      <%= hidden_field_tag :response_id, response_id %>
      
      <%= submit_tag t('.drop'), :class => 'btn_remove_form streaming_remove_list', :id => "add", :style => 'border:0px;cursor:pointer' %>
    <% end %>
  <% else %>
    <%= form_for :vod_wishlist, :url => vod_wishlists_path() do |f| %>
      <%= f.hidden_field :imdb_id, :value => product.imdb_id %>
      <%= f.hidden_field :product_id, :value => product.to_param %>
      <%= f.hidden_field :submit_id, :value => "vod_list_#{product.to_param}" %>
      <%= hidden_field_tag :source, source %>
      <%= hidden_field_tag :response_id, response_id %>
      <% next_status = product.vod_next || (@force_reserve == true) ? true : false %>
      <% text = next_status ? t('.reserve') : t('.add')  %>
      
      
      <% class_name = next_status ? 'reserver_btn reserve' : 'streaming_soon_btn'  %>
      
      <%= submit_tag text, :class => "#{class_name} streaming_add_list", :id => "add", :style => 'border:0px;cursor:pointer' %>
    <% end %>
    <%= "#{t 'wishlist_items.new.available'} #{StreamingProduct.date_available(product.imdb_id, Product.country_short_name(session[:country_id]))}" if @force_reserve %>
    
  <% end %>
</div>
<% else %>
  <% text = text || :long %>
  <%= link_to streaming_btn_title(:add, text), product_step_path(:product_id => product, :media => 'vod'), :class => "streaming_btn streaming_soon_btn", :id => "add" %>
<% end %>
