<% if current_customer.tvod_only? %>
  <%= t('.no_package').html_safe %>
  <div class="alert alert-info">
    <strong><%= t('.no_package').html_safe %></strong>
  </div>
  <%= link_to t('create'), info_path(:page_name => t('routes.infos.params.alacarte'), :subscription_action => "subscription_change") %>
<% else %>
  <div class="alert alert-info">
    <strong><%= t('.wrong_package').html_safe %></strong>
  </div>
  <%= link_to t('change'), info_path(:page_name => t('routes.infos.params.alacarte'), :subscription_action => "subscription_change") %>
<% end %>
