<div class="categories">
  <h3><%= @product.categories.collect(&:name).join('|') if @product.categories %></h3>
</div>
<div class="director">
  <h3><%= t('.directed_by') %></h3>
  <%= @product.director.name if @product.director %>
</div>
<div class="actors">
   <h3><%= t '.actors' %></h3>
  <%= @product.actors.collect(&:name).join(',') if @product.actors.size > 0 %>
</div>
<div class="clear"></div>
<ul class="btns osc jacket">
  <li>
    <%= render :partial => 'products/streaming',  :locals => {:product => @product, :source => @source, :response_id => @response_id} %>
  </li>
  <li>
    <%= render :partial => 'products/vod_list',  :locals => {:product => @product, :source => @source, :response_id => @response_id} %>
  </li>
  <% if @product.trailer? %>
  <li>
    <%= link_to(t('.trailer'), product_trailer_path(:product_id => @product.to_param, :source => @source, :response_id => @response_id), :class => 'trailer', :target => :_blank) %>
  </li>
  <% end %>

</ul>