#<%= params[:div_id]%>|||<p class="tooltips_rating stars"><%= render :partial => 'products/rating', :locals => {:product => @product, :background => @rating_color, :size => :long, :source => @source, :response_id => @response_id} %></p>
<p class="tooltips_title currency">4,99€</p>
<p class="tooltips_title sub-title"><%= t('homepage.popup1').html_safe %> <u><%= link_to t('homepage.popup2').html_safe, info_path(:page_name => t('routes.infos.params.abo')) %></u></p>
<div class="play-button">
  <div class="play-img"></div>
  <label><%= link_to t('homepage.popup3').html_safe, info_path(:page_name => t('routes.infos.params.abo')), :id => 'abo', :class => params[:page_name] == 'abo' ? :active : :inactive %></label>
</div>




<div class="clear"></div>


<div class="button-area clear-float">

  <% if @product.trailer? %>
    <div class="button-popup">
      <%= link_to(t('.trailer'), product_trailer_path(:product_id => @product.to_param, :source => @source, :response_id => @response_id), :class => 'trailer', :target => :_blank) %>
    </div>
  <% end %>

  <% if !@product.series? %>
    <div class="button-popup button-gray">
      <%= render :partial => 'products/vod_list',  :locals => {:product => @product, :source => @source, :response_id => @response_id} %>
    </div>
  <% end %>

  <% if !@product.series? %>
    <div class="button-popup1">
      <%= render :partial => 'products/streaming',  :locals => {:product => @product, :source => @source, :popup => false} %>
    </div>
  <% end %>

</div>