#<%= params[:div_id]%>|||<div class="button-area clear-float">
  <div class="button-popup">
    <% if @product.trailer? %>
      <%= link_to(t('.trailer'), product_trailer_path(:product_id => @product.to_param, :source => @source, :response_id => @response_id), :class => 'trailer', :target => :_blank) %>
    <% end %>
  </div>
    <% if !@product.series? %>
      <% if customer_signed_in? %>
        <div class="button-popup button-gray">
          <%= render :partial => 'products/vod_list',  :locals => {:product => @product, :source => @source, :response_id => @response_id} %>
        </div>
      <% else %>
        <div class="button-popup button-gray-1">
          <%= link_to t('.products.vod_list.add'), new_customer_session_path( :moovie_id => @product.id ) %>
        </div>
      <% end %>
    <% end %>
</div>
<%= render :partial => 'products/streaming',  :locals => {:product => @product, :source => @source, :popup => false} %>




















<!--



<p class="tooltips_rating stars"><%= render :partial => 'products/rating', :locals => {:product => @product, :background => @rating_color, :size => :long, :source => @source, :response_id => @response_id} %></p>
<p class="tooltips_runtime"><%= t('products.show.product.duration') %> <%= @product.runtime %> <%= t('products.show.minutes') %></p>
<% if @product.director && !@product.adult? %>
<div class="director">
  <h3><%= t('products.show.product.directed_by') %></h3>
  <%= link_to @product.director.name, director_products_path(:director_id => @product.director.to_param) if @product.director %>
</div>
<% end %>
<% if @product.adult? && @product.studio %>
<div class="director">
  <h3><%= t 'products.show.product.studio' %></h3>
  <div><%= link_to @product.studio.name, studio_products_path(:studio_id => @product.studio.to_param) %></div>
</div>
<% end %>
<% if !@product.actors.empty?  %>
<div class="actors">
   <h3><%= t 'products.show.product.actors' %></h3>
   <%= @product.actors.collect{|actor| link_to actor.name, actor_products_path(:actor_id => actor.to_param)}.join(', ').html_safe %>
</div>
<% end %>
<div class="categories">
  <h3>
  <%= @product.categories.collect(&:name).join(' | ') if @product.categories %>
  </h3>
</div>
<div class="clear"></div>
<% if !@product.series? %>
<ul class="btns osc jacket">
  <li>
    <%= render :partial => 'products/streaming',  :locals => {:product => @product, :source => @source, :popup => false} %>
  </li>
  <li>
    <%= render :partial => 'products/vod_list',  :locals => {:product => @product, :source => @source, :response_id => @response_id} %>
  </li>
  <% end %>
  <% if @product.trailer? %>
  <li>
    <%= link_to(t('.trailer'), product_trailer_path(:product_id => @product.to_param, :source => @source, :response_id => @response_id), :class => 'trailer', :target => :_blank) %>
  </li>
  <% end %>

</ul>
