#<%= params[:div_id]%>|||<p class="tooltips_title head-title">Nous Trois ou Rien (2015)</p>
<p class="tooltips_rating stars">
  <img alt="Star-on" class="" height="19" id="star_134763_1" name="star-on.png" src="/assets/star-on-cb2bcda30c074690781015157514ea2a.png" width="19">
  <img alt="Star-on" class="" height="19" id="star_134763_2" name="star-on.png" src="/assets/star-on-cb2bcda30c074690781015157514ea2a.png" width="19">
  <img alt="Star-on" class="" height="19" id="star_134763_3" name="star-on.png" src="/assets/star-on-cb2bcda30c074690781015157514ea2a.png" width="19">
  <img alt="Star-on" class="" height="19" id="star_134763_4" name="star-on.png" src="/assets/star-on-cb2bcda30c074690781015157514ea2a.png" width="19">
  <img alt="Star-off" class="" height="19" id="star_134763_5" name="star-off.png" src="/assets/star-off-346c08ea1716045f68dc6f21b195ba6f.png" width="19">
</p>
<p class="tooltips_title currency">4,99€</p>
<p class="tooltips_title sub-title">ou 3,99€ via <u>abonnement</u></p>
<div class="play-button">
  <div class="play-img"></div>
  <label>Regarder</label>
</div>
<p class="tooltips_description">Le destin exceptionnel d'Hibat et Fereshteh Tabib, les parents de Kheiron,
                resistants iraniens face a la dictature du Shah puis a celle des islamistes.
                Des confins de l'Iran aux banlieues parisiennes, une autobiographie aux airs
                deconte universel qui evoque avec humour et emotion l'amour familial,
                le don de soi et surtout l'ideal d'un vivre ensemble pour lequel Hibat
                et Fereshteh ont mene un combat sans merci depuis plus de 40 ans.
</p>
<div class="tooltips_other" id="134763943">
  <div class="button-area clear-float">
    <div class="button-popup">
      <a href="/en/movies/134763-the-martian/trailer?source=64" class="button-trailer">Trailer</a>
    </div>
    <div class="button-popup button-gray">
      Ajouter a ma selection
    </div>
  </div>
</div>




















<!--


<p class="tooltips_rating stars"><%= render :partial => 'products/rating', :locals => {:product => @product, :background => @rating_color, :size => :long, :source => @source, :response_id => @response_id} %></p>
<p class="tooltips_runtime"><%= t('products.show.product.duration') %> <%= @product.runtime %> <%= t('products.show.minutes') %></p>
<% if @product.director && !@product.adult? %>
<div class="director">
  <h3><%= t('products.show.product.directed_by') %></h3>
  <%= link_to @product.director.name, director_products_path(:director_id => @product.director.to_param) if @product.director %>
</div>
<% end %>
<% if @product.adult? && @product.studio %>
<div class="director">
  <h3><%= t 'products.show.product.studio' %></h3>
  <div><%= link_to @product.studio.name, studio_products_path(:studio_id => @product.studio.to_param) %></div>
</div>
<% end %>
<% if !@product.actors.empty?  %>
<div class="actors">
   <h3><%= t 'products.show.product.actors' %></h3>
   <%= @product.actors.collect{|actor| link_to actor.name, actor_products_path(:actor_id => actor.to_param)}.join(', ').html_safe %>
</div>
<% end %>
<div class="categories">
  <h3>
  <%= @product.categories.collect(&:name).join(' | ') if @product.categories %>
  </h3>
</div>
<div class="clear"></div>
<% if !@product.series? %>
<ul class="btns osc jacket">
  <li>
    <%= render :partial => 'products/streaming',  :locals => {:product => @product, :source => @source, :popup => false} %>
  </li>
  <li>
    <%= render :partial => 'products/vod_list',  :locals => {:product => @product, :source => @source, :response_id => @response_id} %>
  </li>
  <% end %>
  <% if @product.trailer? %>
  <li>
    <%= link_to(t('.trailer'), product_trailer_path(:product_id => @product.to_param, :source => @source, :response_id => @response_id), :class => 'trailer', :target => :_blank) %>
  </li>
  <% end %>

</ul>
