<div class="osc fr" id="subscribe-wrap">
  <div class="wrap"><h3><%= t('.promo_title').html_safe %></h3>
    <div id="promo"><%= t('.promo') %></div>
  </div>
  <div id="subscribe">
    <a class="btn" href="http://www.dvdpost.be/step1.php?language=fr"><%= t('.abo') %></a>
    <p><%= t('.abo_text')%></p>
  </div>
</div>
<!--   ==============   MAIN CONTENT   ==============   -->
<div id="maincontent" >
  <h2 class="ttl">Tous les films</h2>
  <%= render :partial => 'products/index/image', :locals => {:people => @people} if @people %>
  <%= render :partial => 'layouts/filters', :locals => {:filter => @filter }%>
  <!--   ==============   MOVIES   ==============   -->
  <% kind = params[:kind] == :normal ? nil : params[:kind] %>
  <% if cookies[:endless] == 'deactive' %>
    <%= link_to t('.endless_active'), params.merge(:endless => 'active', :kind => kind), :class => "endless" %>
  <% else %>
    <%= link_to t('.endless_deactive'), params.merge(:endless => 'deactive', :kind => kind), :class => "endless" %>
  <% end %>
  <div id="products">
    <%= render :partial => 'products/index/sorting' %>
    <%= render :partial => 'products/index/movie_details', :collection => @products, :locals => {:target => @target} %>
  </div>
  <div id='pagination_content'>
      <%= render :partial => '/products/index/pagination' %>
  </div>
  <!--   ==============   END MOVIES   ==============   -->
</div>
<%= render :partial => 'products/left_column', :locals => {:filter => @filter, :countries => @countries} %>
<div id="toTop"><%= t('.back') %></div>
  <!--   ==============   END MAIN CONTENT   ==============   --> 
