<% if params[:kind] != :adult && @carousels.size > 0 %>
<div id="movies_banners<%= @carousels.size %>">
  <% @carousels.each do |carousel| %>
    <%= link_to image_tag(carousel.image, :alt => carousel.title(I18n.locale)), carousel_path(carousel) %>
  <% end %>
</div>
<% end %>
<!--   ==============   MAIN CONTENT   ==============   -->
<% if params[:package].nil? && params[:concerns] != :productable %>
<div id="all">
  <%= render :partial => 'products/index/hp' %>
</div>
<% else %>
<div id="all">  
  <%= render :partial => 'products/index/all' %>
</div>
<div id="toTop"><%= t('.back') %></div>
<% end %>
<!--   ==============   END MAIN CONTENT   ==============   --> 
