<div class="content">
  <div id="critical_title"><%= "#{@product.title} (#{@product.year})"%></div>
  <%= form_for @review, :url => product_reviews_path(:product_id => @review.products_id) do |f| %>
  <fieldset>
		<p class="critical_explain"> 
	    <%= f.label t('.review_note') %> : 
	  </p>
	  <%= render :partial => 'products/rating_review', :locals => {:product => @product} %>
	  <%= f.hidden_field :rating, :value => 0 %>
	  
		<p class="critical_explain">
		    <%= f.label t('.review_title') %> :
		</p>
		<%= f.text_area :text, :class => 'input',:cols => 60, :rows => 10 %>
	  <p class="critical_explain_footer">
	     <%= t('.review_warning').html_safe %>
	  </p>
	  <p align="right">
	    <%= f.submit t('.create'), :class => 'review_new', :id => :review_submit %>
	  </p>
  </fieldset>
  <br/>
<% end %>
<div style="display:none" id='popup_rating_error'><%= t('.rating_error')%></div>
<div style="display:none" id='review_locale'><%= I18n.locale %></div>
<div style="display:none" id='review_product_id'><%= @product.id %></div>

</div>
