<% review = @review %>
<% product = review.product %>
<% if product %>
  <% customer = review.customer %>
  <% if params[:kind] == :adult %>
    <% reviews_count = customer.reviews.approved.find(:all,:joins => :product, :conditions => { :products => {:products_status => [-2,0,1]}}).count %>
  <% else %>
    <% reviews_count = customer.reviews.approved.find(:all,:joins => :product, :conditions => { :products => {:products_type => DVDPost.product_kinds[params[:kind]], :products_status => [-2,0,1]}}).count %>
  <% end %>
  <% product_title = product.title %>
<div class="tab-content-show">
<div class="review_rate">
<div id="tab-content-2">
  <li class="show">
    <h2> <%= link_to product_title, product_path(:id => product.to_param) %></h2>
    <div class="content">
      <div class="critic"> 
        <%= link_to image_tag(get_avatar(customer), :alt => 'user-thumb', :title => 'user-thumb', :width => 52), customer_reviews_path(:customer_id => review.customers_id) %>
        <div class="name">
          <strong><%= link_to customer.nickname, customer_reviews_path(:customer_id => review.customers_id) %></strong> 
          (<%= reviews_count %> <%= review_title(reviews_count) %>) 
          <%= link_to t('home.reviews.all_critics'), customer_reviews_path(:customer_id => review.customers_id), :class => :all_critics %> 
        </div>
        <strong style='clear:both'><%= t '.rating' %> :</strong> 
        <span class="stars-wrap">
          <%= review_image_links(review.rating*2) %>
        </span> 
      </div>
      <p class="short_review">
        <strong><%= t '.critic' %> :</strong> 
        <%= review.text %>
      </p>
        <p class='full_review' style='display:none;'>
          <strong><%= t '.critic' %> :</strong> 
          <%= review.text %>
        </p>
      <div class="relevant">
        <%= render :partial => 'reviews/index/critics_new', :locals => {:review => review} %>
      </div>
      <div class="write">
        <%=  link_to t('.new_review'), new_product_review_path(:product_id => product.to_param), :class => :add_reviews %>
      </div>
    </div>
    <div class="thumb"> 
      <%= link_to product_image_tag(product.image, :width => 97, :height => 148, :alt => "#{product_title} (#{product.year})"), product_path(:id => product.to_param) %>
      <%= render :partial => 'products/wishlist', :locals => {:product => product, :text => :short, :source => @wishlist_source[:best_reviews]} %>
    </div>
  </li>
  <div class="clear"></div>
<% end %>
</div></div></div>