<div class="quality">
	<p>
	  <span class="choice_quality">
	    <%= t '.choose' %>
	  </span> 
	  
	</p>
	<table width="660" cellspacing="0" cellpadding="0" border="0">
	  <tr>
    	<td><span class="choice_quality"><%= t('.audio_title') %></span></td>
    	<td></td>
    	<td><span class="choice_quality"><%= t('.sub_title') %></span></td>
    </tr>
    <tbody>
    <%= render :partial => '/streaming_products/show/kind_alpha', :collection => streaming_prefered, :locals => { :token => token, :visibility => true } %>
    <% visible = params['more'] == '1' || streaming_prefered.count == 0 || streaming_not_prefered.nil? || streaming_not_prefered.count == 0 ? true : false %>
    <%= render :partial => '/streaming_products/show/kind_alpha', :collection => streaming_not_prefered, :locals => { :token => token, :visibility => visible } %>
    <tr style="<%= "display:none;" if visible == true %>">
      <td colspan="3" align="left" class="moreversion_vod"><img src="/images/plus.png" align="absmiddle" /> <a href="?more=1" id='more'><%= t('.more')%></a> </td>
    </tr>
    </tbody>
	</table>
	
	<p>
	  <span class="choice_quality_intro">
	    <%= t('.reminder') %>
	  </span>
	</p>
</div>