<% if sub = version.subtitles.by_language(I18n.locale).first %>
  <% sub_title = sub.name %>
<% else %>
  <% sub_title = t('streaming_products.show.kind.without_subtitle').downcase %>
<% end %>
<% audio_title = version.language.by_language(I18n.locale).first.name %>

<tr>
	<td width="465">
	  <p class="select_version">
	     <%= t 'streaming_products.show.kinds_alpha.audio_title' %> 
	    <%= image_tag 'sound_icon.gif', :align => :absmiddle, :alt => "icon sons" %>: 
	    <strong><%= audio_title %></strong> |
	    <%= t 'streaming_products.show.kinds_alpha.sub_title' %>
	    <%= image_tag 'subtitles_icon.gif', :align => :absmiddle, :alt => "icon sous-titres" %>: 
	    <strong><%= sub_title.capitalize %></strong>
	  </p>
	</td>
	<td width="211">
	  <p>
	    <%= link_to "<strong>#{t('.launch')}</strong>".html_safe, streaming_product_path({:id => version.imdb_id, :streaming_product_id => version.to_param, :streaming_code => params[:streaming_code], :source => source, :email => params[:email], :response_id => response_id, :format => :js}), :class => 'btn_play  qualityvod' %>
	  </p>
	</td>
</tr>