<% if params[:filters].blank? %>
    <% params[:filters] = {} %>
<% end %>

<div class="block100 marb15 thinrgray-bck radius2 padlr10 applied-filter-panel">

  <div class="block100">
    <h4 class="dark-blue bold"><%= t 'layouts.filters.active' %></h4>

    <%= link_to products_short_path(), :class => "btn reset-applied-filters f11 mart10 dark-blue uppercase" do %>
        <i class="fa fa-times marr5 f12"></i>Reset all
    <% end %>
  </div>
  <% if params[:package] %>
      <div class="applied-filter-tag" data-input-element="<%= t("products.left_column.#{params[:package]}") %>">
        <a class="filter-close">
          <span class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.type' %></p>
        <span class="applied-filter-node f10"><%= t("products.left_column.#{params[:package]}") %></span>
      </div>
  <% end %>

  <% if params[:belgium].present? %>
      <div class="applied-filter-tag" data-input-element="<%= t("products.left_column.belgium_#{params[:belgium]}") %>">
        <a class="filter-close">
          <span id="close_belgium" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.belgium' %></p>
        <span class="applied-filter-node f10"><%= t("products.left_column.belgium_#{params[:belgium]}") %></span>
      </div>
  <% end %>

  <% if !params[:view_mode].nil? %>
      <div class="applied-filter-tag" data-input-element="<%= t("products.left_column.#{params[:view_mode]}") %>">
        <a class="filter-close">
          <span id="close_view_mode" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.view_mode' %></p>
        <span class="applied-filter-node f10"><%= t("products.left_column.#{params[:view_mode]}") %></span>
      </div>
  <% end %>

  <% if Product.audience?(params[:filters][:audience_min], params[:filters][:audience_max]) && params[:kind] == :normal %>
      <div class="applied-filter-tag" data-input-element="<%= "#{t('.from')} #{params[:filters][:audience_min]} #{t('.to')} #{params[:filters][:audience_max]}".html_safe %>">
        <a class="filter-close">
          <span id="close_audience" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.public' %></p>
        <span class="applied-filter-node f10"><%= "#{t('.from')} #{params[:filters][:audience_min]} #{t('.to')} #{params[:filters][:audience_max]}".html_safe %></span>
      </div>
  <% end %>

  <% if Product.countries?(params[:filters][:country_id]) %>
      <div class="applied-filter-tag" data-input-element="<%= selected_countries.collect(&:name).join(', ') %>">
        <a class="filter-close">
          <span id="close_country" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.country' %></p>
        <span class="applied-filter-node f10"><%= selected_countries.collect(&:name).join(', ') %></span>
      </div>
  <% end %>

  <% if params[:date] && Product.year?(params[:date][:filters][:year_min], params[:date][:filters][:year_max]) %>
      <div class="applied-filter-tag" data-input-element="<%= "#{t('.from')}  #{params[:date][:filters][:year_min]} #{t('.to')}  #{params[:date][:filters][:year_max]}".html_safe %>">
        <a class="filter-close">
          <span id="close_year" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.year' %> </p>
        <span class="applied-filter-node f10"><%= "#{t('.from')}  #{params[:date][:filters][:year_min]} #{t('.to')}  #{params[:date][:filters][:year_max]}".html_safe %></span>
      </div>
  <% end %>

  <% if Product.rating?(params[:filters][:rating_min], params[:filters][:rating_max]) %>
      <div class="applied-filter-tag" data-input-element="<%= "#{t('.from')} #{params[:filters][:rating_min]} #{t('.to')} #{params[:filters][:rating_max]}".html_safe %>">
        <a class="filter-close">
          <span id="close_ratings" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.ratings' %></p>
        <span class="applied-filter-node f10"><%= "#{t('.from')} #{params[:filters][:rating_min]} #{t('.to')} #{params[:filters][:rating_max]}".html_safe %></span>
      </div>
  <% end %>

  <% if languages %>
      <div class="applied-filter-tag" data-input-element="<%= t 'products.index.audio' %>">
        <a class="filter-close">
          <span id="close_audios" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.audio' %></p>
        <span class="applied-filter-node f10"><%= languages %></span>
      </div>
  <% end %>

  <% if subtitles %>
      <div class="applied-filter-tag" data-input-element="<%= t 'products.index.subtitles' %>">
        <a class="filter-close">
          <span id="close_subtitles" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.subtitles' %></p>
        <span class="applied-filter-node f10"><%= subtitles %></span>
      </div>
  <% end %>

  <% if !params[:filters][:category_id].nil? && !params[:filters][:category_id].empty? %>
      <div class="applied-filter-tag" data-input-element="<%= Category.find(params[:filters][:category_id]).name %>">
        <a class="filter-close">
          <span id="close_category" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.category' %></p>
        <span class="applied-filter-node f10"><%= Category.find(params[:filters][:category_id]).name %></span>
      </div>
  <% end %>

  <% if params[:actor_id] %>
      <div class="applied-filter-tag" data-input-element="<%= t 'products.index.actor' %>">
        <a class="filter-close">
          <span id="close_actor" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.actor' %></p>
        <span class="applied-filter-node f10"><%= t 'products.index.actor' %></span>
      </div>
  <% end %>

  <% if params[:director_id] %>
      <div class="applied-filter-tag" data-input-element="<%= t 'products.index.director' %>">
        <a class="filter-close">
          <span id="close_director" class="ui-icon ui-icon-close"></span>
        </a>
        <p class="applied-filter-label uppercase bold"><%= t 'products.index.director' %></p>
        <span class="applied-filter-node f10"><%= @people.name %></span>
      </div>
  <% end %>

</div>
