<div id="top" class="<%= "promo" if !current_customer && cookies['url_promo'] %>">
  <div class="wrap">
    <% if current_customer %>
      <%= link_to t('.compte'), customer_path(:id => current_customer) %>
      <%= "#{link_to t('.logout'), destroy_customer_session_path, :id => :logout, :method => :delete} <span>(#{current_customer.email})</span>".html_safe %>
    <% else %>
    &nbsp;
    <% end %>
  </div>
</div>
<ul id="lang">
  <li><%= link_to t('.conditions'), info_path(:page_name => :conditions) unless current_customer %></li>
  <li><%= switch_locale_link(params) %></li>
  <li class="wrap">
    <% if !current_customer %>
      <%= link_to t('.login'), new_customer_session_path, :id => :login %>
    <% end %>
  </li>
</ul>
<div id="wrap"> 
  <% if flash[:notice] %>
	<div class='flash_message'>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
	</div>
  <% end %>
  <% if flash[:error] %>
	<div class='flash_message'>
    <div class="flash_error">
      <%= flash[:error] %>
    </div>
	</div>
  <% end %>
  
  <!--   ==============   HEADER   ==============   -->
  <div id="header" >
    <h1>
      <%= link_to t('.tagline'), params[:kind] == :adult ? products_path(:kind => :adult, :package => Moovies.packages.invert[5]) : root_localize_path, :class => 'f-btn' %>
    </h1>
    <%= render :partial => 'layouts/menu' %>
  </div>
  <!--   ==============   END HEADER   ==============   --> 
