<div class="container top-header hidden-sm hidden-xs">
  <div class="block100 padtb10">
    <ul class="lng-holder col-md-4">
      <% cache("conditions_#{I18n.locale}", :expires_in => 15.minutes) do %>
      <li><%= link_to t('.conditions'), info_path(:page_name => t('routes.infos.params.privacy')) unless current_customer %></li>
      <% end %>
      <%= switch_locale_link(params) %>
    </ul>
    <% if customer_signed_in? %>
        <ul class="login-holder col-md-8 f12">
          <li><%= "#{link_to t('.logout'), destroy_customer_session_path, :id => :logout, :method => :delete} <span>(#{current_customer.email})</span>".html_safe %></li>
          <li><%= link_to t('.compte'), customer_path(:id => current_customer) %></li>
        </ul>
    <% else %>
        <% cache("login-holder_#{I18n.locale}", :expires_in => 15.minutes) do %>
        <ul class="login-holder col-md-8 f12">
          <li>
            <%= link_to('/auth/google_oauth2/', :class => 'loginBtn loginBtn--google', :id => :login_fb, :class => "uppercase red-google-bck") do %>
                <i class="fa fa-google-plus white"></i><%= t('.social.network.google') %>
            <% end %>
          </li>
          <li class="marr10">
            <%= link_to('/auth/facebook/', :class => 'loginBtn loginBtn--facebook', :id => :login_fb, :class => "uppercase blue-facebook-bck") do %>
                <i class="fa fa-facebook white"></i><%= t('.social.network.fbconnect') %>
            <% end %>
          </li>
          <li class="marr10">
            <%= link_to(new_customer_session_path, :id => :login, :class => "uppercase #{params[:kind] == :adult ? "violet-bck" : "green-bck"}") do %>
                <i class="fa fa-lock black"></i><%= t('.login') %>
            <% end %>
          </li>
        </ul>
        <% end %>
    <% end %>
  </div>
</div>
<%= render partial: "layouts/green_banner" %>
<%= render :partial => 'layouts/menu' %>
