<% unless @hide_menu %>
    <nav id="mainNav" class="navbar navbar-default dark-gray-bck">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle">
          <i class="fa fa-bars f25 normal"></i>
        </button>
        <%= link_to(image_tag("template/plush-logo.png", :alt => "Plush"), root_localize_path, :class => "navbar-brand") %>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav OpenSansCondensed">
          <li>
            <%= link_to t('.catalogue'), products_short_path(), :id => 'catalogue_menu', :class => params[:controller] == 'products' ? "active-nav-tab" : :inactive %>
          </li>
          <li>
            <% if customer_signed_in? %>
                <%= link_to t('.abo'), info_path(:page_name => t('routes.infos.params.alacarte'), :subscription_action => "subscription_change"), :id => 'alacarte', :class => params[:page_name] == 'alacarte' ? "active-nav-tab" : :inactive %>
            <% else %>
                <%= link_to t('.abo'), info_path(:page_name => t('routes.infos.params.alacarte')), :id => 'alacarte', :class => params[:page_name] == 'alacarte' ? "active-nav-tab" : :inactive %>
            <% end %>
          </li>
          <li>
            <%= link_to t('.multi'), info_path(:page_name => t('routes.infos.params.vod')), :id => :multi, :class => params[:page_name] == 'vod' ? "active-nav-tab" : :inactive %>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle notifications-drop"> Mon
              Compte<i class="fa fa-caret-down f11 marl5"></i> </a>
            <ul class="dropdown-menu padb5">
              <li><a href="index.html#">Ma Sélection</a></li>
              <li><a href="index.html#">Mes informations</a></li>
            </ul>
          </li>
          <li>
            <a href="index.html" class="violet">18+</a>
          </li>
          <li>
            <a href="index.html">Contact</a>
          </li>
        </ul>
      </div>
      <div class="top-search-holder pad5">
        <input type="text" placeholder="Rechercher"> <input type="submit" name="submit-search" value="search">
      </div>
    </nav>
<% end %>