<% unless @hide_menu %>
  <ul id="nav" class="osc">
  	<li>
  	  <%= link_to t('.catalogue'), params[:kind] == :adult ? products_path(:package => Moovies.packages.invert[4]) : products_path(:package => Moovies.packages.invert[1]), :id => 'catalogue_menu', :class => params[:controller] == 'products' ? :active : :inactive %>
  		<ul id="catalogue" class="dropdown" style="display:none">
  			<li><%= link_to t('.infinite'), products_path(:package => Moovies.packages.invert[1], :kind => nil), :class => params[:package] == Moovies.packages.invert[1] ? :active : :inactive %></li>
  			<li><%= link_to t('.tvod'), products_path(:package => Moovies.packages.invert[2], :kind => nil), :class => params[:package] == Moovies.packages.invert[2] ? :active : :inactive %></li>
  			<% if @kid_visible %>
  			<li><%= link_to t('.kid'), products_path(:package => Moovies.packages.invert[3], :kind => nil), :class => params[:package] == Moovies.packages.invert[3] ? :active : :inactive %></li>
  			<% end %>
  			<% if params[:kind] == :adult %>
  			<li><%= link_to t('.adult_infinite'), products_path(:package => Moovies.packages.invert[4]), :class => params[:package] == Moovies.packages.invert[4] ? :active : :inactive %></li>
  			<li><%= link_to t('.adult_tvod'), products_path(:package => Moovies.packages.invert[5]), :class => params[:package] == Moovies.packages.invert[5] ? :active : :inactive %></li>
  			<% end %>
  		</ul>
  	</li>
  	<li><%= link_to t('.abo'), info_path(:page_name => :abo), :id => 'abo' %></li>
  	<li id='menu_account_li'><%= link_to t('.my_account'), current_customer ? customer_path(:id => current_customer) : customers_path, :id => 'account_menu', :class => params[:controller] == 'customers' || params[:controller] == 'watchlists' ? :active : :inactive %>
  		<ul id="account" class="dropdown" style="display:none">
  		<li><%= link_to t('.watchlist', :default => 'Ma playlist'), vod_wishlists_path, :class => params[:controller] == 'watchlists' ? :active : :inactive %></li>
  		<li><%= link_to t('.infos'), current_customer ? customer_path(:id => current_customer) : customers_path, :class => params[:controller] == 'customers' ? :active : :inactive %></li>
  		</ul>
  	</li>
  	<% if params[:kind] == :adult %>
  	  <li><%= link_to t('.classic'), root_localize_path(:kind => nil), :id => :home %></li>
  	<% else %>
  	  <% if cookies[:adult_hide] != "1" %>
  	    <li><%= link_to t('.+18'), products_path(:package => Moovies.packages.invert[4], :kind => :adult), :id => :adult %></li>
  	  <% end %>
  	<% end %>
  	<li><%= link_to t('.contact'), current_customer ? messages_path : new_phone_request_path, :id => :message %></li>
  </ul>
  <%= form_for :search, {:url => search_path(), :html => {:id => 'search', :method => :get}} do |f| %>
    <div align='center' class='search'>
      <div style='display:none' id='search_init'><%= t 'layouts.menu.search' %></div>
      <%= text_field_tag :search, (params[:search] || t('.search')), {:id => 'search-field', :class => "search-field"} %>
      <%= submit_tag 'search', :id => 'search-btn' %>
    </div>
  <% end %>
<% end %>