<!--<#% unless @hide_menu %>-->
<nav id="mainNav" class="navbar navbar-default dark-gray-bck">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <i class="fa fa-bars f25 normal"></i>
    </button>
    <%= params[:kind] == :adult ? link_to(image_tag("template/plush-logo-adult.png", :alt => "Plush"), root_localize_path, :class => "navbar-brand") : link_to(image_tag("template/plush-logo.png", :alt => "Plush"), root_localize_path, :class => "navbar-brand") %>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav OpenSansCondensed">
      <li>
        <%= link_to t('.catalogue'), products_short_path(), :id => 'catalogue_menu', :class => params[:controller] == 'products' ? "active-nav-tab" : :inactive %>
      </li>
      <li>
        <% if customer_signed_in? %>
            <% unless current_customer.customers_abo_payment_method == 7 %>
                <%= link_to t('.abo'), info_path(:page_name => t('routes.infos.params.alacarte'), :subscription_action => "subscription_change"), :id => 'alacarte', :class => params[:page_name] == 'alacarte' ? "active-nav-tab" : :inactive %>
            <% end %>
        <% else %>


            <% if params[:kind] == :adult %>

                <%= link_to t('.abo'), info_path(:page_name => t('routes.infos.params.adult')), :id => 'adult', :class => params[:page_name] == 'adult' ? "active-nav-tab" : :inactive %>

            <% else %>

                <%= link_to t('.abo'), info_path(:page_name => t('routes.infos.params.alacarte')), :id => 'alacarte', :class => params[:page_name] == 'alacarte' ? "active-nav-tab" : :inactive %>

            <% end %>


        <% end %>
      </li>
      <li><%= link_to t('.watchlist', :default => 'Ma playlist'), vod_wishlists_path, :class => params[:controller] == 'watchlists' ? :active : :inactive %></li>

      <% if customer_signed_in? && current_customer.customers_abo_payment_method == 7 %>
          <li>
            <a href="http://plush.wister.biz/mainstream/?service=PLS01&opco=OFF&Rubrique=res"><%= t('.my_account') %></a>
          </li>
      <% else %>
          <li><%= link_to t('.my_account'), current_customer ? customer_path(:id => current_customer) : customers_path, :class => params[:controller] == 'customers' ? :active : :inactive %></li>
      <% end %>

      <% if params[:kind] == :adult %>
          <li><%= link_to t('.classic'), root_localize_path(:kind => nil), :id => :home, :class => "green" %></li>
      <% else %>
          <% if cookies[:adult_hide] != "1" %>
              <li><%= link_to t('.+18'), root_localize_path(:kind => :adult), :id => :adult, :class => "violet" %></li>
          <% end %>
      <% end %>
      <li>
        <%= link_to t('.contact'), current_customer ? messages_path : new_phone_request_path, :id => :message %>
      </li>
    </ul>
  </div>
  <div class="top-search-holder pad5">
    <%= form_for :search, {:url => search_path(), :html => {:id => 'search', :method => :get}} do |f| %>
        <%= text_field_tag :search, (params[:search] || t('.search')), {:id => 'search-field', :class => "search-field"} %>
        <%= submit_tag 'search', :id => 'search-btn' %>
    <% end %>
  </div>

</nav>
<!--<#% end %>-->
