<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="index, follow">
  <meta http-equiv="content-language" content="<%= I18n.locale %>"/>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="description" content="<%= @meta_description.blank? ? '' : @meta_description %>"/>
  <title><%= h @meta_title.blank? ? t('.title') : @meta_title %></title>
  <%= include_gon(namespace: 'Plush') %>
  <%= Gon::Base.render_data %>
  <% Gon.global.current_customer = current_customer if !customer_signed_in? %>
  <link href="http://staging.plush.be/assets/fonts/OpenSansCondensed/OpenSans-CondLight.ttf">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :view_specific_css %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="icon" type="image/png" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("template/favicon114x114.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("template/favicon72x72.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("template/favicon57x57.png") %>">
  <script src="https://content.jwplatform.com/libraries/D6L08XhR.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :run_specific_javascript %>
</head>
<body id="<%= @body_id %>" class="<%= params[:kind] %> <%= current_customer ? :private : :public %> <%= I18n.locale %> <%= @body_class %>">
<div class="canavas" id="">
  <% if params[:controller] == "products" %>
      <%= render "layouts/application/filters_open_adaptive" %>
  <% end %>
  <%= render "layouts/application/side_menu_box_shadov" %>
  <div class="wrap">
    <%= render "layouts/header" %>
    <div id="content" class="<%= configure_content_div_html_class(params) %>">
      <% unless customer_signed_in? %>
          <% if params[:controller] == "products" %>
              <%= react_component("Promoimage", {image: "http://staging.plush.be/assets/template/promo-image.jpg"}) %>
          <% end %>
      <% end %>
      <%= yield %>
    </div>
    <% cache("layouts_footer_#{I18n.locale}", :expires_in => 15.minutes) do %>
        <%= render "layouts/footer" %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag *webpack_asset_paths("application") %>
</body>
</html>
