<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Plush" %></title>
    <%= csrf_meta_tags %>
    <%= include_gon(namespace: 'Plush') %>
    <%= Gon::Base.render_data %>
    <% Gon.global.current_customer = current_customer if !customer_signed_in? %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="http://pftcdn.codepop.biz/assets/bootstrap/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://pftcdn.codepop.biz/assets/css/form-elements.css">
    <link rel="stylesheet" href="http://pftcdn.codepop.biz/assets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="http://pftcdn.codepop.biz/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://pftcdn.codepop.biz/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://pftcdn.codepop.biz/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://pftcdn.codepop.biz/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://pftcdn.codepop.biz/assets/ico/apple-touch-icon-57-precomposed.png">
  </head>
  <body>
    <%= yield %>
    <!-- Javascript -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/jquery.validate.js"></script>

    <!--[if lt IE 10]>
        <script src="http://pftcdn.codepop.biz/assets/js/placeholder.js"></script>
    <![endif]-->
    <script>

    if (window.location.pathname === "/" + gon.locale + "/freetrial_action") {

      $(document).ready(function() {

        $(this).closest('form').find("input[type=text]").val("");

        validateFreeTrialLogin();

        validateFreeTrialRegister();

      });

    }

    function validateFreeTrialLogin() {

      $("#FreeTrialLogin").validate({
        rules: {
          "FreeTrialLoginEmailAddress": {
            required: true,
            email: true,
            remote: "/api/v1/ft/l_v"
          },
          "FreeTrialLoginPassword": {
            required: true,
            remote: {
              url:"/api/v1/ft/l_p_v",
              data: {
                "FreeTrialLoginEmailAddress": function(){
                  return $.trim($("#FreeTrialLoginEmailAddress").val())
                }
              },
              async: false
            }
          }
        },
        messages: {
          "FreeTrialLoginEmailAddress": {
            required: required_message(),
            email: email_message(),
            remote: remote_message()
          },
          "FreeTrialLoginPassword": {
            required: login_password(),
            remote: incorect_password()
          }
        },
        highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
        if(element.parent('.input-group').length) {
          error.insertAfter(element.parent());
        } else {
          error.insertAfter(element);
        }
        },
        submitHandler: function (form) {
          $.ajax({
            method: 'POST',
            url: '/api/v1/ft/login',
            data: {
              'email': $.trim($("#FreeTrialLoginEmailAddress").val()),
              'password': $.trim($("#FreeTrialLoginPassword").val()),
              'code': gon.code
            },
            dataType: 'json',
            success: function (response) {
              if (0 === response.status) {
                $("#FreeTrialLoginError").show();
                $("#FreeTrialLoginError").text("");
                $("#FreeTrialLoginError").append(response.message);
              } else if (1 === response.status) {
                window.location.href = response.message
              }
            },
            error: function (response) {
              console.log('CHECKED AJAX ERROR!!!');
            }
          });

        }
      });

    }

    function validateFreeTrialRegister() {

      if ($("#customer_newsletter").is(':checked')) {
        customers_newsletter = 1
        $("#customer_newsletter").click(function() {
          if ($(this).is(':checked')) {
            customers_newsletter = 1
          } else {
            customers_newsletter = 0
          }
        });
      }

      if ($("#customer_newsletter_parnter").is(':checked')) {
        customers_newsletterpartner = 1
        $("#customer_newsletter_parnter").click(function() {
          if ($(this).is(':checked')) {
            customers_newsletterpartner = 1
          } else {
            customers_newsletterpartner = 0
          }
        });
      }

      $("#FreeTrialRegister").validate({
        rules: {
          "FreeTrialRegisterEmailAddress": {
            required: true,
            email: true,
            remote: "/api/v1/ft/r_v"
          },
          "FreeTrialRegisterPassword": {
            required: true,
            minlength: 8
          },
          "FreeTrialRegisterPasswordConfirmation": {
            required: true,
            minlength: 8,
            equalTo: "#FreeTrialRegisterPassword"
          }
        },
        messages: {
          "FreeTrialRegisterEmailAddress": {
            required: required_message(),
            email: email_message(),
            remote: remote_message_register()
          },
          "FreeTrialRegisterPassword": {
            required: required_message_password(),
            minlength: min_characters()
          },
          "FreeTrialRegisterPasswordConfirmation": {
            required: required_message_password_confirmation(),
            minlength: min_characters(),
            equalTo: equalToMessage()
          }
        },
        highlight: function(element) {
          $(element).closest('.form-group').addClass('has-error');
        },
        unhighlight: function(element) {
          $(element).closest('.form-group').removeClass('has-error');
        },
        errorElement: 'span',
        errorClass: 'help-block',
        errorPlacement: function(error, element) {
        if(element.parent('.input-group').length) {
          error.insertAfter(element.parent());
        } else {
          error.insertAfter(element);
        }
        },
        submitHandler: function (form) {
          $.ajax({
            method: 'POST',
            url: '/api/v1/ft/register',
            data: {
              'email': $.trim($("#FreeTrialRegisterEmailAddress").val()),
              'password': $.trim($("#FreeTrialRegisterPassword").val()),
              'password_confirmation': $.trim($("#FreeTrialRegisterPasswordConfirmation").val()),
              'code': gon.code,
              'customers_newsletter': customers_newsletter,
              'customers_newsletterpartner': customers_newsletterpartner
            },
            dataType: 'json',
            success: function (response) {
              if (1 === response.status) {
                window.location.href = response.message
              }
            },
            error: function (response) {
              console.log('CHECKED AJAX ERROR!!!');
            }
          });

        }
      });

    }

    function min_characters() {
      if (gon.locale == "fr") {
        return "S'il vous plaît entrer au moins 8 caractères."
      } else if (gon.locale == "nl") {
        return "Voer ten minste 8 tekens."
      } else if (gon.locale == "en") {
        return "Please enter at least 8 characters."
      }
    }

    function equalToMessage() {
      if (gon.locale == "fr") {
        return "Entrez à nouveau la même valeur s'il vous plait."
      } else if (gon.locale == "nl") {
        return "Vul dezelfde waarde opnieuw."
      } else if (gon.locale == "en") {
        return "Please enter the same value again."
      }
    }

    function required_message() {
      if (gon.locale == "fr") {
        return "Adresse e-mail est nécessaire."
      } else if (gon.locale == "nl") {
        return "E-mailadres is verplicht."
      } else if (gon.locale == "en") {
        return "Email address is required."
      }
    }

    function required_message_password() {
      if (gon.locale == "fr") {
        return "Mot de passe requis."
      } else if (gon.locale == "nl") {
        return "Een wachtwoord is verplicht."
      } else if (gon.locale == "en") {
        return "Password is required."
      }
    }

    function required_message_password_confirmation() {
      if (gon.locale == "fr") {
        return "Confirmation mot de passe est nécessaire."
      } else if (gon.locale == "nl") {
        return "Wachtwoord bevestiging nodig is."
      } else if (gon.locale == "en") {
        return "Password confirmation is required."
      }
    }

    function email_message() {
      if (gon.locale == "fr") {
        return "Format votre adresse email doit être correcte."
      } else if (gon.locale == "nl") {
        return "Formatteren uw e-mail adres moet correct zijn."
      } else if (gon.locale == "en") {
        return "Format your email address must be correct."
      }
    }

    function remote_message() {
      if (gon.locale == "fr") {
        return "Adresse e-mail ne se trouve pas dans le système."
      } else if (gon.locale == "nl") {
        return "E-mail adres is niet gevonden in het systeem."
      } else if (gon.locale == "en") {
        return "Email address is not found in the system."
      }
    }

    function remote_message_register() {
      if (gon.locale == "fr") {
        return "Adresse e-mail existe dans le système."
      } else if (gon.locale == "nl") {
        return "E-mailadres bestaat in het systeem."
      } else if (gon.locale == "en") {
        return "Email address exists in the system."
      }
    }

    function login_password() {
      if (gon.locale == "fr") {
        return "Champ Mot de passe est nécessaire."
      } else if (gon.locale == "nl") {
        return "Password veld is verplicht."
      } else if (gon.locale == "en") {
        return "Password field is required."
      }
    }

    function incorect_password() {
      if (gon.locale == "fr") {
        return "Votre mot de passe est incorrect."
      } else if (gon.locale == "nl") {
        return "Jouw wachtwoord is incorrect."
      } else if (gon.locale == "en") {
        return "Your password is incorrect."
      }
    }


    </script>
  </body>
</html>
