<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="index, follow">
  <meta http-equiv="content-language" content="<%= I18n.locale %>"/>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="description" content="<%= @meta_description.blank? ? '' : @meta_description %>"/>
  <title><%= h @meta_title.blank? ? t('.title') : @meta_title %></title>
  <%= include_gon(namespace: 'Plush') %>
  <%= Gon::Base.render_data %>
  <% Gon.global.current_customer = current_customer if !customer_signed_in? %>
  <!--<#%= csrf_meta_tags %>-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :view_specific_css %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="icon" type="image/png" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("template/favicon114x114.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("template/favicon72x72.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("template/favicon57x57.png") %>">
  <script src="https://content.jwplatform.com/libraries/D6L08XhR.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :run_specific_javascript %>
</head>
<body id="<%= @body_id %>" class="<%= params[:kind] %> <%= current_customer ? :private : :public %> <%= I18n.locale %> <%= @body_class %>">
<div class="canavas" id="">
  <% if params[:controller] == "products" %>
      <%= render "layouts/application/filters_open_adaptive" %>
  <% end %>
  <%= render "layouts/application/side_menu_box_shadov" %>
  <div class="wrap">
    <%= render "layouts/header" %>
    <div id="content" class="<%= configure_content_div_html_class(params) %>">
      <% unless customer_signed_in? %>
          <% if params[:controller] == "products" %>
              <div class="container white-bck">
                <div href="#" class="promo-image rwd-bck display-block" style="background-image: url('http://staging.plush.be/assets/template/promo-image.jpg')">
                  <div class="promo-image-overlay">
                    <div class="promo-image-overlay-inner white bold">
                      <span>Vivez avec nous les plus grands moments du cinéma</span>
                      <button>Découvrez nos formules</button>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
      <%= yield %>
    </div>
    <% cache("layouts_footer_#{I18n.locale}", :expires_in => 15.minutes) do %>
        <%= render "layouts/footer" %>
    <% end %>
  </div>
</div>
<script>
jQuery.fn.extend({
    toggleText: function (a, b) {
        var isClicked = false;
        var that = this;
        this.click(function () {
            if (isClicked) {
                that.html(a);
                isClicked = false;
            }
            else {
                that.html(b);
                isClicked = true;
            }
        });
        return this;
    }
});



$(document).ready(function () {
    "use strict"; // Start of use strict


    function autoScroll() {

$(window).scroll(function () {
   if ($(window).scrollTop() + $(window).height() >= $(document).height()) {
     return $.ajax({
         url: $('.next_page:last').attr('href'),
         dataType: 'script'
     });
   }
});

}

    function mainSidemenuState(state) {
        switch (state) {
            case 'on':
                $(".canavas").addClass('on');
                $("#overlay").addClass('on');
                break;
            case 'off':
                $(".canavas").removeClass('on');
                $("#overlay").removeClass('on');
                break;
        }
    }

    function filtersPanelState(state) {
        $('.content-left #filters-open-adaptive .fa').toggleClass("fa-arrow-up fa-arrow-down");
        switch (state) {
            case 'on':
                $('#filters-open-adaptive').addClass('on');
                $('.content-left').addClass('on');
                $("#overlay").addClass('on');
                break;
            case 'off':
                $('#filters-open-adaptive').removeClass('on');
                $('.content-left').removeClass('on');
                $("#overlay").removeClass('on');
                break;
        }
    }

    // preload canavas content
    $('.canavas').waitForImages(function () {
        $('.canavas').fadeIn('1000');
    })

    // toggle sidemenu (main menu)
    $(".side-menu-close").on('click', function () {
        mainSidemenuState('off');
    });

    $(".navbar-toggle").on('click', function () {
        mainSidemenuState('on');
    });

    //on resize window event
    $(window).resize(function () {
        //checkMq();
        //mainSidemenuState('off');
        //filtersPanelState('off');
    });

    // bootsrap affix navbar offset
    $('.navbar-default').affix({
        offset: {
            top: 80
        }
    })
    // bootsrap affix on top offset
    $('#on-top').affix({
        offset: {
            top: 380
        }
    })

    // scroll top -> on top
    $('#on-top').on('click', function (event) {
        $(this).removeClass('affix');
        $('html, body').animate({scrollTop: 0}, '500');
    });

    // clone main to side menu
    $(".top-header > div").clone().appendTo(".side-menu-login");
    $(".navbar-collapse").clone().appendTo(".side-menu-nav");
    $(".top-search-holder").clone().appendTo(".side-menu-search");


    // promo code top panel
    $('#user-status-switch').on('click', function () {
        $('.panel-enter-code, .top-green-status').toggleClass('on');
        return false;
    }).toggleText('<i class="fa fa-copy marr5"></i><a href="#" id="promo-code-open" class="no-decoration">(voir tout)</a>', '<i class="fa fa-minus marr5"></i><a href="#" id="promo-code-open" class="no-decoration"> (minimiser)</a>');

    //promo code left/filter panel
    $('#left-promo-code-trigger').on('click', function (e) {
        $('.left-promo-code').toggleClass("on");
        $('#left-promo-code-trigger .fa-caret-down').toggleClass("white");
        e.preventDefault();
    });

    // filters content left states
    $('#filters-open-adaptive').on('click', function () {
        $(this).toggleClass("green");
        if ($('.content-left').is(".on")) {
            filtersPanelState('off');
        } else {
            filtersPanelState('on');
            $(".canavas").removeClass('on');
        }
    });

    // ajax settings
    var ajaxTriggDelayTime = 800;
    var hostname = $(location).attr('hostname');

    function ajaxFilters() {
        var view_movies = $('input[name=view_movies]').val();

        setTimeout(function () {
            if (view_movies === '') {
                $('input[name=view_movies]').val('list');
                $('.content-right').attr('id', 'list');
            }
            var form_filters = $('#filters-form');
            var data_form = form_filters.serialize();
            $.ajax({
                type: "POST",
                url: '/',
                data: data_form,
                success: function (response) {
                    console.log(data_form);
                    //location.href = 'http://' + hostname + '/index.php?page=home&' + data_form;
                    // $('.movies').empty().html(data_form + '<br><br>GUruuu, ovde ti ide ajax respond..:)');
                    //$('.movies').prepend("<strong class='block100 red-bck white padlr20 padtb5 radius4 mart10'>AJAX Filter is triggered</strong>");
                }
            });
        }, ajaxTriggDelayTime);
    }

    // checkbox
    $(".icheckbox,.iradio").iCheck({
        checkboxClass: 'icheckbox_minimal-grey',
        radioClass: 'iradio_minimal-grey'
    });

    $('#filters .iradio').on('ifChecked', function (e) {
        ajaxFilters();
    });


    // cotations range slider
    var listing_handle = $("#custom-listing-handle");
    var listing_sizes = [1,2,3,4,5];
    var initialValueListing = 2;
    listing_handle.text(listing_sizes[initialValueListing]);

    $("#listing-slider").slider({
        value: initialValueListing,
        min: 0,
        max: listing_sizes.length - 1,
        create: function (event, ui) {
            listing_handle.text(listing_sizes[ui.value]);
        },
        slide: function (event, ui) {
            listing_handle.text(listing_sizes[ui.value]);
        }
    });


    // public range slider
    var range_handle = $("#custom-range-handle");
    var range_sizes = ["ALL", "-10", "-12", "-16", "-18"];
    var initialValue = 2;
    range_handle.text(range_sizes[initialValue]);

    $("#range-slider").slider({
        value: initialValue,
        min: 0,
        max: range_sizes.length - 1,
        create: function (event, ui) {
            range_handle.text(range_sizes[ui.value]);
        },
        slide: function (event, ui) {
            range_handle.text(range_sizes[ui.value]);
        }
    });

    // listing slider instance
    // if ($("#listing-range-slider").length) {
    //     var listingSlider = $("#listing-range-slider").find('#listing-range').data("ionRangeSlider");
    // }
    // range slider instance
    // if ($("#public-range-slider").length) {
    //     var rangeSlider = $("#public-range-slider").find('#public-range').data("ionRangeSlider");
    // }
    // dropdown select
    if ($("#from-dropdown").length) {
        $("#from-dropdown").selectmenu({
            appendTo: $("#from-dropdown").next('.tags-autocomplete-holder')
        });
        $("#to-dropdown").selectmenu({
            appendTo: $("#to-dropdown").next('.tags-autocomplete-holder')
        });
    }
    if ($("#genres-dropdown").length) {
        $("#genres-dropdown").selectmenu({
            appendTo: $("#genres-dropdown").next('.tags-autocomplete-holder')
        });
    }
    if ($("#sort-dropdown").length) {
        $("#sort-dropdown").selectmenu();
    }
    $('.dropdown-select').on('selectmenuchange', function () {
        ajaxFilters();
    });

    // applied filters
    $('[data-input-element=listing-range-slider] a.filter-close').on('click', function () {
        var form_element = $(this).closest('.applied-filter-tag').attr('data-input-element');
        $('#' + form_element).find('#listing-range').data("ionRangeSlider").reset();
    })
    // $('[data-input-element=public-range-slider] a.filter-close').on('click', function () {
    //     var form_element = $(this).closest('.applied-filter-tag').attr('data-input-element');
    //     $('#' + form_element).find('#public-range').data("ionRangeSlider").reset();
    // })
    $(document).on('click', '.filter-close', function (e) {
        var form_element = $(this).closest('.applied-filter-tag').attr('data-input-element');
        $('#' + form_element + ' .iradio').iCheck('uncheck');
        $('#' + form_element + ' input.tags').tagit('removeAll');
        $('#' + form_element + ' .dropdown-select').val("").selectmenu("refresh");
        $('div[data-input-element=' + form_element + ']').fadeOut(200, function () {
            $(this).remove();
        });
    })
    $(document).on('click', '.reset-applied-filters', function (e) {
        $('.applied-filter-panel').fadeOut(200, function () {
            $(this).remove();
            resetFiltersForm();
        })
        e.preventDefault();
    });

    // switch movies view
    $(document).on('click', '#grid-view-switch', function (e) {
        $('input[name=view_movies]').val('grid');
        $('.content-right').attr('id', 'grid');
        ajaxFilters();
        return false;
    })
    $(document).on('click', '#list-view-switch', function (e) {
        $('input[name=view_movies]').val('list');
        $('.content-right').attr('id', 'list');
        ajaxFilters();
        return false;
    })

    // reset all filters form elements on page-load
    function resetFiltersForm() {
        if ($(".tags").length) {
            $('input.tags').tagit('removeAll');
        }
        $('#filters .iradio').iCheck('uncheck');
        if ($('#listing-range-slider').length) {
            // listingSlider.reset();
        }
        // if ($('#public-range-slider').length) {
        //     rangeSlider.reset();
        // }
        if ($(".dropdown-select").length) {
            $('.dropdown-select').val("");
            $('.dropdown-select').selectmenu("refresh");
        }
    }

    resetFiltersForm();

    // chosen dropdown
    $('.chosen-select').chosen({allow_single_deselect: false});


});
</script>
</body>
</html>
