<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="index, follow">
  <meta http-equiv="content-language" content="<%= I18n.locale %>"/>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="description" content="<%= @meta_description.blank? ? '' : @meta_description %>"/>
  <title><%= h @meta_title.blank? ? t('.title') : @meta_title %></title>
  <%= include_gon(namespace: 'Plush') %>
  <%= Gon::Base.render_data %>
  <% Gon.global.current_customer = current_customer if !customer_signed_in? %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :view_specific_css %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="icon" type="image/png" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("template/favicon114x114.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("template/favicon72x72.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("template/favicon57x57.png") %>">
</head>
<body id="<%= @body_id %>" class="<%= params[:kind] %> <%= current_customer ? :private : :public %> <%= I18n.locale %> <%= @body_class %>">
<div class="canavas" id="">
  <% if params[:controller] == "products" %>
      <%= render "layouts/application/filters_open_adaptive" %>
  <% end %>
  <%= render "layouts/application/side_menu_box_shadov" %>
  <div class="wrap">
    <%= render "layouts/header" %>
    <div id="content" class="<%= configure_content_div_html_class(params) %>">
      <% unless request.user_agent =~ /Mobile|webOS/ %>
          <%= render_promo_image_partial(params[:controller]) %>
      <% end %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </div>
</div>
<%= javascript_include_tag "application" %>
<script type="text/javascript" src="https://content.jwplatform.com/libraries/AIiTHvtC.js"></script>
<%= yield :run_specific_javascript %>
</body>
</html>