<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="index, follow">
  <meta http-equiv="content-language" content="<%= I18n.locale %>"/>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="description" content="<%= @meta_description.blank? ? '' : @meta_description %>"/>
  <title><%= h @meta_title.blank? ? t('.title') : @meta_title %></title>
  <%= include_gon(namespace: 'Plush') %>
  <%= Gon::Base.render_data %>
  <% Gon.global.current_customer = current_customer if !customer_signed_in? %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :view_specific_css %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="icon" type="image/png" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("template/favicon114x114.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("template/favicon72x72.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("template/favicon57x57.png") %>">
  <script src="https://content.jwplatform.com/libraries/D6L08XhR.js"></script>
  <%= javascript_include_tag "application" %>
  <%= yield :run_specific_javascript %>
</head>
<body id="<%= @body_id %>" class="<%= params[:kind] %> <%= current_customer ? :private : :public %> <%= I18n.locale %> <%= @body_class %>">
<div class="canavas" id="">
  <% if params[:controller] == "products" %>
      <%= render "layouts/application/filters_open_adaptive" %>
  <% end %>
  <%= render "layouts/application/side_menu_box_shadov" %>
  <div class="wrap">
    <%= render "layouts/header" %>
    <div id="content" class="<%= configure_content_div_html_class(params) %>">
      <% unless customer_signed_in? %>
          <% if params[:controller] == "products" %>
              <div class="container white-bck">
                <div href="#" class="promo-image rwd-bck display-block" style="background-image: url('http://staging.plush.be/assets/template/promo-image.jpg')">
                  <div class="promo-image-overlay">
                    <div class="promo-image-overlay-inner white bold">
                      <span>Vivez avec nous les plus grands moments du cinéma</span>
                      <button>Découvrez nos formules</button>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
      <%= yield %>
    </div>
    <% cache("layouts_footer_#{I18n.locale}", :expires_in => 15.minutes) do %>
        <%= render "layouts/footer" %>
    <% end %>
  </div>
</div>
<script>
jQuery.fn.extend({
    toggleText: function (a, b) {
        var isClicked = false;
        var that = this;
        this.click(function () {
            if (isClicked) {
                that.html(a);
                isClicked = false;
            }
            else {
                that.html(b);
                isClicked = true;
            }
        });
        return this;
    }
});



$(document).ready(function () {
    "use strict"; // Start of use strict

    function mainSidemenuState(state) {
        switch (state) {
            case 'on':
                $(".canavas").addClass('on');
                $("#overlay").addClass('on');
                break;
            case 'off':
                $(".canavas").removeClass('on');
                $("#overlay").removeClass('on');
                break;
        }
    }

    function filtersPanelState(state) {
        $('.content-left #filters-open-adaptive .fa').toggleClass("fa-arrow-up fa-arrow-down");
        switch (state) {
            case 'on':
                $('#filters-open-adaptive').addClass('on');
                $('.content-left').addClass('on');
                $("#overlay").addClass('on');
                break;
            case 'off':
                $('#filters-open-adaptive').removeClass('on');
                $('.content-left').removeClass('on');
                $("#overlay").removeClass('on');
                break;
        }
    }

    // preload canavas content
    $('.canavas').waitForImages(function () {
        $('.canavas').fadeIn('1000');
    })

    // toggle sidemenu (main menu)
    $(".side-menu-close").on('click', function () {
        mainSidemenuState('off');
    });

    $(".navbar-toggle").on('click', function () {
        mainSidemenuState('on');
    });

    //on resize window event
    $(window).resize(function () {
        //checkMq();
        //mainSidemenuState('off');
        //filtersPanelState('off');
    });

    // bootsrap affix navbar offset
    $('.navbar-default').affix({
        offset: {
            top: 80
        }
    })
    // bootsrap affix on top offset
    $('#on-top').affix({
        offset: {
            top: 380
        }
    })

    // scroll top -> on top
    $('#on-top').on('click', function (event) {
        $(this).removeClass('affix');
        $('html, body').animate({scrollTop: 0}, '500');
    });

    // clone main to side menu
    $(".top-header > div").clone().appendTo(".side-menu-login");
    $(".navbar-collapse").clone().appendTo(".side-menu-nav");
    $(".top-search-holder").clone().appendTo(".side-menu-search");


    // promo code top panel
    $('#user-status-switch').on('click', function () {
        $('.panel-enter-code, .top-green-status').toggleClass('on');
        return false;
    }).toggleText('<i class="fa fa-copy marr5"></i><a href="#" id="promo-code-open" class="no-decoration">(voir tout)</a>', '<i class="fa fa-minus marr5"></i><a href="#" id="promo-code-open" class="no-decoration"> (minimiser)</a>');

    //promo code left/filter panel
    $('#left-promo-code-trigger').on('click', function (e) {
        $('.left-promo-code').toggleClass("on");
        $('#left-promo-code-trigger .fa-caret-down').toggleClass("white");
        e.preventDefault();
    });

    // filters content left states
    $('#filters-open-adaptive').on('click', function () {
        $(this).toggleClass("green");
        if ($('.content-left').is(".on")) {
            filtersPanelState('off');
        } else {
            filtersPanelState('on');
            $(".canavas").removeClass('on');
        }
    });
    $('.chosen-select').chosen({allow_single_deselect: false});


});
</script>
<%= javascript_include_tag *webpack_asset_paths("application") %>
</body>
</html>
