<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
  <head>
    <title>
      <%= h @meta_title.blank? ? t('.title') : @meta_title %>
    </title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="<%= @meta_description.blank? ? '' : @meta_description %>">
    <%= favicon_link_tag "favicon.ico" %>
  	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css' />
	  <%= javascript_include_tag "application" %>
	  <%= javascript_include_tag "jquery.ui.datepicker-#{I18n.locale}" %>
    
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= render :partial => 'layouts/google_analytics' %>
    <%= render :partial => 'layouts/apple' %>
    <%= csrf_meta_tags %>
       
  </head>
  <body id="<%= @body_id %>" class="<%= params[:kind] %> <%= current_customer ? :private : :public %>">
    <% if current_customer && current_customer.suspended? %>
    <div id='p_suspended'>
      <ul id='suspended'>
        <li><%= current_customer.suspended_notification.html_safe %></li>
      </ul>
    </div>
    <% end %>
    <%= render(:partial => 'layouts/header') %>
    <div class="container clearfix">
      <% if !current_customer && (params[:controller] != 'home' && params[:controller] != 'customers/registrations' && params[:controller] != 'steps' && params[:page_name] != 'abo') and !(params[:controller] == 'promotions' and params[:id] == 'smarttv')%>
      <div id="subscribe-wrap">
        <%= link_to image_tag("#{I18n.locale}/banner_promo_hp#{@code ? "_#{@code.activation_group_id}" : ''}#{params[:kind] == :adult ? '_adult' : ''}.jpg", :size => '942x188', :alt => t(products_alt_banner)), new_customer_registration_path(:code => get_code(@discount_top.name)) %>
      </div>
      <% end %>
      <%= yield %>
    </div>
    </div>
    <!--   ==============   FOOTER   ==============   -->
    <div id="footer" >
      <div class="wrap">
        <% unless @hide_footer %>
        <ul>
          <li><h4><%= t '.explore' %></h4></li>
          <li><%= link_to t('layouts.header.home'), root_localize_path %></li>
          <li><%= link_to t('layouts.header.svod'), products_short_path(:package => t("routes.product.params.package.#{Moovies.packages.invert[params[:kind] == :normal ? 1 : 4]}")) %></li>
          <li><%= link_to t('layouts.header.tvod'), products_short_path(:package => t("routes.product.params.package.#{Moovies.packages.invert[params[:kind] == :normal ? 2 : 5]}")) %></li>
          <li><%= link_to t('layouts.header.price'), info_path(:page_name => t('routes.infos.params.abo')) %></li>
          <% if current_customer %>
            <li><%= link_to t('layouts.header.wishlist'), vod_wishlists_path %></li>
            <li><%= link_to t('layouts.menu.contact'), messages_path %></li>
          <% else %>
            <li><%= link_to t('layouts.menu.contact'), new_phone_request_path() %></li>
          <% end %>
        </ul>
        <% if I18n.locale != :en %>
        <ul>
          <li><h4><%= t '.follow' %></h4></li>
          <li><%= link_to "Facebook", Moovies.fb_url[I18n.locale], :target => "_blank" %></li>
          <li><%= link_to "Google+", Moovies.google_url[I18n.locale], :target => "_blank" %></li>
          <li><%= link_to "Twitter", Moovies.twitter_url[I18n.locale], :target => "_blank" %></li>
        </ul>
        <% end %>
        <ul>
          <li><h4><%= t '.how' %></h4></li>
          <li><%= link_to t('.contact'), new_phone_request_path %></li>
          <li><%= link_to t('.vod'), info_path(:page_name => t('routes.infos.params.vod')) %></li>
          <li><%= link_to t('.faq'), faq_path %></li>
        </ul>
        <ul>
          <li><h4><%= t '.about' %></h4></li>
          <li><%= link_to t('.who'), info_path(:page_name => t('routes.infos.params.whoweare')) %></li>
          <li><%= link_to t('.privacy'), info_path(:page_name => t('routes.infos.params.privacy')) %></li>
          <li><%= link_to t('.conditions'), info_path(:page_name => t('routes.infos.params.conditions')) %></li>
        </ul>
        <% end %>
      </div>
    </div>
       <!--   ==============   END FOOTER   ==============   -->
  <div id="close_face" style="display:none">
    <%= t('application.close') %>
  </div>
  </body>
</html>
