<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="index, follow">
  <meta http-equiv="content-language" content="<%= I18n.locale %>"/>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="description" content="<%= @meta_description.blank? ? '' : @meta_description %>"/>
  <title><%= h @meta_title.blank? ? t('.title') : @meta_title %></title>
  <%= include_gon(namespace: 'Plush') %>
  <%= Gon::Base.render_data %>
  <% Gon.global.current_customer = current_customer if !customer_signed_in? %>
  <!--<#%= csrf_meta_tags %>-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= yield :view_specific_css %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="icon" type="image/png" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("template/favicon114x114.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("template/favicon72x72.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("template/favicon57x57.png") %>">
  <script src="https://content.jwplatform.com/libraries/D6L08XhR.js"></script>
</head>
<body id="<%= @body_id %>" class="<%= params[:kind] %> <%= current_customer ? :private : :public %> <%= I18n.locale %> <%= @body_class %>">
<div class="canavas" id="">
  <% if params[:controller] == "products" %>
      <%= render "layouts/application/filters_open_adaptive" %>
  <% end %>
  <%= render "layouts/application/side_menu_box_shadov" %>
  <div class="wrap">
    <% if flash[:notice] %>
        <div class='flash_message'>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
        </div>
    <% end %>
    <% if flash[:error] || flash[:alert]%>
        <div class='flash_message'>
          <div class="flash_error">
            <%= flash[:error] %><%= flash[:alert] %>
          </div>
        </div>
    <% end %>
    <%= render "layouts/header" %>
    <div id="content" class="<%= configure_content_div_html_class(params) %>">
      <% unless customer_signed_in? %>
          <% if params[:controller] == "products" %>
              <div class="container white-bck">
                <div href="#" class="promo-image rwd-bck display-block" style="background-image: url('/assets/template/promo-image.jpg')">
                  <div class="promo-image-overlay">
                    <div class="promo-image-overlay-inner white bold">
                      <span>Vivez avec nous les plus grands moments du cinéma</span>
                      <button>Découvrez nos formules</button>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
      <% end %>
      <%= yield %>
    </div>
    <% cache("layouts_footer_#{I18n.locale}", :expires_in => 15.minutes) do %>
        <%= render "layouts/footer" %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "application" %>
<%= yield :run_specific_javascript %>
</body>
</html>
