<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="index, follow">
  <meta http-equiv="content-language" content="<%= I18n.locale %>"/>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <meta name="description" content="<%= @meta_description.blank? ? '' : @meta_description %>"/>
  <title>Promo Plush Orange</title>
  <%= include_gon(namespace: 'Plush') %>
  <%= Gon::Base.render_data %>
  <% Gon.global.current_customer = current_customer if !customer_signed_in? %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <style>
    #code-error {
      color: #94C951;
    }
  </style>
  <link rel="icon" type="image/x-icon" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="icon" type="image/png" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("template/favicon114x114.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("template/favicon72x72.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("template/favicon57x57.png") %>">
  <%= javascript_include_tag "application" %>
</head>
<body>
<div class="canavas" id="">
  <div id="overlay"></div>
  <div id="on-top" class="pad10 radius4 dark-gray-bck">
    <i class="fa fa-angle-up f30 light-gray"></i>
  </div>
  <div class="side-menu box-shadow">
    <div class="side-menu-close f33"></div>
    <div class="side-menu-login mart10 block100"></div>
    <div class="side-menu-nav mart15 block100"></div>
    <div class="side-menu-search mart15"></div>
  </div>
  <div class="wrap">
    <nav id="mainNav" class="navbar navbar-default white-bck promotion-top">
      <div class="navbar-header block100 padr20">
        <a class="navbar-brand" href="<%= root_localize_path %>"><%= image_tag "template/plush-logo-trans.png" %></a>
        <a class="navbar-brand pull-right" href="http://www.mobistar.be/" target="_blank"><%= image_tag "template/orange-logo.png" %></a>
      </div>
    </nav>
    <%= yield %>
    <%= javascript_include_tag *webpack_asset_paths("application") %>
    <%= javascript_include_tag *webpack_asset_paths("promotion_orange_mobistar") %>
  </div>
</div>
</body>
</html>