<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" CONTENT="noindex, nofollow">
  <title>Plush - Orange Promotion</title>
  <%= include_gon(namespace: 'Plush') %>
  <%= Gon::Base.render_data %>
  <% Gon.global.current_customer = current_customer if !customer_signed_in? %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="icon" type="image/x-icon" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="icon" type="image/png" href="<%= asset_path("template/favicon.ico") %>">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= asset_path("template/favicon114x114.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= asset_path("template/favicon72x72.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("template/favicon57x57.png") %>">
</head>
<body id="<%= @body_id %>" class="<%= params[:kind] %> <%= current_customer ? :private : :public %> <%= I18n.locale %> <%= @body_class %>">
<div class="canavas" id="">
  <div id="overlay"></div>
  <div id="on-top" class="pad10 radius4 dark-gray-bck">
    <i class="fa fa-angle-up f30 light-gray"></i>
  </div>
  <div class="side-menu box-shadow">
    <div class="side-menu-close f33"></div>
    <div class="side-menu-login mart10 block100"></div>
    <div class="side-menu-nav mart15 block100"></div>
    <div class="side-menu-search mart15"></div>
  </div>
  <div class="wrap">
    <nav id="mainNav" class="navbar navbar-default white-bck orange-promotion-top">
      <div class="navbar-header block100 padr20">
        <a class="navbar-brand" href="<%= root_localize_path %>"><%= image_tag "template/plush-logo-trans.png", alt: "Plush" %></a>
        <a class="navbar-brand pull-right" href="http://www.mobistar.be/" target="_blank"><%= image_tag "template/orange-logo.png", alt: "Orange" %></a>
      </div>
    </nav>
    <div id="content" class="orange-promotion">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>