<div id="online">
  <%= form_tag products_short_path(:package => params[:package].nil? ? Moovies.packages.invert[(params[:kind] == :adult ? 5 : 2)] : params[:package], :list_id => params[:list_id], :category_id => params[:category_id], :actor_id => params[:actor_id], :director_id => params[:director_id], :studio_id => params[:studio_id]), method: 'get', id: 'filter_online_form' do %>
      <div id="filters">
        <div class="left-item filters-top-buttons package open">
          <!--<a href="index.html#"
             class="btn lightergray-bck dark-blue OpenSansCondensed f23 block100 mart0"
             id="left-promo-code-trigger">Code Promo <i
          class="fa fa-caret-down white marl5 f17"></i> </a>
          <div class="block100 left-promo-code text-center overflow-hidden">
              <h4 class="dark-blue">Introduisez votre code promo ci-dessous</h4>
              <div class="block100 padlr10">
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  <input type="text" name="promo-code" placeholder="Code">
                </div>
                <input type="submit"
                       class="btn green-bck col-lg-2 col-md-2 col-sm-2 col-xs-2"
                       name="promo-code-submit" value="GO!">
              </div>
          </div>-->


          <%= hidden_field_tag :sort, params[:sort] %>
          <%= hidden_field_tag :belgium, params[:belgium] %>
          <%= link_to t("products.left_column.#{Moovies.packages.invert[(params[:kind] == :adult ? 5 : 2)]}"), products_short_path(:package => Moovies.packages.invert[(params[:kind] == :adult ? 5 : 2)], loadmore: 1), :id => "button-la-carte", :class => "tvod packages #{params[:package] == Moovies.packages.invert[(params[:kind] == :adult ? 5 : 2)] ? 'current' : ''} btn #{params[:kind] == :adult ? "light-violet-bck" : "light-blue-bck"} OpenSansCondensed f23 block100" %>
          <%= link_to t("products.left_column.#{Moovies.packages.invert[(params[:kind] == :adult ? 4 : 1)]}"), products_short_path(:package => Moovies.packages.invert[(params[:kind] == :adult ? 4 : 1)]), :id => "#{params[:kind] == :adult ? "button-18-plus" : "button-la-unlmited"}", :class => "svod packages #{params[:package] == Moovies.packages.invert[(params[:kind] == :adult ? 4 : 1)] ? 'current' : ''} btn OpenSansCondensed f23 block100" %>
          <%= link_to t("products.left_column.adult"), products_short_path(:kind => :adult), :id => "button-18-plus", :class => "adult packages btn violet OpenSansCondensed f23 block100" if params[:kind] != :adult %>
        </div>

        <!--CATEGORIES-->
        <div class="left-item mart15 f15" id="categories">

          <label class="OpenSansCondensed f20 black"><%= t('products.index.filters.link') %></label>
          <div class="col-md-11 col-sm-11 col-xs-11 mart5 text-left">
            <%= t('products.left_column.svod_last_added') %>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 mart5">
            <%= radio_button_tag('filters[view_mode]', "last_added", params[:filters] && params[:filters][:view_mode] == 'last_added' ? true : false, class: "iradio") %>
          </div>
          <div class="col-md-11 col-sm-11 col-xs-11 text-left mart10">
            <%= t('products.left_column.svod_most_viewed') %>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 mart10">
            <%= radio_button_tag('filters[view_mode]', "most_viewed", params[:filters] && params[:filters][:view_mode] == 'most_viewed' ? true : false, class: "iradio") %>
          </div>
          <div class="col-md-11 col-sm-11 col-xs-11 text-left mart10">
            <%= t('products.left_column.svod_last_chance') %>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 mart10">
            <%= radio_button_tag('filters[view_mode]', "last_chance", params[:filters] && params[:filters][:view_mode] == 'last_chance' ? true : false, class: "iradio") %>
          </div>
          <div class="col-md-11 col-sm-11 col-xs-11 text-left mart10">
            <%= t('products.left_column.svod_best_rated') %>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 mart10">
            <%= radio_button_tag('filters[view_mode]', "best_rated", params[:filters] && params[:filters][:view_mode] == 'best_rated' ? true : false, class: "iradio") %>
          </div>
          <div class="col-md-11 col-sm-11 col-xs-11 text-left mart10">
            <%= t('products.left_column.svod_soon') %>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 mart10">
            <%= radio_button_tag('filters[view_mode]', "soon", params[:filters] && params[:filters][:view_mode] == 'soon' ? true : false, class: "iradio") %>
          </div>
          <div class="col-md-11 col-sm-11 col-xs-11 text-left mart10">
            <%= t('products.left_column.svod_new') %>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 mart10">
            <%= radio_button_tag('filters[view_mode]', "new", params[:filters] && params[:filters][:view_mode] == 'new' ? true : false, class: "iradio") %>
          </div>
          <div class="col-md-11 col-sm-11 col-xs-11 text-left mart10">
            <%= t('products.left_column.svod_hd') %>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-1 mart10">
            <%= radio_button_tag('filters[view_mode]', "hd", params[:filters] && params[:filters][:view_mode] == 'hd' ? true : false, class: "iradio") %>
          </div>
        </div>
        <div class="left-item">
          <label class="OpenSansCondensed f20 black"><%= t('products.index.filters.category', :default => 'category') %></label>
              <%= collection_select(:filters, :category_id, Category.by_kind(params[:kind]).joins("descriptions_#{I18n.locale}".to_sym).includes("descriptions_#{I18n.locale}").roots.movies.vod.alphabetic_orderd, :id, :name, {:selected => params[:filters] && params[:filters][:category_id] ? params[:filters][:category_id] : nil, :include_blank => true}, {:class => 'chosen-select', 'data-placeholder' => "#{t('products.index.filters.category')}...", 'data-no_results_text' => t('products.index.filters.not_found')}) %>

        </div>
          <div class="left-item">
            <label class="OpenSansCondensed f20 black"><%= t('products.index.filters.audio', :default => 'audio') %></label>
                <%= collection_select(:filters, :audio, Language.by_language(I18n.locale), :id, :name, {:selected => params[:filters] && params[:filters][:audio] ? params[:filters][:audio] : nil, :include_blank => true}, {:multiple => true, :class => 'chosen-select', 'data-placeholder' => "audio...", 'data-no_results_text' => t('products.index.filters.not_found')}) %>
          </div>

          <div class="left-item">
            <label class="OpenSansCondensed f20 black"><%= t('products.index.filters.subtitles', :default => 'subtitles') %></label>
                <%= collection_select(:filters, :subtitles, Subtitle.by_language(I18n.locale), :id, :name, {:selected => params[:filters] && params[:filters][:subtitles] ? params[:filters][:subtitles] : nil, :include_blank => true}, {:multiple => true, :class => 'chosen-select', 'data-placeholder' => "#{t('products.index.filters.subtitles')}...", 'data-no_results_text' => t('products.index.filters.not_found')}) %>
          </div>
        <!--<div class="left-item">
          <label class="OpenSansCondensed f20"><#%= t('products.index.filters.ratings', :default => 'ratings') %></label>
          <div id="ratings-slider">
            <%#= hidden_field_tag "filters[rating_min]", params[:filters] && params[:filters][:rating_min] ? params[:filters][:rating_min] : 1 %>
            <%#= hidden_field_tag "filters[rating_max]", params[:filters] && params[:filters][:rating_max] ? params[:filters][:rating_max] : 5 %>
          </div>
          <div id="ratings-slider-range"></div>
        </div>-->

        <div class="left-item" id="from-to">
          <label class="OpenSansCondensed f20 block100 black"> <%= t('products.index.filters.year', :default => 'year') %></label>
          <% max = Time.now.year + 1 %>
          <% max_year = params[:date] && params[:date][:filters] && params[:date][:filters][:year_max] && params[:date][:filters][:year_max].to_i <= max ? params[:date][:filters][:year_max].to_i : max %>
          <div class="col-md-5 col-sm-5 col-xs-5 position-relative">
            <%= select_year (params[:date] && params[:date][:filters] && params[:date][:filters][:year_min] ? params[:date][:filters][:year_min].to_i : 1910), :field_name => 'filters[year_min]', :start_year => 1910, :end_year => max %>
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 text-center padt10">-</div>
          <div class="col-md-5 col-sm-5 col-xs-5 position-relative">
            <%= select_year max_year, :field_name => 'filters[year_max]', :start_year => 1910, :end_year => max %>
          </div>
        </div>

        <div class="left-item">
          <label class="OpenSansCondensed f20 black"><%= t('products.index.filters.countries', :default => 'country') %></label>
              <%= collection_select(:filters, :country_id, @countries, :id, :name, {:selected => params[:filters] && params[:filters][:country_id] ? params[:filters][:country_id] : nil, :include_blank => true}, {:multiple => true, :class => 'chosen-select', 'data-placeholder' => "#{t('products.index.filters.countries')}...", 'data-no_results_text' => t('products.index.filters.not_found')}) %>

        </div>

      </div>
  <% end %>
</div>

<script>
    $(document).ready(function () {

        History = window.History;

        if ($('#online #filters').html()) {


            load_form();

            // MAIN TOP BUTTONS START !!!

            $('#products_index, #film-details, #categories, #studios').delegate('#online #date_filters_year_min, #online  #date_filters_year_max', "change", function () {
                submit_online()
            });

            $('#products_index, #film-details, #categories, #studios').delegate('.packages.svod, .packages.tvod', 'click', function () {
                $('#filter_online_form').attr('action', $(this).attr('href'));
                $('.packages').removeClass('current');
                $(this).addClass('current');
                submit_online();
                return false;
            });

            $(".icheckbox,.iradio").iCheck({
                checkboxClass: 'icheckbox_minimal-grey',
                radioClass: 'iradio_minimal-grey'
            });

            $('.iradio').on('ifChecked', function (e) {
                submit_online();
            });

            $(document).on('click', '.filter-close', function (e) {
                var form_element = $(this).closest('.applied-filter-tag').attr('data-input-element');

                if (form_element === "Plush à la Carte") {

                    $(".reset-applied-filters").trigger("click");

                } else if (form_element === "Plush Unlimited") {

                    $(".reset-applied-filters").trigger("click");

                } else if (form_element === "Derniers ajouts" || form_element === "Laatste aanwinsten" || form_element === "Newly added") {

                    $('.iradio').iCheck('uncheck');
                    submit_online();

                } else if (form_element === "Les plus populaires" || form_element === "Meest bekeken" || form_element === "Most viewed") {

                    $('.iradio').iCheck('uncheck');
                    submit_online();

                } else if (form_element === "Dernière chance" || form_element === "Laatste kans" || form_element === "Last chance") {

                    $('.iradio').iCheck('uncheck');
                    submit_online();

                } else if (form_element === "Les mieux côtés" || form_element === "Beste beoordeeld" || form_element === "Best rated") {

                    $('.iradio').iCheck('uncheck');
                    submit_online();

                } else if (form_element === "Bientôt disponible" || form_element === "Binnenkort beschikbaar" || form_element === "Coming soon") {

                    $('.iradio').iCheck('uncheck');
                    submit_online();

                } else if (form_element === "Nouveautés" || form_element === "Nieuwe films" || form_element === "New movies") {

                    $('.iradio').iCheck('uncheck');
                    submit_online();

                } else if (form_element === "Haute Définition" || form_element === "High Definition") {

                    $('.iradio').iCheck('uncheck');
                    submit_online();

                }

                console.log(form_element);
            });

            $('#products_index, #film-details, #categories, #studios').delegate("#close_audience", "click", function () {
                $("#online #audience-slider-range").slider("values", [0, 4])
            });

            $('#products_index, #film-details').delegate("#close_country", "click", function () {
                $('#online #filters_country_id').val('').trigger('chosen:updated');
                submit_online()
            });

            $('#products_index, #film-details, #categories, #studios').delegate("#close_year", "click", function () {
                $("#online #date_filters_year_min").val($("#online #date_filters_year_min option:first").val());
                $("#online #date_filters_year_max").val($("#online #date_filters_year_min option:last").val());
                submit_online()
            });

            $('#products_index').delegate("#close_ratings", "click", function () {
                $("#ratings-slider-range").slider("values", [0, 18])
            });

            $('#products_index').delegate("#close_audios", "click", function () {
                $('#online #filters_audio').val('audio...').trigger('chosen:updated');
                submit_online()
            });

            $('#products_index').delegate("#close_subtitles", "click", function () {
                $('#online #filters_subtitles').val('sub...').trigger('chosen:updated');
                submit_online()
            });

            $('#products_index').delegate("#close_category", "click", function () {
                $('#online #filters_category_id').val('').trigger('chosen:updated');
                submit_online()
            });

            $('#products_index').delegate("#close_actor", "click", function () {
                $('#filter_online_form').attr('action', $(this).attr('url'))
                submit_online()
            })
            $('#products_index').delegate("#close_director", "click", function () {
                $('#filter_online_form').attr('action', $(this).attr('url'))
                submit_online()
            });

            $('#products_index').delegate("#close_view_mode", "click", function () {
                $('.links').prop('checked', false);
                submit_online()
            });

            $('#products_index').delegate("#close_belgium", "click", function () {
                $('#filter_online_form #belgium').val('')

                submit_online()
            });

            $('#products_index').delegate("#pagination.deactive a", "click", function () {
                ajax_pagination($(this).attr('href'))
                return false
            });


        }

        if ($('.edit_search_filter #filters').html()) {
            $("#filters ul li a").on("click", function () {
                $(this).parent().toggleClass('open');
                $(this).parent().children("div").toggle();
                return false;
            });
            audience_slider_values = {'0': 0, '10': 1, '12': 2, '16': 3, '18': 4};
            $("#audience-slider-range").slider({
                range: true,
                min: 0,
                max: 4,
                values: [audience_slider_values[$("#search_filter_audience_min").val()], audience_slider_values[$("#search_filter_audience_max").val()]],
                step: 1,
                slide: function (event, ui) {
                    actual_audience_values = {'0': 0, '1': 10, '2': 12, '3': 16, '4': 18};
                    $("#search_filter_audience_min").val(actual_audience_values[ui.values[0]]);
                    $("#search_filter_audience_max").val(actual_audience_values[ui.values[1]]);
                }
            });
            $("#ratings-slider-range").slider({
                range: true,
                min: 1,
                max: 5,
                values: [$("#online #search_filter_rating_min").val(), $("#online #search_filter_rating_max").val()],
                step: 1,
                slide: function (event, ui) {
                    $("#online #search_filter_rating_min").val(ui.values[0]);
                    $("#online #search_filter_rating_max").val(ui.values[1]);
                }
            });
            $('#products_index').delegate(".categorie_online", "click", function () {

                return false
            })
        }
        History.Adapter.bind(window, 'statechange', function () { // Note: We are using statechange instead of popstate
            // Log the State
            var State = History.getState(); // Note: We are using History.getState() instead of event.state
            $('.loading_bar').show()
            $.ajax({
                url: State.url,
                dataType: 'script',
                type: 'GET',
                data: {},
                success: function (data) {
                },
                error: function () {
                }
            });
        })
    });


    function submit_online() {
        if ($('.not_reload').length > 0) {
            if ($('#filter_online_form').attr('action').indexOf('?') > 0) {
                history_url = $('#filter_online_form').attr('action') + "&" + $('#filter_online_form').serialize()
            }
            else {
                history_url = $('#filter_online_form').attr('action') + "?" + $('#filter_online_form').serialize()
            }
            History.pushState(null, null, history_url);
        }
        else {
            $('#filter_online_form').submit();
        }
    }

    function load_form() {

        $('.chosen-select').chosen({allow_single_deselect: true}).change(function () {
            submit_online();
        });

        $("#online #ratings-slider-range").slider({
            range: true,
            min: 1,
            max: 5,
            values: [$("#filters_rating_min").val(), $("#filters_rating_max").val()],
            step: 1,
            change: function (event, ui) {
                $("#online #filters_rating_min").val(ui.values[0]);
                $("#online #filters_rating_max").val(ui.values[1]);
                submit_online()
            }
        });
        audience_slider_values = {'0': 0, '10': 1, '12': 2, '16': 3, '18': 4};
        $("#online #audience-slider-range").slider({
            range: true,
            min: 0,
            max: 4,
            values: [audience_slider_values[$("#online #filters_audience_min").val()], audience_slider_values[$("#online #filters_audience_max").val()]],
            step: 1,
            change: function (event, ui) {
                actual_audience_values = {'0': 0, '1': 10, '2': 12, '3': 16, '4': 18};
                $("#online #filters_audience_min").val(actual_audience_values[ui.values[0]]);
                $("#online #filters_audience_max").val(actual_audience_values[ui.values[1]]);
                submit_online()
            }
        });
    }
</script>