<% if request.user_agent =~ /Mobile|webOS/ %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('.alacarte') %></h3>
  </div>
  <div class="panel-body">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <%= t("mobile.must_see_movies") %>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <% cache("normal_products_index_hp_list_top_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @top, :title => :top, :type => nil, :view_mode => nil, :source => 64, :belgium => nil} if @top.size > 5 && params[:kind] != :adult%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <%= t("mobile.coming_soon") %>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <% cache("normal_products_index_hp_list_tvod_soon_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_soon, :title => :tvod_soon, :type => :tvod, :view_mode => :soon, :source => 14, :belgium => nil} if @tvod_soon.size > 5 %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <%= t("mobile.last_added") %>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <% cache("normal_products_index_hp_list_tvod_last_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last, :title => :tvod_last, :type => :tvod, :view_mode => :last_added, :source => 65, :belgium => nil} if @tvod_last.size > 5 %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <%= t("mobile.best_rated") %>
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <% cache("normal_nproducts_index_hp_list_tvod_best_rating_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_best_rating, :title => :tvod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @tvod_best_rating.size > 5 %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <%= t("mobile.the_most_watched") %>
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <% cache("normal_products_index_hp_list_tvod_most_view_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_most_view, :title => :tvod_most_view, :type => :tvod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @tvod_most_view.size > 5 %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <%= t("mobile.last_chance") %>
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body">
            <% cache("normal_products_index_hp_list_tvod_last_chance_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last_chance, :title => :tvod_last_chance, :type => :tvod, :view_mode => :last_chance, :source => 68, :belgium => nil} if @tvod_last_chance.size > 5 %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('.unlimited') %></h3>
  </div>
  <div class="panel-body">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
              <%= t("mobile.last_added") %>
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body">
            <% cache("normal_products_index_hp_list_svod_last_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_last, :title => :svod_last, :type => :svod, :view_mode => :last_added, :source => 65, :belgium => nil} if @svod_last.size > 5 %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingEight">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <%= t("mobile.best_rated") %>
            </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="panel-body">
            <% cache("normal_products_index_hp_list_svod_best_rating_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_best_rating, :title => :svod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @svod_best_rating.size > 5%>
            <% end %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingNine">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              <%= t("mobile.the_most_watched") %>
            </a>
          </h4>
        </div>
        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
          <div class="panel-body">
            <% cache("normal_products_index_hp_list_svod_most_view_mobile_#{I18n.locale}", :expires_in => 15.minutes) do %>
              <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_most_view, :title => :svod_most_view, :type => :svod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @svod_most_view.size > 5 %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<% else %>

  <div class="loading_bar" style="display:none"><%= image_tag 'loading.gif' %></div>
  <div id="maincontent" >
    <div id='filter_layout'></div>
    <div id="products">
       <div class="tvod"><h2><%= t('.alacarte') %> :</h2>
         <% if params[:kind] == :normal %>
           <% cache("normal_products_index_hp_list_top_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @top, :title => :top, :type => nil, :view_mode => nil, :source => 64, :belgium => nil} if @top.size > 5 && params[:kind] != :adult%>
           <% end %>
           <% cache("normal_products_index_hp_list_tvod_soon_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_soon, :title => :tvod_soon, :type => :tvod, :view_mode => :soon, :source => 14, :belgium => nil} if @tvod_soon.size > 5 %>
            <% end %>
           <% cache("normal_products_index_hp_list_tvod_last_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last, :title => :tvod_last, :type => :tvod, :view_mode => :last_added, :source => 65, :belgium => nil} if @tvod_last.size > 5 %>
           <% end %>
           <% cache("normal_nproducts_index_hp_list_tvod_best_rating_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_best_rating, :title => :tvod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @tvod_best_rating.size > 5 %>
           <% end %>
           <% cache("normal_products_index_hp_list_tvod_most_view_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_most_view, :title => :tvod_most_view, :type => :tvod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @tvod_most_view.size > 5 %>
           <% end %>
           <% cache("normal_products_index_hp_list_tvod_last_chance_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last_chance, :title => :tvod_last_chance, :type => :tvod, :view_mode => :last_chance, :source => 68, :belgium => nil} if @tvod_last_chance.size > 5 %>
           <% end %>
         <% elsif params[:kind] == :adult %>
           <% cache("adult_products_index_hp_list_top_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @top, :title => :top, :type => nil, :view_mode => nil, :source => 64, :belgium => nil} if @top.size > 5 && params[:kind] != :adult%>
           <% end %>
           <% cache("adult_products_index_hp_list_tvod_soon_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_soon, :title => :tvod_soon, :type => :tvod, :view_mode => :soon, :source => 14, :belgium => nil} if @tvod_soon.size > 5 %>
           <% end %>
           <% cache("adult_products_index_hp_list_tvod_last_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last, :title => :tvod_last, :type => :tvod, :view_mode => :last_added, :source => 65, :belgium => nil} if @tvod_last.size > 5 %>
           <% end %>
           <% cache("adult_products_index_hp_list_tvod_best_rating_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_best_rating, :title => :tvod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @tvod_best_rating.size > 5 %>
           <% end %>
           <% cache("adult_products_index_hp_list_svod_last_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_last, :title => :svod_last, :type => :svod, :view_mode => :last_added, :source => 65, :belgium => nil} if @svod_last.size > 5 %>
           <% end %>
           <% cache("adult_products_index_hp_list_svod_best_rating_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_best_rating, :title => :svod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @svod_best_rating.size > 5%>
           <% end %>
           <% cache("adult_products_index_hp_list_svod_most_view_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_most_view, :title => :svod_most_view, :type => :svod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @svod_most_view.size > 5 %>
           <% end %>
           <% cache("adult_products_index_hp_list_tvod_most_view_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_most_view, :title => :tvod_most_view, :type => :tvod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @tvod_most_view.size > 5 %>
           <% end %>
           <% cache("adult_products_index_hp_list_tvod_last_chance_#{I18n.locale}", :expires_in => 15.minutes) do %>
             <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last_chance, :title => :tvod_last_chance, :type => :tvod, :view_mode => :last_chance, :source => 68, :belgium => nil} if @tvod_last_chance.size > 5 %>
           <% end %>
         <% end %>
      </div>
      <div class="svod"><h2><%= t('.unlimited') %> :</h2>
        <% if params[:kind] == :normal %>
          <% cache("normal_products_index_hp_list_svod_last_#{I18n.locale}", :expires_in => 15.minutes) do %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_last, :title => :svod_last, :type => :svod, :view_mode => :last_added, :source => 65, :belgium => nil} if @svod_last.size > 5 %>
          <% end %>
          <% cache("normal_products_index_hp_list_svod_best_rating_#{I18n.locale}", :expires_in => 15.minutes) do %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_best_rating, :title => :svod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @svod_best_rating.size > 5%>
          <% end %>
          <% cache("normal_products_index_hp_list_svod_most_view_#{I18n.locale}", :expires_in => 15.minutes) do %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_most_view, :title => :svod_most_view, :type => :svod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @svod_most_view.size > 5 %>
          <% end %>
        <% elsif params[:kind] == :adult %>
          <% cache("adult_products_index_hp_list_svod_last_#{I18n.locale}", :expires_in => 15.minutes) do %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_last, :title => :svod_last, :type => :svod, :view_mode => :last_added, :source => 65, :belgium => nil} if @svod_last.size > 5 %>
          <% end %>
          <% cache("adult_products_index_hp_list_svod_best_rating_#{I18n.locale}", :expires_in => 15.minutes) do %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_best_rating, :title => :svod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @svod_best_rating.size > 5%>
          <% end %>
          <% cache("adult_products_index_hp_list_svod_most_view_#{I18n.locale}", :expires_in => 15.minutes) do %>
            <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_most_view, :title => :svod_most_view, :type => :svod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @svod_most_view.size > 5 %>
          <% end %>
        <% end %>
     </div>
    </div>
  </div>

  <%= render :partial => 'products/index/filters_online', :locals => { :countries => @countries} %>

  <div id='pagination_content'></div>

<% end %>
