<div id="slider-view">
  <div class="home-carousel-holder center-block">

    <div class="hr-with-words">
      <span class="Arial f22 <%= params[:kind] == :adult ? "light-violet" : "light-blue" %>"><%= t('.alacarte') %></span>
    </div>
    <% if params[:kind] == :normal %>
        <% cache("normal_products_index_hp_list_top_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @top, :title => :top, :type => nil, :view_mode => nil, :source => 64, :belgium => nil} if @top.size > 5 && params[:kind] != :adult %>
        <% end %>
        <% cache("normal_products_index_hp_list_tvod_last_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last, :title => :tvod_last, :type => :tvod, :view_mode => :last_added, :source => 65, :belgium => nil} if @tvod_last.size > 5 %>
        <% end %>
        <% cache("normal_nproducts_index_hp_list_tvod_best_rating_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_best_rating, :title => :tvod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @tvod_best_rating.size > 5 %>
        <% end %>
        <% cache("normal_products_index_hp_list_tvod_most_view_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_most_view, :title => :tvod_most_view, :type => :tvod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @tvod_most_view.size > 5 %>
        <% end %>
        <% cache("normal_products_index_hp_list_tvod_last_chance_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last_chance, :title => :tvod_last_chance, :type => :tvod, :view_mode => :last_chance, :source => 68, :belgium => nil} if @tvod_last_chance.size > 5 %>
        <% end %>
        <% cache("normal_products_index_hp_list_tvod_soon_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_soon, :title => :tvod_soon, :type => :tvod, :view_mode => :soon, :source => 14, :belgium => nil} if @tvod_soon.size > 5 %>
        <% end %>
    <% elsif params[:kind] == :adult %>
        <% cache("adult_products_index_hp_list_top_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @top, :title => :top, :type => nil, :view_mode => nil, :source => 64, :belgium => nil} if @top.size > 5 && params[:kind] != :adult %>
        <% end %>
        <% cache("adult_products_index_hp_list_tvod_last_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last, :title => :tvod_last, :type => :tvod, :view_mode => :last_added, :source => 65, :belgium => nil} if @tvod_last.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_tvod_best_rating_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_best_rating, :title => :tvod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @tvod_best_rating.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_svod_last_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_last, :title => :svod_last, :type => :svod, :view_mode => :last_added, :source => 65, :belgium => nil} if @svod_last.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_svod_best_rating_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_best_rating, :title => :svod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @svod_best_rating.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_svod_most_view_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_most_view, :title => :svod_most_view, :type => :svod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @svod_most_view.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_tvod_most_view_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_most_view, :title => :tvod_most_view, :type => :tvod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @tvod_most_view.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_tvod_last_chance_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_last_chance, :title => :tvod_last_chance, :type => :tvod, :view_mode => :last_chance, :source => 68, :belgium => nil} if @tvod_last_chance.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_tvod_soon_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @tvod_soon, :title => :tvod_soon, :type => :tvod, :view_mode => :soon, :source => 14, :belgium => nil} if @tvod_soon.size > 5 %>
        <% end %>
    <% end %>
  </div>

  <div class="home-carousel-holder center-block">
    <div class="hr-with-words">
      <span class="Arial f22 <%= params[:kind] == :adult ? "light-violet" : "light-green" %>"><%= t('.unlimited') %></span>
    </div>
    <% if params[:kind] == :normal %>
        <% cache("normal_products_index_hp_list_svod_last_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_last, :title => :svod_last, :type => :svod, :view_mode => :last_added, :source => 65, :belgium => nil} if @svod_last.size > 5 %>
        <% end %>
        <% cache("normal_products_index_hp_list_svod_best_rating_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_best_rating, :title => :svod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @svod_best_rating.size > 5 %>
        <% end %>
        <% cache("normal_products_index_hp_list_svod_most_view_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_most_view, :title => :svod_most_view, :type => :svod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @svod_most_view.size > 5 %>
        <% end %>
    <% elsif params[:kind] == :adult %>
        <% cache("adult_products_index_hp_list_svod_last_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_last, :title => :svod_last, :type => :svod, :view_mode => :last_added, :source => 65, :belgium => nil} if @svod_last.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_svod_best_rating_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_best_rating, :title => :svod_best_rating, :type => :tvod, :view_mode => :best_rated, :source => 66, :belgium => nil} if @svod_best_rating.size > 5 %>
        <% end %>
        <% cache("adult_products_index_hp_list_svod_most_view_#{I18n.locale}_orange_2017", :expires_in => 15.minutes) do %>
          <%= render :partial => 'products/index/hp_list', :locals => {:data => @svod_most_view, :title => :svod_most_view, :type => :svod, :view_mode => :most_viewed, :source => 67, :belgium => nil} if @svod_most_view.size > 5 %>
        <% end %>
    <% end %>
  </div>
</div>
