<% product = movie_details %>
<% data = product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>
<% product_description =  data[:description] %>
<% path = product_path(:id => product.to_param, :source => @source, :response_id => @response_id) %>
<div class="movie-wrap">
  <div class="movie-ttl">
    <h3><%= link_to product_title, path, :target => target %></h3>
    <div class="stars vote" id="rating-stars-<%= product.id %>" product_id="<%= product.id %>">
      <%= render :partial => 'products/rating', :locals => {:product => product, :background => :white, :size => :long, :source => @source, :response_id => @response_id} %>
    </div>
  </div><!-- .movie-ttl -->
  <div class="movie-content">
    <div class="movie-descr">
      <div class="cast">
        <% if !product.actors.empty?  %>
        <h4><%= t '.actors' %></h4>
        <p><%= product.actors.collect{|actor| link_to actor.name, actor_products_path(:actor_id => actor.to_param)}.join(', ').html_safe %></p>
        <% end %>
        <% if product.director && !product.adult? %>
          <h4><%= t '.director' %></h4>
          <p><%= link_to product.director.name, director_products_path(:director_id => product.director.to_param) %></p>
        <% end %>
        <% if product.adult? && product.studio %>
          <h4><%= t '.studio' %></h4>
          <p><%= link_to product.studio.name, studio_products_path(:studio_id => product.studio.to_param) %></p>
        <% end %>
      </div>
      <p><%= truncate_html(product_description.text, :length => 300) %></p>
      
      <%= link_to(t('.more'), path, :target => target, :class => 'osc') %>
      <div class="thumb-wrap">
        <%= "<span class='hd'></span>".html_safe if product.hd?(session[:country_id]) %>
        <%= link_to path, :target => target, :class => :cover, :alt => product_title do %>
          <%= product_image_tag product_image, :width => 100 %>
        <% end %>
      </div>
      
      <!--<span class="hd"></span>-->
    </div><!-- .movie-descr -->

    <div class="oters">
      <ul class="lang">
        <li class="left dark osc"><%= product.public.name if product.public %></li>
        <%= bubbles(product).html_safe %>
      </ul>

      <div class="links" id="seen-uninterested-<%= product.to_param %>">
        <%= render :partial => 'products/show/seen_uninterested', :locals => {:product => product, :source => @source, :response_id => @response_id} if current_customer %>
      </div>
      <ul class="btns osc">
        <li>
          <%= render :partial => 'products/streaming',  :locals => {:product => product, :source => @source, :response_id => @response_id} %>
        </li>
        <li>
          <%= render :partial => 'products/vod_list',  :locals => {:product => product, :source => @source, :response_id => @response_id} %>
        </li>
        <% if product.trailer? %>
        <li>
          <%= link_to(t('.trailer'), product_trailer_path(:product_id => product.to_param, :source => @source, :response_id => @response_id), :class => 'trailer', :target => :_blank) %>
        </li>
        <% end %>

      </ul>
    </div><!-- .oters -->
  </div><!-- .movie-content -->
</div><!-- .movie-wrap -->
