<% product = movie_details_jacket %>
<% data = product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>

<% path = product_path(:id => product.to_param, :source => @source, :response_id => @response_id) %>
<div class="movie-wrap-jacket">
    <div class="thumb-wrap">
      <%= "<span class='hd'></span>".html_safe if product.hd?(session[:country_id]) %>
      <%= link_to path, :target => target, :class => :cover, :alt => product_title, 'data-url' => product_data_path(:product_id => product.to_param, :source => @source, :response_id => @response_id)  do %>
        <%= product_image_tag product_image, :width => 125 %>
      <% end %>
      <div class="tooltips" style="display:none">
        <p class="tooltips_title"><%= product_title %> (<%= product.year %>)</p>
        <p class="tooltips_description"><%= truncate_html(data[:description].text, :length => 500) %> </p>
        <p class="tooltips_rating"><%= render :partial => 'products/rating', :locals => {:product => product, :background => @rating_color, :size => :long, :source => @source, :response_id => @response_id} %></p>
        <p class="tooltips_runtime"><%= t('.runtime') %> <%= product.runtime %> <%= t('.minutes') %></p>
        <div class="tooltips_other">loading</div>
      </div>
    </div>
      <!--<span class="hd"></span>-->
</div><!-- .movie-wrap -->
