<% product = movie_details_jacket %>
<% data = product.description_data(true) %>
<% product_title = data[:title] %>
<% product_image = data[:image] %>
<% div_id = "#{product.id}#{Random.rand(1000)}"%>
<% path = product_path(:id => product.to_param, :source => @source, :response_id => @response_id) %>
<div class="movie-wrap-jacket">
    <div class="thumb-wrap">
      <% cache(product.id, :expires_in => 2.hour) do %>
        <%= "<span class='hd'></span>".html_safe if product.hd?(session[:country_id]) %>
      <% end %>
      <%= link_to path, :target => target, :class => :cover, :alt => product_title, 'data-url' => product_data_path(:product_id => product.to_param, :source => @source, :response_id => @response_id, :div_id => div_id)  do %>
        <%= product_image_tag product_image, :width => 125 %>
      <% end %>
      <div class="tooltips" style="display:none">
        <div class="main-part">
          <div class="tooltips_other" id = "<%= div_id %>">loading</div>
       </div>
       <div class="footer-green">
         <%= link_to new_customer_session_path( :moovie_id => @product.id ) do %>
           <label><u>Abonnez-vous</u></label>
         <% end %>
 				<label>et regardez ce film pour seulement <b>3,99€</b></label>
 			</div>
      </div>
    </div>
</div>
